[2021-04-12 11:28] samkit-jain commented on #285
Hi @situchen Could you please provide some more information? Like the table extraction strategy you are using and the PDF

[2021-04-12 11:47] situchen commented on #285
@samkit-jain
def extract_table_cell_text(page):
    try:
        page_object = page.dedupe_chars()
    except Exception as err:
        print(f'remove chars，error msg is {err}')
        page_object = page

    row_num = 0
    pdf_result_list = []
    for table in page_object.extract_tables():
        for row in table:
            cell_num = 1
            for cell in row:
                if cell:

[2021-04-12 11:59] situchen commented on #285
The current result is:
![image](https://user-images.githubusercontent.com/63528537/114390890-6169fd80-9bc9-11eb-8c21-46d688991c2c.png)

The result I expect is:
![image](https://user-images.githubusercontent.com/63528537/114390995-852d4380-9bc9-11eb-9c3b-73ba98fd718f.png)

[2021-04-12 12:19] samkit-jain commented on #285
Thanks for sharing the PDF @situchen Using the default table extraction settings, this is the result I get
![image](https://user-images.githubusercontent.com/15127115/114392357-4772ef80-9bb6-11eb-8e7c-425c0362e56e.png)
You'll notice that there is a hidden horizontal line separator in the "Base Material" cell and that's why it is coming in 2 cells.

To discard those invisible lines, you may use the

[2021-04-12 13:12] situchen commented on #285
Thank you for your answers, thank you very much!

[2021-04-13 02:24] situchen commented on #285
When I was processing it, I found that the lines in the yellow wire frame would be lost, please see the picture for details
![image](https://user-images.githubusercontent.com/63528537/114487589-6a4ae580-9c42-11eb-8650-3b99b463fd48.png)

[test_table_merged_pdf_2.pdf](https://github.com/jsvine/pdfplumber/files/6300828/test_table_merged_pdf_2.pdf)

[2021-04-15 07:46] holytony opened #413 "Visual debugging raise ValueError: Decompressed Data Too Large"
## Describe the bug

While trying to using the visual debugging tool in pdf plumber,  the module had issue converting certain pdf file to PageImage obj, raise ValueError: Decompressed Data Too Large, which seems to be caused by issue with Pillow module

By the way, here is pdf file I was dealing with
[pdf_file_link](https://papers.gceguide.com/A%20Levels/Physics%20(9702)/2020/9702_w20_qp_22.pdf
)

[2021-04-15 08:03] OK-JH opened #414 "The visualization result is right，but the extraction result is wrong！"
## Describe the bug

The visualization result is right，but the extraction result is wrong！and they use the same setting

## Code to reproduce the problem
the main codes as follow:
setting = {
            "vertical_strategy": "lines",
            "horizontal_strategy": "lines",
            "explicit_horizontal_lines": page.curves,
            "explicit_vertical_lines": page.edges+page.curves,

[2021-04-15 09:17] samkit-jain commented on #414
Hi @OK-JH Appreciate your interest in the library. If you draw the characters (`im.draw_rects(page.chars)`), you'll notice that those numbers are actually a part of the second column and not the third and that's why you are noticing this unexpected behaviour. ![image](https://user-images.githubusercontent.com/15127115/114844755-b770b800-9df8-11eb-831a-dc1549a2ed83.png)

As to why this is happening

[2021-04-15 11:27] samkit-jain commented on #413
Hi @holytony Appreciate your interest in the library. Can you try modifying the memory values in the file at `/etc/ImageMagick-6/policy.xml` (The actual path might be different in your computer for the `policy.xml` file)? The portion of interest would be something like

[code]

I also found [this](https://stackoverflow.com/questions/42671252/python-pillow-valueerror-decompressed-data-too-large) St

[2021-04-15 14:48] holytony commented on #413
this is the policy.xml I got on my imagemagick 7
given the look from the default value given in the file, doesn't seem like to be the cause

`<policy domain="resource" name="temporary-path" value="/tmp"/> -->
  <policy domain="resource" name="memory" value="2GiB"/> -->
  <policy domain="resource" name="map" value="4GiB"/> -->
  <policy domain="resource" name="width" value="10KP"/> -->
  <policy do

[2021-04-15 15:11] holytony commented on #413
by the way, here is pdf file I was dealing with
[pdf_file_link](https://papers.gceguide.com/A%20Levels/Physics%20(9702)/2020/9702_w20_qp_22.pdf
)

[2021-04-16 11:00] situchen commented on #391
![image](https://user-images.githubusercontent.com/63528537/115015240-f2044e80-9ee5-11eb-8364-4faae6111000.png)

hi， @jsvine ，When I extract the text in the specified area, there are images that will affect the accuracy of my extraction, and the spaces in the specified area will be removed. If I use Adobe Acrobat software to delete the picture and then extract the specified area, the extraction is

[2021-04-17 18:34] samkit-jain commented on #413
I tried replicating the issue on my machine but couldn't using the code you provided and the PDF. Did you try the answers provided at https://stackoverflow.com/q/42671252/7760998?

[2021-04-20 07:03] holytony commented on #413
nah, not working....

[2021-04-20 07:03] holytony commented on #413
nah, unfortunately not working

[2021-04-20 13:12] #343 closed, assigned to jsvine

[2021-04-20 13:17] jsvine commented on #391
Hi @situchen, your inquiry seems unrelated to this issue thread. Please instead open a discussion [here](https://github.com/jsvine/pdfplumber/discussions/categories/get-help-with-specific-pdfs) and provide as much details (including the original PDF, the code you're using, etc.) as possible, so that we can best help you.

[2021-04-20 13:27] jsvine commented on #285
To me, this seems like a difficult problem — you want to ignore non-black lines in most cases ... but not all of them. It may be possible to do so, but you'll have to find a set of rules for what `non_stroking_color` will lead rects to be retained or filtered out.

[2021-04-22 03:39] shm007g opened #419 "no root object error"
## Describe the bug

Open regular pdf file, it ends with no root object error.

## Code to reproduce the problem
[code]

## PDF file
[20000101.pdf](https://github.com/jsvine/pdfplumber/files/6355349/20000101.pdf)

## Expected behavior

get real text data from pdf file.

## Actual behavior

error happens.

## Screenshots

[code]

## Environment

[code]

[2021-04-22 08:34] tungph opened #420 "Duplicate value for merged cell instead of `None`"
Hi there,
Firstly, I want to thank you for creating this awesome `pdfplumber` project. I have been using it a lot lately.
Secondly, I'm facing a problem and want to propose change to the output of the table module regarding the utility `extract_tables` with merged cells.
As it is now, only the first row of the merged cell has value, the remaining cells get `None`.
![image](https://user-images.gith

[2021-04-22 09:45] sreeni5493 opened #421 "text extraction fails when cropping page to page height and width for certain PDFs"
[v1.pdf](https://github.com/jsvine/pdfplumber/files/6357228/v1.pdf)

[code]

In this PDF with the above code I get the error shown. Any simple way to fix this. Also if origin is shifted inside some mediabox, cropbox or something wont the library not work. I need to crop because sometimes there are text in negative coordinates which I do not want. So I need to crop text that is there in the visible

[2021-04-22 16:19] samkit-jain commented on #419
Hi @shm007g Appreciate your interest in the library. This is not a bug of the library but rather because the PDF is not correctly formed (as per the PDF specification). You may try repairing the PDF using ghostscript and then using it. You may run the following command to do so
[code]

I repaired the PDF and you can download it from [here](https://github.com/jsvine/pdfplumber/files/6359770/output.

[2021-04-22 16:19] #419 closed, assigned to samkit-jain

[2021-04-23 02:30] shm007g commented on #419
Thanks very much! Can you tell me how you repaire? I Have a `can't find cid font` error. Not fix this for one day.

[code]

[2021-04-23 07:12] samkit-jain commented on #419
Yes, I also received the same message but I was able to extract all the text still so I think the output file should be good to go. Did you find any issues with it?

[2021-04-23 07:41] shm007g commented on #419
Some tokens lost or changed to unvalid one. I also tried merge command like
`gs -q -sDEVICE=pdfwrite -dBATCH -sOUTPUTFILE=${line%.*}_mod.pdf -dNOPAUSE "${line}` same problem but does not have this font errors.

[2021-04-23 07:42] shm007g commented on #419
Some tokens lost or changed to unvalid one. I also tried merge command like
`gs -q -sDEVICE=pdfwrite -dBATCH -sOUTPUTFILE=${line%.*}_mod.pdf -dNOPAUSE "${line}` same problem but does not have this font errors.

[2021-04-26 09:07] msakthiganesh opened #423 "Unable to extract more than 1 table from a page"
Hi,

I am unable to extract more than one table from a single page. The `extract_table `method output contains only the values from the first table even though `extract_text` method contains the text formatted table values. Is there any way I can extract more than one table from a single page using the `extract_table `method?

Here's my function to convert the `extract_table `method output to a da

[2021-04-26 13:29] jsvine commented on #423
Please see `.extract_tables(...)`, as documented [here](https://github.com/jsvine/pdfplumber#table-extraction-methods).

[2021-04-26 13:29] #423 closed, assigned to nobody

[2021-04-26 13:30] areqq opened #424 "Decode text issue - (cid:49)(cid:52)(cid:56)(cid:44)(cid:56) instead of text"
## Describe the bug

I have got (cid:87) instead od char.

## PDF file

[wfirma_Faktura_FV_1_2021.pdf](https://github.com/jsvine/pdfplumber/files/6377365/wfirma_Faktura_FV_1_2021.pdf)

## Screenshots

object_type,page_number,x0,x1,y0,y1,doctop,top,bottom,width,height,adv,bits,colorspace,evenodd,fill,fontname,imagemask,linewidth,name,non_stroking_color,pts,size,srcsize,stream,stroke,stroking_color,

[2021-04-26 13:33] jsvine commented on #421
Thanks for flagging this. I'll look into ways of handling this. In the meantime, you should be able to handle your particular use-case this way:

[code]

[2021-04-26 13:36] jsvine commented on #424
Hi @areqq, text conversion is handled by [pdfminer.six](https://github.com/pdfminer/pdfminer.six). In that repo's issues, you can see similar issues raised by other people and how they have (or have not) been resolved: https://github.com/pdfminer/pdfminer.six/issues?q=is%3Aissue+%22cid%3A%22

[2021-04-26 13:36] #424 closed, assigned to nobody

[2021-04-26 13:49] jsvine commented on #420
Hi @tungph, thanks for your interest in this library and thank you for the PR. I agree that `pdfplumber`'s current approach to complex tables is not optimal, but it is the result of not wanting to over-impose assumptions about any given table. The handling of merged cells in tables is a tricky topic, and one with a lot of edge cases — what may be a good solution for one set of tables may be a poor

[2021-04-26 16:09] msakthiganesh commented on #423
Thank you! Not sure how I missed that :D

[2021-04-29 04:46] tungph commented on #420
Thank you for the consideration, @jsvine. Please let me know if you found bug with my PR. I'm happy to provide fix.

[2021-05-03 09:07] sreeni5493 opened #425 "Text extraction generated words have location that is completely off from where they actually are present"
[v2.pdf](https://github.com/jsvine/pdfplumber/files/6413875/v2.pdf)

In this case, the PDF word locations are completely off.

Please refer to below image generated from the following code:
[code]

The words are not properly marked. This is leading to highlighting issue. Anyway this can be fixed from our end itself or is this a more fundamental issue?

![asd](https://user-images.githubusercontent.

[2021-05-04 05:41] sreeni5493 commented on #425
page.chars is actually wrong. This of course leads to words being wrongly extracted. Here is the characters image. There seems to be a shift in character in y axis for some.

![asd_chars](https://user-images.githubusercontent.com/15212113/116964546-6baf8100-acc9-11eb-95c4-120a82df4273.png)

[2021-05-05 01:11] kaitdsdev01 opened #426 ".."

[2021-05-05 01:11] #426 closed, assigned to nobody

[2021-05-05 01:18] safwanolaimat opened #427 "to_image function does not include symbols like "+","=" etc"
## Describe the bug

*I have used this library to create images of pdf pages
the pdf pages contains equations

and the image produced didn't contains symbols*

## Environment

- pdfplumber version: pdfplumber==0.5.27
- Python version: Python 3.8.5
- OS: Linux

[2021-05-05 01:20] AliHaider20 commented on #427
Can you share the output?

[2021-05-08 20:48] jsvine commented on #425
Hi @sreeni5493, `pdfplumber` depends on  `pdfminer.six` for coordinate extraction. Have you compared the coordinate output here to the [those in `pdfminer.six`](https://pdfminersix.readthedocs.io/en/latest/tutorial/extract_pages.html)? (For that, see `y0` and `y1` instead of `top`/`bottom`.) Are those also off? If so, better to file an issue there. Or does it appear that `pdfplumber` is introducin

[2021-05-09 09:53] samkit-jain commented on #425
I missed the notification for this issue and was just reminded of it after the reply from @jsvine, @sreeni5493, In such cases, my first intuition is to try and repair the PDF using Ghostscript and when I did repair the PDF using it, the issue is no more. See the screenshots below for both the pages 1 and 2
![page1](https://user-images.githubusercontent.com/15127115/117567405-de5d9980-b0d9-11eb-881

[2021-05-09 20:58] jsvine commented on #425
Smart to test that, @samkit-jain. Many thanks. Closing this issue, given your findings.

[2021-05-09 20:58] #425 closed, assigned to nobody

[2021-05-10 05:39] sreeni5493 commented on #425
@jsvine @samkit-jain  Is it possible to do this repairing in pdfplumber without gs? gs is not commercial. Also since we deal with PDFs here there are chances of some cases where PDFs might be like this. Is it possible to have this repair functionality in pdfplumber? Also what was the issue that caused this? Any idea?

[2021-05-10 05:39] sreeni5493 commented on #425
Also, big thanks to both of you.

[2021-05-10 07:49] sreeni5493 commented on #425
Btw posted this issue in pdfminer.six. Is it active? The last issue they tried replying was back in March 12.

[2021-05-11 04:13] samkit-jain commented on #425
Not sure but ideally, it should be present at the `pdminer.six` level and `pdfplumber` facilitating the fixing via that.

Ghostscript has licenses for both commercial and non-commercial usage as can be found at https://www.ghostscript.com/download/gsdnld.html.

I haven't looked into this in much detail so can't comment as of now as any comment I make will just be an assumption.

[2021-05-11 05:00] xhdavid opened #431 "Unable to extract text from table"
## Describe the bug
The table is extracted correctly in visualization, but the text in the table is not extracted.

## Code to reproduce the problem

The code is as follows:

pdf = pdfplumber.open(file_path)
p0 = pdf.pages[0]
table = p0.extract_tables()
pd.DataFrame(table[1:],columns=page[0])

## PDF file

[Order.pdf](https://github.com/jsvine/pdfplumber/files/6456614/Order.pdf)

## Actual behavio

[2021-05-11 05:44] samkit-jain commented on #431
Hi @xhdavid Appreciate your interest in the library. This PDF has the STSONG font and appears to be a duplicate of #332. If the text isn't recognised when you run `pdfminer.six`'s pdf2txt as described in https://pdfminersix.readthedocs.io/en/latest/tutorial/commandline.html#pdf2txt-py, I would recommend you to raise an issue over at https://github.com/pdfminer/pdfminer.six/issues. If it is recogni

[2021-05-11 05:44] #431 closed, assigned to nobody

[2021-05-11 13:25] jsvine commented on #425
Thanks @samkit-jain, and I agree: Repairing malformed PDFs is outside the scope of this library.

And @sreeni5493, passing `-dDEBUG` to the `gs` command may reveal some additional clues, although I'm not particularly familiar with that output.

[2021-05-11 13:42] xhdavid commented on #431
@samkit-jain Hi,Just tested with pdf2txt.py, the text can be recognized.

![image](https://user-images.githubusercontent.com/55748844/117825218-b7ea5a80-b2a1-11eb-9322-40c5a21428d4.png)

[2021-05-11 21:53] anirudhpnbb commented on #201
Maybe it(the page) can be temporarily stored as an image, then extract results I mean the bounding boxes and then can be deleted right?

[2021-05-15 16:00] samkit-jain commented on #431
@xhdavid That's weird. Can you tell me the steps on how you ran the script and how you installed `pdfminer.six`? When I ran the script on my machine, I am getting the result as
[code]
which is the same as what `pdfplumber` is extracting

[2021-05-29 01:25] Roy-Kid opened #438 "How to extract tables in scientific articles"
Hi, I want to extract the data sheet in the science-published paper, but it seems not to work due to the tables doesn't have a sperator. Here is the table looks like:
![image](https://user-images.githubusercontent.com/42854324/120053867-35161d80-c05f-11eb-94fa-4c7951199dc5.png)
![image](https://user-images.githubusercontent.com/42854324/120053939-a6ee6700-c05f-11eb-8908-361860bd9ba6.png)

and I at

[2021-05-29 18:03] samkit-jain commented on #438
Hi @Roy-Kid Appreciate your interest in the library. For tables that don't have vertical lines separating the columns, there are a couple of things that you can try
1. Use the `text` strategy
2. Explicitly specify the coordinates of the columns

You may know more about the various table extraction strategies at https://github.com/jsvine/pdfplumber#table-extraction-settings Using the `text` strateg

[2021-05-30 00:40] Roy-Kid commented on #438
Thanks for your kindly help! I wonder that as for as you know, is there a lib that can do this perfectly? If not, how hard to dev a lib with opencv? I need to dev a paper inspector software to mine the data automatically.

[2021-05-30 15:34] samkit-jain commented on #438
[`camelot`](https://github.com/camelot-dev/camelot), [`tabula-py`](https://github.com/chezou/tabula-py), and [`pdftables`](https://github.com/drj11/pdftables) can be tried.

[2021-05-30 15:34] #438 closed, assigned to nobody

[2021-05-30 15:42] awa5114 commented on #62
@suyogchadawar Are there any future plans to add this sort of functionality to `pdfplumber`? It would be extremely useful.

I had a look at CPDF, but what I'm trying to achieve is not only crop the pdf but also the underlying text content. For instance, suppose my pdf contains the text "Hello world" (pseudocode):

[code]

Now suppose I would like to write this cropped page to a called  `file_conta

[2021-06-02 11:33] sreeni5493 commented on #425
It seems pdfminer is inactive for a long time.

Issues are not getting any response from anyone relevant from the contributors or authors.

https://github.com/pdfminer/pdfminer.six/issues/619  (Issue related to this which I have posted there)

Similar issue just before mine:
https://github.com/pdfminer/pdfminer.six/issues/618

This Y-offset issue is something that is persistent in pdfminer. Not ju

[2021-06-03 03:41] rcdosado commented on #162
hello, i just want to ask what is the recommended way of generating PDFPlumber Page object to PDF?i have cropped a PDFPlumber  object and want to dump it as pdf, i'm also using PyPDF2, is there a way to convert PDFPlumber object to PyPDF pdf object so i can write it to file?thanks

[2021-06-05 15:51] jsvine commented on #162
Hi @rcdosado, this library focuses only on extracting information from PDFs, rather than writing it. So although what you’re asking about does sound interesting, it is not part of this library’s functionality.

[2021-06-05 15:57] jsvine commented on #425
Hi @sreeni5493 — yes, it seems that the maintainers of `pdfminer.six` sometimes take a break, which to me seems natural and common for open-source projects. If it goes permanently inactive I may consider finding other backends to handle the PDF parsing; right now, though, it still seems like the best option and is heavily depended on by this project.

[2021-06-07 22:34] linuxsoftware opened #443 "to_image of grey text results in a fully white image"
Thank you for this extremely useful library.

I had a problem with visual debugging of a PDF that was mostly grey.  All the text turned white so it could not be seen.

Here is an [example PDF](https://github.com/linuxsoftware/pdfplumber/raw/stable/tests/pdfs/grey.pdf).

The problem is ImageMagick creates the image of the page as a 16bit greyscale PNG, but Pillow has a documented issue with convert

[2021-06-08 12:01] Cppowboy commented on #81
Could you please tell me where is that plocy.xml file?

[2021-06-08 21:55] jsvine commented on #81
@Cppowboy: I believe the location of `policy.xml` will depend on your operating system and the manner in which you installed ImageMagick. Hopefully a web search with those details can point you in the correct direction.

[2021-06-08 21:58] jsvine commented on #443
Hi @linuxsoftware, and thanks for flagging this! Since the default seems to work well for most PDFs, I'd lean toward an approach that allows the user to specify the conversion mode via an argument passed to `get_page_image(...)` and `Page.to_image(...)`. I'll put this on my todo list, though you're also welcome to [submit a PR](https://github.com/jsvine/pdfplumber/blob/stable/CONTRIBUTING.md).

[2021-06-08 23:10] linuxsoftware commented on #443
I was thinking about this and realized it is already possible to pass a user-created original image in to `to_image` so perhaps the code does not need to change at all.

e.g.
[code]
The main thing is for the user to realize the 8 bit limitation of Pillow when converting images.  Perhaps it is enough that this conversation will now show up in searches, or perhaps it's worth a note in the Visual Deb

[2021-06-09 07:33] Cppowboy commented on #81
Thank you.

[2021-06-09 07:55] maciej44 opened #446 "Cannot close pdf file after calling page.extract_text() on it"
## Describe the bug

*A clear and concise description of what the bug is.*
I have problem closing file opened with `pdfplumber.open()` function. Whenever i call `extract_text()` on file object it seems like file is opened even out of `with pdfplumber.open():` scope and I am able to call `print(pdf.pages[1].extract_text())` for example. Calling `close()` on PDF object also doesn't help.<br/>
**Simp

[2021-06-10 06:51] samkit-jain commented on #446
Hi @MackoDS Appreciate your interest in the library. I am not sure if this can be considered a bug. The reason you are able to run text extraction outside the `with` block is that in the for loop, it is going through all the pages and calling the `.extract_text()` method on it which fills in all the necessary variables in the class instance. This results in the methods that rely on those to work p

[2021-06-10 06:51] #446 closed, assigned to nobody

[2021-06-10 12:17] maciej44 commented on #446
Thank You @samkit-jain, I appreciate Your reply. I understand what You are saying here, but doesn't it lead to the situation where we are processing very big file for example and it stays in memory even we don't need it anymore?

[2021-06-10 12:33] samkit-jain commented on #446
Good point @MackoDS In such cases to free up the memory, you can try using the garbage collector [`gc`](https://docs.python.org/3/library/gc.html) as
[code]

[2021-06-18 15:06] Vinayakshukla7 commented on #89
What will be the object here i.e.. obj?

[2021-06-18 17:19] samkit-jain commented on #89
@Vinayakshukla7 Here, `obj` is nothing but an argument to the lambda function. You don't need to explicitly declare an `obj` variable. The lambda expression will be passed the page's objects. It is documented here https://github.com/jsvine/pdfplumber#objects.

[2021-06-21 00:00] lbolunya commented on #30
Thank you and bump to frascuchon's comment. Had to decrement version to get around this error.

[2021-06-22 08:50] sreeni5493 opened #453 "extract_words is slow"
[code]

The above code for a sample like below takes 5.42 seconds
[v1.pdf](https://github.com/jsvine/pdfplumber/files/6692746/v1.pdf)

This is a lot for a simple word extraction. Is there anyway I can optimize with either parameters or other options or even in code?

[2021-06-22 12:13] jsvine commented on #453
This won't speed it up, but it will give you a sense of whether the bottleneck is in the page parsing or word extraction:

[code]

[2021-06-24 20:49] matheusefagundes commented on #208
I'm a little late, but yesterday I ran across a similar issue and found a solution for my specific case, at least.

My PDF also contained invisible characters. However, the difference from @dwalton76's PDF is that the invisible characters had a different stroking color. So, for me the solution was:

[code]

I know it doesn't solve @dwalton76's problem, but I'm leaving this comment here in case it

[2021-06-25 12:04] jsvine commented on #208
Thanks for sharing, @matheusefagundes!

[2021-06-25 18:01] emadg opened #454 "Extract SVG Images"
I have a PDF with SVG images,

when I tried parsing a page, I noticed SVG images are not detected by PDF Plumber.

Extracting those SVG or vectorized images are very important for my usecase.

Is there a way to do that in current version or not?
Any guidance on how to do this?

[2021-07-01 02:25] jsvine commented on #454
This library does not currently have explicit methods for extracting SVG images, but it seems like a feature worth considering the the future. Do you have an example PDF you can share?

[2021-07-02 11:04] 2212168851 opened #461 "i find a bug when use dedupe_chars()"
## Describe the bug

*A clear and concise description of what the bug is.*
this is my code:
#!/usr/bin/env python3
import pdfplumber
import base64
import re
from io import BytesIO

class PDF_Extract(object):
    def __init__(self, base64_data):
        self.base64_pdf = base64_data
        self.pdf_bytes = self.load()

    def load(self):
        content = re.sub(r'^data[^,]*?base64,', '', self.ba

[2021-07-04 11:44] jsvine commented on #461
Hi @2212168851 — thank you for your interest in `pdfplumber` and thank you for filing this issue. @samkit-jain and I have identified the problem, which revolves around one character in the PDF that uses a font whose `FontDescriptor`'s `FontName` is encoded in an unusual manner. You can read more about the diagnosis [here](https://github.com/jsvine/pdfplumber/pull/462#issuecomment-873410317). To re

[2021-07-04 11:44] #461 closed, assigned to nobody

[2021-07-05 08:33] tungph opened #463 "Cannot decode contents of annotations"
## Describe the bug
While trying to get contents from an annotation, I got this error:
`UnicodeDecodeError: 'utf-8' codec can't decode byte 0xfe in position 0: invalid start byte`

The content for the first annotation is in Japanese.

## Code to reproduce the problem

[code]

## PDF file

[test.pdf](https://github.com/jsvine/pdfplumber/files/6762836/test.pdf)

## Expected behavior
[code]

## Envir

[2021-07-05 08:37] tungph commented on #463
@jsvine @samkit-jain
To bypass the problem, I try to decode with `utf-16` if `utf-8` fail:
[code]

[2021-07-05 16:34] emadg commented on #454
@jsvine
Hey thanks for replying!
I have a PDF but its confidential ... I will try to find a good public one and reply here.

[2021-07-07 23:14] inago-research commented on #454
@jsvine

Found a sample PDF here: https://www.manualslib.com/manual/975349/Subaru-Eyesight.html
I found this PDF which is similar to what I am working with SVG images.

[eyesight.pdf](https://github.com/jsvine/pdfplumber/files/6780478/eyesight.pdf)

[2021-07-07 23:17] emadg commented on #454
@jsvine

PDF sample from here: https://www.manualslib.com/manual/975349/Subaru-Eyesight.html
I found this PDF which is similar to what I am working on, and includes SVG images.

[eyesight.pdf](https://github.com/jsvine/pdfplumber/files/6780487/eyesight.pdf)

[2021-07-10 13:09] jsvine commented on #463
Thank you for flagging this @tungph. I will look into this.

[2021-07-11 21:31] bobluda opened #466 "Missing last row from intermediate tables, when using mixed strategy"
## Describe the bug

When there are multiple tables in one page and when using a mixed strategy settings: `{"vertical_strategy": 'lines', "horizontal_strategy": 'text'}`.

Only the last row of the last table is correctly extracted.
Other tables are only partially extracted, their last row is missing.

## Code to reproduce the problem

For more details, see related PR https://github.com/jsvine/pdfp

[2021-07-13 01:26] ParkvilleData opened #468 "Jumbled text extracted"
## Describe the bug

Hi, when using pdfplumber sometimes, on some pdfs, the text comes out jumbled. On the same pdf I am getting the following text extracted.

Jumbled:

[code]

Unjumbled:

[code]

## Code to reproduce the problem

The code calling pdfplumber

[code]
## Environment

- pdfplumber version: [0.5.28]
- Python version: [3.8.5]
- OS: [Linux]

## Additional Info
When I copy and paste the

[2021-07-13 20:53] emccords commented on #315
Hi @jsvine  -- I'm in a similar boat as some others in that I am trying to use `pdfplumber` and the latest version of `camelot-py` together, and camelot wants `pdfminer.six>=20200720`. Can any further progress on this issue be made (not sure if the pdfminer.six PR you mentioned above has been merged).  I'm not sure exactly how to do the manual workaround you suggest above, as when I try to install

[2021-07-15 13:48] jsvine commented on #466
Hi @bobluda, and many thanks for raising this issue. Previously, @samkit-jain raised a related issue, https://github.com/jsvine/pdfplumber/issues/265. At the time, I had mixed opinions about @samkit-jain's proposed solution because it seemed like the specific example in that issue could be resolved by cropping the page. But the new example you share identifies another, less-resolvable problem with

[2021-07-15 13:51] jsvine commented on #468
Hi @ParkvilleData, and thanks for your interest in this library. Could you provide a PDF for which you've observed this happening?

[2021-07-15 14:02] jsvine commented on #466
Closed via merging https://github.com/jsvine/pdfplumber/pull/467

[2021-07-15 14:02] #466 closed, assigned to nobody

[2021-07-15 14:04] jsvine commented on #265
Closed core of this issue via #466 and #467 — though adding `snap_x_tolerance` and `snap_y_tolerance` still seems like a good idea. Thanks again @samkit-jain!

[2021-07-15 14:04] #265 closed, assigned to nobody

[2021-07-15 14:09] jsvine commented on #315
Hi @emccords and thanks for your interest in this library. Unfortunately for your use-case, this will likely be a perpetual issue. Even if `pdfminer.six` does ultimately accept the necessary PR, it's important for the reliability of `pdfplumber` to pin a specific version of `pdfminer.six` — and, from time to time, that version will be different than what `camelot-py` requires. Although I see the d

[2021-07-15 15:49] emccords commented on #315
@jsvine - Thanks for the response, understood. I appreciate the guidance.

[2021-07-16 18:15] dskater commented on #289
Kind regards, I am having the same problem, I am running it in kali linux in a virtual environment with python 3.9, the version install is pdfplumber == 0.1.2

(ps: excuse my english)

[2021-07-16 20:16] jsvine commented on #289
@dskater That appears to be a very old version of `pdfplumber`, from 2016. To update it, run `pip install -U pdfplumber`.

[2021-07-19 15:51] ratulbhadury opened #475 "snap_x_tolerance and snap_y_tolerance for extra flexibility in table extraction"
Hi Jeremy

Before I get into my issue, I just want to say (again), thanks for all your efforts on this package. I've found it much easier to use than many of the other similar python libraries.

I'm using v0.5.28. I'm faced with a scenario where I would like to specify different tolerances for the x and y directions when it comes to 'snapping' parallel lines into one.

I see the [exact same reques

[2021-07-20 23:48] ParkvilleData commented on #468
Hi, Sorry for the delay. Here is the PDF.

[ae410508.0.pdf](https://github.com/jsvine/pdfplumber/files/6851782/ae410508.0.pdf)

Thankyou for you help,

[2021-07-21 06:11] jigsawcoder opened #476 "Layout Detection similar to pdfminer.six"
I am working on a project to extract relevant information from resumes which are in digital pdf format.
I used both pdfplumber and pdfminer.six separately. There is something that I observed.

### **Sample Resume :**

[KSAnandMurthy[12_0].pdf](https://github.com/jsvine/pdfplumber/files/6853141/KSAnandMurthy.12_0.pdf)

### **While using pdfminer.six :-**

**Code :**
`!python tools/pdf2txt.py /conte

[2021-07-21 07:18] samkit-jain commented on #476
Hi @jigsawcoder Appreciate your interest in the library and yes, can see how it will be a useful feature. I am closing this issue as there is already an existing issue present that is #10 Feel free to raise a PR if you have a solution in mind or continue the discussion at #10.

[2021-07-21 07:18] #476 closed, assigned to nobody

[2021-07-21 07:38] samkit-jain commented on #468
Thanks for sharing the PDF @ParkvilleData but I am not able to reproduce the issue. Getting the text in the right format. Would it be possible for you to share a reproducible code? For example, since the code you shared was incomplete, I did some changes to make it runnable and this was the result
[code]

Running it yields the expected output for page 137 for which you have shared the text above.

[2021-07-21 08:35] samkit-jain commented on #475
Yes, it is a useful feature request. Feel free to raise a PR if you have a solution in mind.

[2021-07-21 09:04] ratulbhadury commented on #475
Hi @samkit-jain

I haven't investigated a solution yet, but I have seen that this feature has been previously requested, and is in fact part of the v0.6 alpha branch.

I have not yet looked deeply into the architecture of the v0.6 branch and its differences with the stable branch, but would it be possible to include this feature that is already in that branch, and merge it into the stable branch?

[2021-07-21 09:08] jigsawcoder commented on #10
Can you please explain how can I use this function as per my use case.

[2021-07-21 23:47] ParkvilleData commented on #468
So, sorry. I uploaded the wrong pdf. Here is the pdf.

[ae410508.pdf](https://github.com/jsvine/pdfplumber/files/6859284/ae410508.pdf)

I removed the print_pages variable from the code.

[code]

I run this in python3 passing the pdf file to it via command line and this is some of the output I get.

[code]

[2021-07-23 17:38] tungph opened #482 "Request: Have `.extract_text()` return an empty string (`''`) instead of `None` in the case of no text found in a PDF"
https://github.com/jsvine/pdfplumber/blob/002500ab2e28885af1fa6e1b13c5234f874bcdae/pdfplumber/utils.py#L372-L374

I would like to make a small suggestion here to avoid for `None` checking in the calling code, `extract_text` utils must return an empty string `''` instead of `None` in case of no text found in a pdf.

[2021-07-26 17:15] mlecauchois commented on #421
Hello! I am also concerned about the issue. Any updates on how to deal with shifted origins?

[2021-07-30 20:42] hadikoub opened #484 "extract_words() slower when fewer extra_attrs are passed"
### Discussed in https://github.com/jsvine/pdfplumber/discussions/483

<div type='discussions-op-text'>

<sup>Originally posted by **hadikoub** July 28, 2021</sup>
The idea is that I'm trying to find Bold and Blank sections in a PDF file so I was experimenting with `extract_words()` function to be able to group sections based on the font family.

I found a way to extract Bold text by grouping sect

[2021-08-03 09:21] Ceros95 opened #486 "Only template is extracted"
## Describe the bug

I have two PDF:s.  Both with a template and each containing information about a person. Reading one of them works perfectly and all text is included, while when reading the other all information about the person is lost and only the template is included.  Do you have any idea what goes wrong and why?

## Code to reproduce the problem

with pdfplumber.open('example.pdf') as pdf

[2021-08-04 09:43] samkit-jain commented on #486
Hi @Ceros95  Appreciate your interest in the library. When dealing with text extraction related issues, the first step would be to check if `pdfminer.six` is able to extract it or not. Behind the scenes, `pdfplumber` relies on [pdfminer.six](https://github.com/pdfminer/pdfminer.six). They also provide a handy tool for text extraction that can be found [here](https://github.com/pdfminer/pdfminer.si

[2021-08-06 02:05] hopepanwei opened #488 "When a cell text in a table breaks a line, it will be parsed into two rows"
When a cell text in a table breaks a line, it will be parsed into two rows

[002560.pdf](https://github.com/jsvine/pdfplumber/files/6942519/002560.pdf)

Simple parsing code：
[code]

expect：
[code]
but：
[code]
I adjust ` vertical_ Strategy ` and ` horizontal_ Strategy `, But it's not feasible
Is there any other way to get the result I want
thanks

[2021-08-06 07:56] samkit-jain commented on #488
Hi @hopepanwei Appreciate your interest in the library. The reason you are getting this unexpected result is because there are some hidden horizontal lines on the page as you can see below (result of debugging the table using lines-lines strategy)
![image](https://user-images.githubusercontent.com/15127115/128476049-8f232b17-eaee-471a-97c5-1df0a9f53464.png)

To remove those, you can use the `.filt

[2021-08-06 07:56] #488 closed, assigned to samkit-jain

[2021-08-11 09:45] sreeni5493 commented on #486
@samkit-jain  Is there an alternate way to repair PDFs apart from GS. GS has some licensing issues.

[2021-08-11 10:17] sreeni5493 commented on #421
@mlecauchois @samkit-jain @jsvine

I found the solution for this was removing the descent in pdfminer.six layout.py code

https://github.com/pdfminer/pdfminer.six/blob/develop/pdfminer/layout.py

In line number 306 and 307, remove descent

Previously:
[code]

Now:

[code]

But I am not sure why this works clearly though. All I can think of is somehow the descent information is not properly calcula

[2021-08-11 11:35] RashmiPareek commented on #68
@jsvine Thanks :) It helped me today as well for multiple PDF :))

[2021-08-11 13:48] jsvine commented on #486
@sreeni5493 Another tool is https://community.coherentpdf.com/, though not knowing the specifics of your situation, I don't know whether it satisfies your license-type requirements.

[2021-08-11 13:49] jsvine commented on #484
To avoid confusion/duplication, I'm closing this issue in favor of using Discussion #483 to discuss.

[2021-08-11 13:49] #484 closed, assigned to nobody

[2021-08-12 03:13] jsvine commented on #482
Thank you for this proposal, @tungph. I think it makes sense, but I want to be careful that we're not overlooking important use-cases. Especially: Are there instances where it would be important to distinguish between `''` and `None`? Any thoughts on this, @samkit-jain?

[2021-08-12 08:55] samkit-jain commented on #482
My preference would be to keep the existing `None` behaviour because `None` and `''` can mean 2 different things. Also, this should be considered as a breaking change as there will be existing workflows that might be relying on the method returning a `None`.

An important question should also be whether pdfplumber can even return an empty string? I think so yes as there exists a [Unicode code](htt

[2021-08-12 13:39] jsvine commented on #482
Thanks @samkit-jain. That (needing to distinguish between `''` and `None`) had also been my initial instinct — and, if I recall correctly, why I had initially implemented it that way. I'm starting, however, to change my mind, for a couple of reasons:

- Is there a meaningful, end-user-relevant difference between a page (or table cell, etc.) that contains *no characters* vs. one that contains only

[2021-08-19 06:05] youpengbo2018 opened #492 "How can I extract table without left and right vertical border correctly,and the columns can not change in the extract_table"
[2020.06月度数据（区）.pdf](https://github.com/jsvine/pdfplumber/files/7012046/2020.06.pdf)
![image](https://user-images.githubusercontent.com/61830768/130015382-2d02f27e-22a7-4b95-93b0-fd0d68509b22.png)
this is the page that I want to extract., but the page doesn't has the  vertical edge. I use extract_table‘s vertical_strategy:text to let the system find the edge. Finally, It can extract the data I wan

[2021-08-19 08:48] samkit-jain commented on #492
Hi @youpengbo2018 Appreciate your interest in the library. You can use `explicit_vertical_lines` in combination with `vertical_strategy=lines` to explicitly specify the coordinates of the vertical line separators. You can use the following table extraction strategy as an example
[code]

What I have done in the `explicit_vertical_lines` is that I have specified coordinates of the first and last ver

[2021-08-19 08:48] #492 closed, assigned to samkit-jain

[2021-08-19 13:49] jsvine commented on #468
Thanks for sharing this new PDF, @ParkvilleData. I think it will help to focus on specific pages that display this issue, rather than the entire PDF, since the PDF contains both fully-digital pages (which pdfplumber handles well) and OCR'ed pages (which display the jumbling you're talking about). So let's choose, for now, the sixth page:

[code]

That produces, which, is indeed jumbled:

[code]

S

[2021-08-19 13:49] #468 closed, assigned to nobody

[2021-08-20 07:27] youpengbo2018 opened #493 "Difficulty extracting 'cells' from PDF without edges"
### Discussed in https://github.com/jsvine/pdfplumber/discussions/379

<div type='discussions-op-text'>

<sup>Originally posted by **alexreg** March 18, 2021</sup>
[This](https://mathscinet.ams.org/msnhtml/serials.pdf) is the PDF I'm working with. It's proving rather troublesome to even get any table cells extracted from it. I've tried different values for `horizontal_strategy` and `vertical_strat

[2021-08-20 07:30] #493 closed, assigned to nobody

[2021-08-25 03:31] youpengbo2018 commented on #492
thank you! it works

[2021-08-31 13:25] jsvine commented on #486
Closing due to the lack of specific information necessary for any action/troubleshooting. Feel free to reopen @Ceros95 with more details.

[2021-08-31 13:25] #486 closed, assigned to nobody

[2021-08-31 13:29] jsvine commented on #454
Thank you for sharing that, @emadg. I haven't found the time to dig into this yet, but also haven't forgotten about it 👍

[2021-08-31 13:33] jsvine commented on #413
I found myself in a similar situation, and [this](https://stackoverflow.com/a/61466412) worked for me:

[code]

[2021-08-31 13:35] jsvine commented on #383
This was fixed by the PR above; belatedly closing this issue.

[2021-08-31 13:35] #383 closed, assigned to jsvine

[2021-09-02 02:32] jsvine commented on #427
Closing this issue due to lack of example and details. Feel free to reopen with more information.

[2021-09-02 02:32] #427 closed, assigned to nobody

[2021-09-02 02:39] jsvine commented on #453
Using the code above, I have confirmed that the bottleneck is in the page parsing, not the word extraction:

[code]

Since the page-parsing logic is largely governed by `pdfminer.six`, there's not much we can do in this repository to speed things up. If you'd like, you can file an issue with `pdfminer.six`, with demonstration code tailored to that project.

[2021-09-02 02:39] #453 closed, assigned to nobody

[2021-09-02 02:40] jsvine commented on #356
Closing due to inactivity. Feel free to reopen.

[2021-09-02 02:40] #356 closed, assigned to nobody

[2021-09-02 02:41] jsvine commented on #408
Closing this issue due to lack of necessary information / code. Feel free reopen.

[2021-09-02 02:41] #408 closed, assigned to nobody

[2021-09-02 12:25] changlongpan opened #498 "The position of the words in tables are out of order"
## Describe the bug

The position of the words in tables are out of order

## Code to reproduce the problem

[code]

## PDF file

[new(1).pdf](https://github.com/jsvine/pdfplumber/files/7098792/new.1.pdf)
can open it in chrome

## Expected behavior

*What did you expect the result __should__ have been?*
![image](https://user-images.githubusercontent.com/68473411/131839483-228e65de-f056-421d-82a6-d

[2021-09-02 13:26] jsvine commented on #498
Hi @changlongpan, and thanks for your interest in this library. To answer your general question: `doctop` measures the vertical distance of the *top* of the object from the *top of the entire PDF*, while `y0` measures the vertical distance from the *bottom* of the object to the *bottom of the page*. In the PDF spec, the "origin" of the coordinate system is the bottom-left corner of the page; in `p

[2021-09-02 13:26] #498 closed, assigned to nobody

[2021-09-02 13:27] jsvine commented on #387
Belatedly: Closed via #428.

[2021-09-02 13:27] #387 closed, assigned to jsvine

[2021-09-11 13:08] imadhaj commented on #68
To extract two tables from the same pages i use this code

import pdfplumber

with pdfplumber.open("file.pdf") as pdf:
    first_page = pdf.pages[0].find_tables()
    t1_content = first_page[0].extract(x_tolerance = 5)
    t2_content = first_page[1].extract(x_tolerance = 5)
    print(t1_content, '\n' ,t2_content)

[2021-09-11 13:10] imadhaj commented on #68
To extract two tables from the same pages i use this code
[code]

[2021-09-18 07:02] xiaoranli1991 opened #505 "读取pdf出现：struct.error: unpack requires a bytes object of length 26 错误"
## Describe the bug

*A clear and concise description of what the bug is.*

## Code to reproduce the problem

*Paste it here, or attach a Python file.*

## PDF file

*Please attach any PDFs necessary to reproduce the problem.*

*If you need to redact text in a sensitive PDF, you can run it through [JoshData/pdf-redactor](https://github.com/JoshData/pdf-redactor).*

## Expected behavior

*What did

[2021-09-18 10:32] devWhyqueue opened #506 "Extracting hyperlinks raises UnicodeDecodeError"
## Describe the bug

Non-UTF8-Hyperlinks in PDFs raise an _UnicodeDecodeError_ and PdfPlumber fails to return any links of a given document.

## Code to reproduce the problem

[code]

## Expected behavior

Problematic links should be ignored and the remaining links should be returned.

## Actual behavior

PdfPlumber raises an UnicodeDecodeError with the following Traceback:
[code]

## Environment

[2021-09-18 10:45] devWhyqueue commented on #463
Got the same problem trying to extract hyperlinks.

The following code:
[code]
raises an UnicodeDecodeError with this traceback:
[code]

Would highly appreciate a fix in upcoming versions!

[2021-09-18 10:48] #506 closed, assigned to nobody

[2021-09-21 01:47] NathanTech7713 opened #507 "Question on usage"
Hi there,

So this is a question rather than a bug report or anything like that, so I hope it's okay to put it here.
I noticed in the documentation of the library (which is super great by the way) that filling in form data is not supported?
That is to say from what I am reading, the library can retrieve the form fields, but can not save if the user, for instance, fills in the a text box?
Have I un

[2021-09-21 02:08] jsvine commented on #507
Hi, there. No need to apologize. Responses below:

Correct. This library is focused only on parsing PDFs; it is not a tool for writing/creating them.

I haven't used PDF-creation tools much, but `pdfrw` may fit your needs (though appears to no longer be maintained): https://github.com/pmaupin/pdfrw

These are "points"; and, according to the PDF spec, the standard unit is 72 points/inch: https://ww

[2021-09-21 02:08] #507 closed, assigned to nobody

[2021-09-22 10:32] yts2020 opened #508 "page.extract_table() result is None?"
When I run page.extract_table(),the result is [[''], [''], [''], ['']]?
![Selection_100](https://user-images.githubusercontent.com/74759700/134328376-93c55b6d-800a-472e-8e80-e1466f557706.png)

[2021-09-22 13:20] samkit-jain commented on #508
Hi @yts2020 Appreciate your interest in the library. Could you please update the issue with the details as mentioned in https://github.com/jsvine/pdfplumber/blob/develop/.github/ISSUE_TEMPLATE/bug-report.md?

[2021-09-22 13:23] samkit-jain commented on #505
Hi @xiaoranli1991 Appreciate your interest in the library. Could you please update your issue comment to fill out the missing details?

[2021-09-25 14:32] acortad commented on #193
I've had memory issues as well. I've tried without success to find the possible leak, but in case it helps here are three runs of the same workflow with different approaches. The workflow consists of download, crop and text extraction from about 15-20 PDFs, each of them with 1 to 36 pages.

1. Extracting text from a PDF at a time (each spike a PDF; the massive memory use spike is the PDF with 36 p

[2021-09-29 07:19] Rachnas commented on #315
I faced the same issue, resolved it by using
camelot-py==0.8.0
Pdfplumber == 0.5.24
Pip version 21.2.4

[2021-10-15 13:49] jsvine commented on #463
Thanks again @tungph for raising this issue and the suggested fix, and @devWhyqueue for seconding. The commit above should fix this once merged and should be available in the next release.

[2021-10-16 12:24] flycattt opened #516 "Is there any way to include blank lines when extracting texts?"
Hi, I am using this fabulous library to extract texts from PDFs. In my PDFs, records are separated by blank lines. However, after extracting, I only get one line break as marked in the screenshot. It would get me into trouble parsing the records cuz some records starts without a pattern string. I looked through the manual but didn't find a solution. Much appreciated if you could help me with it!
!

[2021-10-16 18:06] jsvine commented on #516
Hi! Something like this has been a longstanding request — see, e.g., https://github.com/jsvine/pdfplumber/issues/10 from 2016. I think it's probably time to really try adding this feature! Or at least something useful enough, if not perfect. Thanks for the nudge. In the meantime, there are a few ways you could handle this, though the best approach will depend on your  specific PDF. One approach yo

[2021-10-16 18:06] #516 closed, assigned to nobody

[2021-10-21 16:01] SAIVENKATARAJU commented on #274
I am having the same issue. In my case most of the lines are replacing with question mark. most of the lines are getting lost

[2021-11-01 16:09] kt10001 commented on #508
Hi @samkit-jain
my code on macos is ok, but on centos7 is None.

this is my pdf file.
[ali001.pdf](https://github.com/jsvine/pdfplumber/files/7454539/ali001.pdf)

pdfplumber==0.5.28

![image](https://user-images.githubusercontent.com/44205101/139702735-f77db8e5-b71a-4ffb-9639-218e74c9e209.png)

my code
[code]

run result
![image](https://user-images.githubusercontent.com/44205101/139703150-09a332e

[2021-11-01 16:17] kt10001 commented on #508
its pdf version or font ?

how i solve

[2021-11-01 17:14] samkit-jain commented on #508
@feikongl I too am unable to extract the text on my Ubuntu 18.04 machine. The PDF contains the font STSONG and I think it is a duplicate of https://github.com/jsvine/pdfplumber/issues/332. If you are able to run on MacOS, it could be that it contains the font and is able to map correctly. CentOS 7 may not have the font and is unable to map. I haven't tried but I found the following and it might be

[2021-11-01 17:14] #508 closed, assigned to nobody

[2021-11-01 17:18] kt10001 commented on #508
@samkit-jain  thank you.  i will try.

[2021-11-01 22:08] alexreg opened #531 "pdfplumber 0.5.28 requires pdfminer.six==20200517, but you have pdfminer-six 20211012 which is incompatible"
## Describe the bug

Upon running `pip install pdfplumber`, I get the following.

[code]

This is an awfully restrictive dependency, that is naturally liable to create conflicts. Perhaps you could loosen it to `pdfminer.six>=20200517` (possibly with `<=` bound too)?

## Environment

- pdfplumber version: 0.5.28
- Python version: 3.9.7
- OS: macOS 12.0.1

[2021-11-01 22:15] jsvine commented on #531
Hi @alexreg, and glad to see you around here again! Unfortunately for you, this pinned dependency is intentional and unlikely to change in the immediate future. The main reason is that `pdfminer.six`, while relatively mature, has introduced breaking changes from time to time, and does not use semantic versioning. Two bits of good news, though:

- `pdfplumber` will *likely* work with whatever `pdfm

[2021-11-01 22:15] #531 closed, assigned to nobody

[2021-11-01 22:17] alexreg commented on #531
@jsvine Thanks for the clarification. That makes sense. Indeed, it's a shame that pdfminer.six doesn't use semver. (Have you tried to convince them to adopt it?)

[2021-11-01 22:21] jsvine commented on #531
I haven't tried lobbying for that, but the maintainers appear to have decided against it — cf.: https://github.com/pdfminer/pdfminer.six/issues/154#issuecomment-576911835

[2021-11-01 22:31] alexreg commented on #531
Ah, that's a shame, but fair enough. I suppose I'll just ignore the "error" and treat it more like a warning.

[2021-11-15 09:50] ManuelFay opened #538 "Word out of page dimension in extract words"
## Describe the bug

Using `extract_words` on some pages leads to getting `top` and `bottom` coordinates that are out of the page dimension. Closer inspection shows that some char coordinates also exceed page dimensions.

## Code to reproduce the problem

[code]

## PDF file

Very sensitive data, I will redact if absolutely necessary. At first, I'm just asking to see if anyone has an opinion on th

[2021-11-17 12:00] samkit-jain commented on #538
Hi @ManuelFay Appreciate your interest in the library. Yes, it can happen sometimes that the word coordinates are outside the page's dimension. See https://github.com/jsvine/pdfplumber/issues/308 for example. For such cases, assuming you don't need the content that is outside the page, you can also crop the page like so `page = page.crop((0, 0, page.width, page.height))` so that you get only the w

[2021-11-17 14:27] jsvine commented on #538
Yep, that's what I'd suggest too, @samkit-jain. But, @ManuelFay, are you suggesting the coordinates are *incorrect*? Or merely that it's surprising to have words outside the page bounds?

If you believe the coordinates have been incorrectly extracted, that's probably a better issue for [pdfminer.six](https://github.com/pdfminer/pdfminer.six), the library this project uses to get those coordinates.

[2021-11-17 14:27] #538 closed, assigned to nobody

[2021-11-19 21:18] ManuelFay commented on #538
Thanks a lot to both of you ! It was surprising to have words out of the page, that is all ;) I will crop !

[2021-11-30 09:18] danielbellhv commented on #244
How might I do this **conditionally**? Only if when a page does have column text @samkit-jain

[2021-11-30 13:00] Harshit-tech9 opened #549 "extracting table from multiple pages at time."
Please describe, in as much detail as possible, your proposal and how it would improve your experience with pdfplumber.

Hey! Thanks for developing such good library. Currently I am working on project where I need to extract table from Bank account  Statement. In this library we can extract table from one page at a time and we cannot iterate over multiple pages. Its an humble request to you folks

[2021-11-30 14:35] samkit-jain commented on #549
Hi @Harshit-tech9 Appreciate your interest in the library. Could you please add even more details? A minimum reproducible code example will be good as well.

I'm not exactly sure what you mean by support for multiple pages. You can extract tables from multiple pages by

[code]

Is that what you meant?

[2021-11-30 14:40] Harshit-tech9 commented on #549
Hey! yes that's what I mean.
But when I save it to CSV using pandas only last page table gets converted.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Samkit Jain ***@***.***>
Sent: Tuesday, November 30, 2021 8:05:57 PM
To: jsvine/pdfplumber ***@***.***>
Cc: Harshit Narendrabhai Panchal ***@***.***>; Mention ***@***.***>
Subject: Re: [jsvine/pdfplumber] ex

[2021-11-30 14:48] samkit-jain commented on #244
@danielbellhv It would depend on the PDFs you are dealing with. A sophisticated solution might be to use a layout analysis algorithm to identify whether a page is multi column or not.

A simpler solution could be to crop the page keeping the middle 5% and run text extraction on it to see if there's any text or not. If no text, then there could be 2 columns. Of course, you will have to tweak the 5%

[2021-11-30 14:48] samkit-jain commented on #549
Could you please share the code that you are using so that I can debug further?

[2021-11-30 14:50] danielbellhv commented on #244
Would you mind copying and pasting that as a comment under my [SO post](https://stackoverflow.com/q/70170544/16105404), please? I will try **middle 5%** :)

[2021-11-30 14:50] Harshit-tech9 commented on #549
Hey! Sure

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Samkit Jain ***@***.***>
Sent: Tuesday, November 30, 2021 8:18:50 PM
To: jsvine/pdfplumber ***@***.***>
Cc: Harshit Narendrabhai Panchal ***@***.***>; Mention ***@***.***>
Subject: Re: [jsvine/pdfplumber] extracting table from multiple pages at time. (Issue #549)

Could you please share the code that

[2021-11-30 18:11] SamGoodin opened #550 "Extracting table spanning 2 pages"
## Describe the bug

Hey. I'm attempting to extract a lot of tables from a cyber insurance document. One of the important tables I need spans across two pages. I'm able to iterate through the pages and extract all the other tables using the extract_tables function, since they all start and end on the same page, except for the table that spans 2 pages. I attempted to iterate through each table inst

[2021-12-01 16:04] danielbellhv commented on #244
I have since solved my own sub-issue, using **pdfminer**. Answered [here](https://stackoverflow.com/a/70187426/16105404). Thanks for your input

[2021-12-02 12:10] noorkaif97 opened #556 "Preserving Spaces between paragraph."
### Discussed in https://github.com/jsvine/pdfplumber/discussions/555

<div type='discussions-op-text'>

<sup>Originally posted by **noorkaif97** December  2, 2021</sup>
Hi,

I am trying to extract a paragraph from a PDF but the extract_text() method is removing the spaces between the paragraph.
Example :
The quick brown fox jumped over the lazy dog.

The quick brown fox.

The extract_text() metho

[2021-12-03 14:45] samkit-jain commented on #550
Hi @SamGoodin Appreciate your interest in the library. Unfortunately, this is not supported out of the box by pdfplumber. You will have to extract the tables from both the pages and then combine them.

[2021-12-03 14:49] samkit-jain commented on #556
Hi @noorkaif97 Appreciate your interest in the library. This is something that will be available in the upcoming v0.6.0 using the `layout=True` param in the `.extract_text(...)` method. See https://github.com/jsvine/pdfplumber/pull/532 for the details.

[2021-12-03 14:49] #556 closed, assigned to nobody

[2021-12-09 08:44] yavuzKomecoglu opened #560 "Difference in word coordinate information"
## Describe the bug
Hello, in some Turkish newspaper PDFs, the word coordinates are below a certain pixel. For example, while the headlines in the news in [2_eylul_15_11_2018.pdf / page-3](https://drive.google.com/file/d/1sOyUXKJLvWDBGkV172i4gx-amjJD94sC/view?usp=sharing) and [2_eylul_30_11_2018.pdf / page-7](https://drive.google.com/file/d/1E75I3EI26uNAu06N2n1M63IhOIUMR9zX/view?usp=sharing) start

[2021-12-09 14:00] jsvine commented on #560
Thanks for filing! Given that this does not seem to be a bug with `pdfplumber` specifically, I'm closing this issue in favor of the discussion you opened in #552. If this does turn out to be a bug, we can reopen this issue here.

[2021-12-09 14:00] #560 closed, assigned to nobody

[2021-12-09 14:02] jsvine commented on #550
Hi @SamGoodin and thanks @samkit-jain. As this isn't a feature we're likely to implement soon, I'm closing this issue.

[2021-12-09 14:02] #550 closed, assigned to nobody

[2021-12-09 14:04] jsvine commented on #549
Hi @Harshit-tech9 and thanks @samkit-jain! Given that this seems to be a Python coding question rather than a `pdfplumber`-specific concern, I'm closing this issue. But feel free to continue troubleshooting here!

[2021-12-09 14:04] #549 closed, assigned to nobody

[2021-12-09 15:19] yavuzKomecoglu commented on #560
Thank you for your interest. I expect support from the discussion section to understand the problem.

[2021-12-14 09:22] wenderWang opened #563 "Slow read speed"
When I opened a 600-plus page PDF, it took me 10 minutes，I hope the author can optimize it

[2021-12-14 10:59] adicognext opened #564 "No tables being detected for a specific PDF."

[2021-12-14 11:07] #564 closed, assigned to nobody

[2021-12-14 11:23] adicognext commented on #564
I was meant to open a discussion that I have opened in #565 instead of an issue.

[2021-12-14 14:31] jsvine commented on #563
Thanks for your interest, @Veunsia. This library's speed is largely constrained by `pdfminer.six`'s performance, since we use that library under the hood. Not a whole lot we can do about it, unfortunately, so closing this issue for now.

[2021-12-14 14:31] #563 closed, assigned to nobody

[2021-12-15 06:27] ayusonkj opened #566 "Cannot locate a two column table without any borders"
## Describe the bug

I have multiple tables in a pdf page, but only the two column table is not being identified

## Code to reproduce the problem

[code]

## PDF file
[p17_test.pdf](https://github.com/jsvine/pdfplumber/files/7716884/p17_test.pdf)

## Expected behavior

all tables are identified

## Actual behavior
only the two column table without the borders are not identified. only the headers

[2021-12-16 14:26] sravanikothakota opened #567 "Issue to reading data from the pdf"
## Describe the bug

I am reading data of a PDF through a Pdfplumber which was working as expected in python 3.9 version but same when i am testing in 3.7 version it extracted only 2 words and total data is missing.

## Code to reproduce the problem

## PDF file
I could not attach the pdf as it is having sensitive information
*Please attach any PDFs necessary to reproduce the problem.*

*If you ne

[2021-12-17 03:51] jsvine commented on #567
Hi @sravanikothakota, and thanks for your interest in this library. That's a very strange phenomenon you are reporting — I don't think I've heard of that happening before. Without the PDF, code, or other details, however, it's very difficult to determine what might be happening. Closing this issue for now, but feel free to reopen with more information.

[2021-12-17 03:51] #567 closed, assigned to nobody

[2021-12-17 04:14] jsvine commented on #566
Hi @ayusonkj, and thanks for your interest in this library. A couple of things appear to be happening.

Due to a prior bug in `pdfminer.six` (the library we depend on for accessing PDF object information), `.curve` objects were not being extracted correctly. In your case, those light red lines are the curves, and not extracting those correctly makes it hard to identify the tables.

`pdfminer.six`

[2021-12-17 04:14] #566 closed, assigned to nobody

[2021-12-17 05:17] ayusonkj commented on #566
I understand, thank you.

[2021-12-17 06:53] wenderWang opened #569 "The text is judged to be tabulated"
## Describe the bug

The text is judged to be tabulated

## Code to reproduce the problem

[code]

## PDF file

[2017-12-19-603712.SH-天津七一二通信广播股份有限公司首次公开发行股票招股说明书（申报稿2017年12月11日报送）.pdf](https://github.com/jsvine/pdfplumber/files/7732605/2017-12-19-603712.SH-.2017.12.11.pdf)

## Screenshots

![image](https://user-images.githubusercontent.com/56746138/146501542-94e255b4-7e81-443f-ba69-01e3a6ff12b9.p

[2021-12-23 12:12] Godlikemandyy opened #576 "The colored word is read into two words"
After reading the PDF file, one blue word has changed into two identical words，eg：
![image](https://user-images.githubusercontent.com/36065226/147238569-70c3639d-8c53-4651-b5d8-496dc5a820bc.png)
"任何单位和个人"
become
"任任何何单单位为和和个个人人"
What caused this and how to fix it!

Thank you

[2021-12-24 02:40] jsvine commented on #576
Hi @Godlikemandyy, and thanks for your interest in this library. Without having access to the original PDF, or the code you used, it is difficult to answer your question. But I would suggest the following:

- Examine the `stroking_color` and `non_stroking_color` of the objects in `page.chars`
- Determine the values used for the blue characters
- Use the following code to extract just the non-blue

[2021-12-24 02:40] #576 closed, assigned to nobody

[2021-12-24 02:55] jsvine commented on #569
Hi @Veunsia, and thank you for your interest in this library. I appreciate you sharing the PDF. What page is this? I tried to find it in the PDF, but the PDF is 621 pages long and I could not find it. In any case, it's likely that the page has invisible lines or rectangles in it. You can test that this way:

[code]

... or:

[code]

If that does appear to be the case, you can try using `page.filte

[2021-12-24 02:55] #569 closed, assigned to nobody

[2021-12-24 02:57] jsvine commented on #482
Hi @tungph, and thanks again for this suggestion. This is now the default behavior for `.extract_text(...)` as of `v0.6.0`. (See https://github.com/jsvine/pdfplumber/commit/cb9900b49706e96df520dbd1067c2a57a4cdb20d and CHANGELOG.md, with an h/t to you.)

[2021-12-24 02:58] #482 closed, assigned to nobody

[2021-12-24 02:59] jsvine commented on #475
Hi @ratulbhadury, and thanks again for this suggestion. Your requested feature is now available in `v0.6.0`! See https://github.com/jsvine/pdfplumber/pull/553 for details.

[2021-12-24 02:59] #475 closed, assigned to nobody

[2021-12-24 03:00] jsvine commented on #463
This fix is now part of the latest release, `v0.6.0`.

[2021-12-24 03:00] #463 closed, assigned to jsvine

[2021-12-24 03:02] #390 closed, assigned to nobody

[2021-12-24 03:03] jsvine commented on #315
The latest release of `pdfplumber` (`0.6.0`) now ships with the currently-latest version of `pdfminer.six` (`20211012`).

[2021-12-24 03:03] #315 closed, assigned to nobody

[2021-12-24 03:08] jsvine commented on #10
More than five years after this issue was first opened (thank you @dannguyen), `pdfplumber` now has an experimental version of this feature! It uses a similar approach to @jsfenfen suggestion (thank you!), with a few tweaks. Documentation in README.md:

<img width="852" alt="Screen Shot 2021-12-23 at 10 06 17 PM" src="https://user-images.githubusercontent.com/534702/147311051-5800afdd-f632-431a-9b

[2021-12-24 03:08] #10 closed

[2022-01-11 11:15] Rickyyyyc opened #577 "ModuleNotFoundError Import issue on Mac"
I have installed the module on Mac

**pip3 install pdfplumber**

but when I import this module using Spyder

this error message pops up

**ModuleNotFoundError:** No module named 'pdfplumber'

[2022-01-12 10:02] augeos-grosso opened #578 "Context manager doesn't close file on exceptions"
## ```pdfplumber.open()``` doesn't seem to be releasing the file when an error occurs in intself

I am trying to make my code robust to exceptions and good at logging them.
I needed some files to test exceptions with, so i created a new empty text document and renamed it to "empty.pdf".

My code's workflow is:
- scan a directory full of PDFs
- for each PDF:
    - ```pdfplember.open()``` it
    - e

[2022-01-12 12:24] samkit-jain commented on #577
Hi @Rickyyyyc Appreciate your interest in the library. There's not much information here that can be useful for us in debugging the issue. Request you to provide some more details on how to reproduce this. Some troubleshooting steps you can probably try
1. Ensure that the `pip install` command didn't fail with an error.
2. Ensure that you are doing the `import` in the correct environment. It could

[2022-01-12 17:33] samkit-jain commented on #578
Hi @augeos-grosso Appreciate your interest in the library and thanks for raising this. For me, with
* pdfplumber version: 0.6.0
* Python version: 3.8
* OS: Ubuntu 18.04

I am unable to reproduce the issue. However, I think it can be solved by adding a try-except block at https://github.com/jsvine/pdfplumber/blob/b904dd6a7c5164c5e051fa9b4121f8af6a105ae9/pdfplumber/pdf.py#L55 and closing the file on

[2022-01-14 23:57] #578 closed, assigned to nobody

[2022-01-28 09:20] ebw44 commented on #85
That link was quite useful to install ImageMagick for wand https://docs.wand-py.org/en/0.6.7/guide/install.html#install-imagemagick-windows

[2022-02-03 18:16] sollama opened #597 "ModuleNotFoundError: No module named 'pdfplumber'"
## Describe the bug

I'm working in jupyter notebook. I'm unable to import pdfplumber for some reason

## Code to reproduce the problem

!pip install pdfplumber --user
import pdfplumber

## PDF file

*Please attach any PDFs necessary to reproduce the problem.*

*If you need to redact text in a sensitive PDF, you can run it through [JoshData/pdf-redactor](https://github.com/JoshData/pdf-redactor).*

[2022-02-03 22:25] jsvine commented on #597
Hi @sollama, and thanks for your interest in this library. Usually when I see errors like that, it's unrelated to `pdfplumber` but rather more generally related to the Python environment. One way to test this: What happens if you try doing the same thing, but instead of `pdfplumber` you try installing and importing any other external Python library, e.g., `requests`?

[2022-02-03 22:28] jsvine commented on #597
Looking more closely at the error messages, it appears that you may be using `pip` in an Anaconda environment. What if you try replacing `!pip install pdfplumber` with `!conda install pdfplumber`?

[2022-02-03 22:45] sollama commented on #597
Hi,

Thanks for getting back so quickly.

1. Installing and importing requests has no error
2. I tried using !conda install pdfplumber. I received this error:
![image](https://user-images.githubusercontent.com/40960146/152442430-f1895be8-a7e9-48e1-afd5-8eb1f31bf880.png)

Like they suggested, I went on the anaconda site to find the package
and tried this next. I still got an error, error message pa

[2022-02-03 23:02] jsvine commented on #597
Thanks for sharing that. And, hmmm, I'm not very familiar with Anaconda/conda debugging, so I'm not quite sure what's going on there. As an alternative, perhaps create a new, pure-pip environment, and retry there? Something like:

[code]

[2022-02-04 10:02] samkit-jain commented on #597
@sollama Have you tried installing pdfplumber without `--user`? Using `--user` is not required when you are running inside a virtual environment. I tested this on [Google Colaborator](https://colab.research.google.com/) and if I install via `--user`, I can't import the package but if I install without it, I am able to use just fine.

[2022-02-07 20:15] sollama commented on #597
It worked when I installed without the - - user. Thank you all for your
help :)

On Fri, Feb 4, 2022 at 2:03 AM Samkit Jain ***@***.***> wrote:

[2022-02-08 06:35] #597 closed, assigned to nobody

[2022-02-08 20:52] colemanr03 opened #598 "extract_text() returns a unicode character \ufb03 LATIN SMALL LIGATURE FFI instead of the letters ffi when it comes across the word Office,"
I am extracting information from over 1000 large PDF files.  I am looking for rooms in a sketch with lots of pictures.

I love pdfplumber, it is so much better than the other methods I found.  I do have one small problem.

When I find a room that is labeled 'Office', the exctract_Text routine returns \ufb03 LATIN SMALL LIGATURE FFI instead of the letters ffi

Oﬃce/2nd Floor instead of Office/2ndFl

[2022-02-09 11:11] samkit-jain commented on #598
Hi @colemanr03 Appreciate your interest in the library. Could you please provide more details like the version of pdfplumber you are using, the PDF (redacting any sensitive information) that is causing the issue and a minimum reproducible code example?

[2022-02-16 16:45] TCBpenta8 opened #605 "Ask for help on processing tables in case where restructuring (i.e. adding schame for) the content of pdf"
Hi,
great to see a wonderful pdf parser on python!
Nowadays I am building a project on the top of pdfplumber in order to restructing the content of pdf such that we can extract the content with the respective of the level of the headings. I use regular expression to catch each heading in pdfs and sort-and-mark the headings as well as the relevant content by the subtitle-level it should be. My proj

[2022-02-16 17:55] jtjohnston opened #606 "extract_text misses spaces between words"
## Describe the bug

Extracting text frequently misses spaces between words resulting in many words being concatenated.
This particular example is a pdf that was generated (likely) using a LaTeX compiler (e.g. pdflatex).

## Code to reproduce the problem

[code]

## PDF file

An example pdf can be downloaded (as of 2/16/2022) with: `wget https://proceedings.neurips.cc/paper/2021/file/000c076c390a4

[2022-02-17 09:28] #605 closed, assigned to nobody

[2022-02-17 10:03] diorw opened #607 "Unable to recognize lines of PDF"
## Describe the bug

*A clear and concise description of what the bug is.*

I want to identify the lines of the invoice PDF. I find that even for very similar invoices, some of the lines of the invoice are empty or few I want to ask why

## Code to reproduce the problem
            pdf = pb.open(self.file)
            page = pdf.pages[0]
            lines = page.lines
            # lines = []

*Pa

[2022-02-18 20:51] vmgottin opened #608 "Link to ghostscript installation"
Hi, folks. Very minor issue.
The link to the ghostcript installation is currently 404'ing- in the README, "Visual Debugging" section.
I think that
https://www.ghostscript.com/doc/9.21/Install.htm
should be
https://www.ghostscript.com/doc/current/Install.htm

[2022-02-21 14:15] xelaos commented on #606
Did you try to modify the x_tolerance parameter like this?

text = page.extract_text(x_tolerance=1)

[2022-02-22 09:10] IrinaMax opened #611 "pdfminer extracting text incorrectly"

[2022-02-22 09:13] IrinaMax commented on #611
![image](https://user-images.githubusercontent.com/16123495/155099817-4aa2c5a4-d069-4a75-a54b-61a7c83415f6.png)

[2022-02-22 10:16] Godlikemandyy opened #612 "How to detect irregular table"
I use .debug_tablefinder() to detect table, I find the result is incomplete, eg:
![image](https://user-images.githubusercontent.com/36065226/155111495-afc1f98d-2e9d-4bd3-83c3-1880bf3f8b1b.png)
How can I get complete result?

[2022-02-24 07:37] rohaan2614 commented on #79
Hi, can someone please confirm the merged-cell capability has been included in the releases after July 2020?

Thanks

[2022-02-25 15:50] jtjohnston commented on #606
@xelaos Thanks, that did work for me (at least on this example).
I guess the question now is: how do I know when/if I have to use that (e.g. if I'm extracting text automatically from lots of pdfs)? or how often is this needed?  Why sometimes and not others?  Etc.

[2022-02-25 20:01] afierro23 commented on #274
@SAIVENKATARAJU were you able to figure out why you were getting the question marks?   I am having a similar issue on some pdfs.

Thanks!

[2022-03-02 02:36] StruggleYang opened #615 "After the pdfplumber program is packaged into an exe(py2exe), some pdfs cannot recognize the content"
## Describe the bug
- When I use an IDE (Pycharm or vscode) and run the source code of the program written by pdfplumber, I can accurately identify the entire content, as well as the table. This works fine on MacOS as well as Windows 10, and the source code behaves consistently.
- When I use py2exe to package the program and send it to my friend to run, a strange thing happens, some of the origina

[2022-03-03 01:48] jsvine commented on #607
Hi @diorw, and thanks for your interest in this library. For the example PDF you've provided, the "lines" are actually represented as rectangles, and can be retrieved via `page.rects`.

If you want to "decompose" the rectangles into the lines they contain, you can use `page.edges`.

[2022-03-03 01:48] #607 closed, assigned to nobody

[2022-03-03 01:52] jsvine commented on #608
Thank you, @vmgottin! Now fixed 👍

[2022-03-03 01:52] #608 closed, assigned to nobody

[2022-03-03 01:54] jsvine commented on #611
Unfortunately, I see no information in this issue, so will be closing it. Feel free to follow up with details.

<img width="630" alt="Screen Shot 2022-03-02 at 7 54 01 PM" src="https://user-images.githubusercontent.com/534702/156481221-b911e554-e8c0-4f3a-82e9-2d0367a3dbd6.png">

[2022-03-03 01:54] #611 closed, assigned to nobody

[2022-03-03 01:55] #612 closed, assigned to nobody

[2022-03-03 02:14] jsvine commented on #79
@rohaan2614 There is no specific merged-cell capability at the moment.

[2022-03-03 02:22] jsvine commented on #606
@jtjohnston Typically, you'll need to specify/adjust `x_tolerance` whenever you have typography that crams letters together very closely or spaces them apart very widely.

PDFs don't themselves have a concept of "words" and many PDFs don't include whitespace characters explicitly but rather depend on letter-spacing to visually represent that whitespace. So this library provides the `x_tolerance` p

[2022-03-03 02:22] #606 closed, assigned to nobody

[2022-03-03 02:27] jsvine commented on #615
Hi @StruggleYang, and thanks for your interest in this library. I'm not very familiar with `py2exe`, and so I don't have many ideas about what could be happening. But I wonder if part of the issue is the logging. What if, instead of logging, you write the output to a text file? Do you see the same problem?

[2022-03-03 12:19] StruggleYang commented on #615
Hi @jsvine , thanks for getting back to me on this issue, like you said, I also suspected it was a log encoding issue. So I've made some attempts to change the log to stdout or to a file, but still the same problem. I have written dedicated test code that only includes pdfplumber to exclude other dependencies from affecting the results.

---

Below is my new test code
[code]
- I made a new test, t

[2022-03-04 16:19] jsvine commented on #615
Thank you for sharing those details. One other thing to test: Do you see the same problems when using [`pdfminer.six`](https://github.com/pdfminer/pdfminer.six)? That's the library that `pdfplumber` uses to extract information about all the characters in the PDF.

One other way to get closer to the answer: What is the result of `len(pdf.pages[0].chars)` (a) in the standard script and (b) in the py

[2022-03-05 03:25] StruggleYang commented on #615
Thank you for your reply, I will perform the test you said and reply the results. However, it is worth mentioning that I just changed the packaging method to  `Pyinstaller` , the result of running is normal, I have reason to suspect that this problem is caused by packaging tools.

Perhaps because of the different principles of packaging tools, some dependence is lacking when packaging. I will slow

[2022-03-10 01:31] arthurthlee opened #618 "PDF Plumber not extracting tables correctly (text is parsed line by line)"
Hi,
I'm running into an issue with PDFplumber.

I am attempting to parse this document: https://healthalliance.org/Cms/Media?uri=https%3A%2F%2Fhealthalliance.org%2Fmedia%2Fresources%2Fmed-preauth-drugs.pdf

![image](https://user-images.githubusercontent.com/2807789/157569329-284facb7-71fb-4129-adf7-bc88b5739fad.png)

I am attempting to extract out the "products affected" bullet points and the sect

[2022-03-10 06:07] tonystark7cris opened #619 "font weight"
For a general use case to differentiate between the heading and the sub section there were several pdfs for which even the bold fonts were giving the same font name and size. Is there any possibilty that we can get font weight so that we can easily differntiate heading with respect to other normal lines.

[2022-03-10 22:14] doleron opened #620 "Wrong parsing on two columns pdf file"
## Describe the bug

I'm trying to extract the text data from a 2-column pdf file using the following code but some text is generated in the wrong position:

[code]

In the pdf file, page 39, there are a text:

[code]
![image](https://user-images.githubusercontent.com/9665358/157762486-e7b2e56f-0dd4-4f6b-8645-8e5ed1c44330.png)

But in the output.txt file, this text is not found in the right positi

[2022-03-10 22:46] jsvine commented on #620
Hi @doleron, I think you may have opened this issue in the wrong repository. This is `pdfplumber`, which I don't see used in your example. I think you may be looking for https://github.com/pdfminer/pdfminer.six

[2022-03-10 22:46] #620 closed, assigned to nobody

[2022-03-10 22:51] jsvine commented on #619
Hi @tonystark7cris, and thanks for your interest in this library. Typically, the way to determine font boldness is through the font name. (Sometimes you'll see PDFs imitating boldness by double-printing characters, or other tricks.) Without a specific PDF to reference it's hard to determine what's happening in your case. Are you able to provide an example file, and a pointer to the characters that

[2022-03-10 23:01] #618 closed, assigned to nobody

[2022-03-10 23:23] doleron commented on #620
@jsvine really sorry, I so sorry about it. Sorry for any inconvenience.

[2022-03-11 01:07] jsvine commented on #620
No worries. If it helps, you *could* use this library, like so:

[code]

... which would produce:

[code]

[2022-03-11 11:20] doleron commented on #620
Dear Jeremy,

firstly, let me thank you for so kindly help me out even after my mistake. I would like to say that - after check your code -  I finally achieved my goal. I ended up using:

[code]

Which results:

[code]

I just would like to thank you again and ask if you see any improvement to do in my code.

In particular, I will appreciate if you know some way to automatically detect if the layo

[2022-03-11 14:18] jsvine commented on #620
Great, I'm glad that was helpful!

It might take a complicated algorithm to detect two-column layouts *generally, in all possible PDFs*. But for this specific PDF, I'd recommend something like, which looks for the presence of the central dividing line (which the PDF happens to represent as a very thin rectangle):

[code]

[2022-03-11 17:18] doleron commented on #620
@jsvine

Perfect! worked like a charm.

[2022-03-17 09:57] tonystark7cris commented on #619
@jsvine  Thank you for your quick response,  issue was resolved with font name itself. Thank you for your splendid work.

[2022-03-17 09:57] #619 closed, assigned to nobody

[2022-03-18 02:22] datdao1998 opened #627 "Character merged incorrectly when using extract_words()"
When using function extract_words(), some words are merged into one word, like image  bellow (with to_image method)
![image](https://user-images.githubusercontent.com/42546396/158922930-16c73d6d-6587-4b00-be4d-efd767e7b2d3.png)

I think the reason is in that code in **pdfplumber/utils.py**
![image](https://user-images.githubusercontent.com/42546396/158923177-22ad68de-7485-444f-b0bc-3fe2ca9d4a3a.pn

[2022-03-18 23:47] jsvine commented on #627
Hi @datdao1998, have you tried adjusting the `x_tolerance` and `y_tolerance` parameters in `extract_words(...)`? In your case, it looks like setting both to 0 (or even something like -3) may get you what your looking for.

If that doesn't work, or you have questions about how to use the parameters, please attach the PDF you're working with. Without a specific PDF, it is difficult to provide much a

[2022-03-20 09:39] datdao1998 commented on #627
@jsvine  Thanks for your advice. I tried with **y_tolerance=-3** and it works ! I will test with other PDFs in my dataset, and if I have other problem I will reopen my issue later.

[2022-03-20 09:39] #627 closed, assigned to nobody

[2022-03-28 22:13] jfuruness commented on #311
Wow, this just saved me. It might be nice to have this as one of the examples, this was very hard to find. Or maybe update the description to include tags such as "non visible", "invisible". Thank you so much for this fix!

[2022-03-29 15:33] jsvine opened #634 "Add documentation re. common table-extraction challenges"
Perhaps a new section in the README.md file, at least for now, identifying common issues that people run into, especially with table extraction. For example:

- Invisible lines causing problems
  - #311 (and h/t to @jfuruness in that thread for the inspiration to create such documentation)

- Extracting tables with missing bottom borders
  - https://github.com/jsvine/pdfplumber/discussions/631
  -

[2022-03-29 15:34] jsvine commented on #311
Thanks for noting that @jfuruness, and good idea! Thinking more broadly, I think it's worth adding some documentation on common table-extraction challenges, and have created a new issue (see auto-added reference directly above) to address that.

[2022-03-29 16:18] jfuruness commented on #311
Agreed, thank you! Also, maybe it is just for my specific answer, but I have a hunch that the inner workings changed a little bit to have the non_stroking_color be a list. For me, I had to use the following function:

[code]

[2022-03-29 16:33] jsvine commented on #311
@jfuruness I believe that the particular representation of `non_stroking_color` depends on the color specification the PDF itself used, as parsed by `pdfminer.six`. As a result, the particular solution will likely differ from PDF to PDF, but hopefully we can provide general guidance that points people in a helpful direction for whatever PDF they happen to be examining.

[2022-03-29 16:36] jfuruness commented on #311
Ah, understood, that makes sense. Definitely, the original fix was quite helpful in pointing me in the right direction :)

[2022-03-31 10:31] FANGOD opened #635 "Read pdf error on linux"
pdfplumber                        0.6.0

[code]
pdf: `https://www.bitdefender.com/content/dam/bitdefender/business/whitepapers/pdf/small-Bitdefender-Whitepaper-Virt-CIO-A4-en-EN-screen-compressed.pdf`

Works fine on windows .

[2022-03-31 12:40] jsvine commented on #635
Hi @FANGOD, and thanks for your interest in this library. I can confirm that the PDF also processes fine on Mac. Not sure what would be causing the issue w/ Linux but, in any case, the stacktrace seems to indicate that the error stems from `pdfminer` (the lower-level library we  use to extract the PDF's structural information and objects) rather than `pdfplumber`. For that reason, I'm closing this

[2022-03-31 12:40] #635 closed, assigned to nobody

[2022-04-05 03:14] Puneet0353 opened #636 "Error"
## Describe the bug

*A clear and concise description of what the bug is.*
ValueError: not enough values to unpack (expected 2, got 1)

The complete details of the error are-
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
~\AppData\Local\Temp/ipykernel_14976/3193579313.py in <module>
      5 #G

[2022-04-07 22:22] jtschoonhoven opened #638 "`RecursionError: maximum recursion depth exceeded` in `utils.resolve_all`"
## Describe the bug

The function `utils.resolve_all` is recursive, and it can exceed Python's maximum recursion depth when parsing complex Powerpoint files.

## Code to reproduce the problem

[code]

## PDF file

I don't have permission to share the PDF file, but the issue should be self-evident.

## Expected behavior

It should not raise a RecursionError.

## Actual behavior

It raises a Recursi

[2022-04-11 13:19] jsvine commented on #636
Hi @Puneet0353, and thanks for sharing this interesting example. I have examined the file and the error, and have come to the following conclusions:

- Per the traceback you've pasted above (and which I've confirmed), the error is raised by [`pdfminer.six`](https://github.com/pdfminer/pdfminer.six), the library we use to extract the raw object information from the PDFs. So this isn't an issue that

[2022-04-11 13:19] #636 closed, assigned to nobody

[2022-04-11 13:53] jsvine commented on #638
Thanks for flagging, @jtschoonhoven. There are at least a couple of possibilities here:

- The PDF's internal references may, indeed, be infinitely recursive
- There may be a bug in parsing the internal references, either in `pdfplumber` or in `pdfminer.six`

Without a specific PDF, it's difficult to diagnose the issue. Are you able to provide a redacted version, using https://github.com/JoshData/

[2022-04-11 16:55] Puneet0353 commented on #636
Thanks so much.
But by installing the previous version of pdfplumber resolved the issue.

On Mon, 11 Apr, 2022, 18:49 Jeremy Singer-Vine, ***@***.***>
wrote:

[2022-04-19 10:16] qyhou opened #643 "page to_image() get stuck in ProcessPoolExecutor"
## Code to reproduce the problem

[code]

## Describe the bug

As shown in the code, the program get stuck at page.to_image() in ProcessPoolExecutor.
It will be successful if only running multi process code as shown below.

[code]

From my point of view, the two parts of the code shouldn't affect each other, is right?
What could be the cause of this problem?

## Screenshots

<img width="673" alt="

[2022-04-21 22:20] jsvine commented on #643
Hi @qiyuhou and thanks for your interest in this library. I'm not very familiar with `ProcessPoolExecutor`, so this might take me a little while to investigate. In the meantime, if anyone in the community has a suggestion, I welcome your input.

[2022-04-25 10:01] BrianCKLu commented on #488
HI @samkit-jain Thanks for the solution you provide.
it is work  for the  file below.

But after applying it to the file below, it can't even read the normal form table.

Could you give me some hint or solution to solve this issue?
many thanks!

note :
i tryed

[code]

can solve this issue , but i think it's not the
but I don't think this is the solution to eradication lol.

what if pdf file2's ta

[2022-05-05 15:14] sanchez5674 opened #649 "No spaces extracted found in first_page.chars"
Hi,

There was a related issue with spaces described here:

#https://github.com/jsvine/pdfplumber/issues/334

The solution there works as explained and adding x_tolerance=1 did the trick if I only want to extract the text.

[code]
My issue is I don't just want to extract the text. I would like to keep the format information (x, y positions, font, etc) so my code looks like this:

[code]
Then, I re

[2022-05-06 14:51] jsvine commented on #488
Hi @BrianCKLu, I've now looked into this. With the new PDF you've shared, the default table extraction works fine:

[code]

... produces this:

![image](https://user-images.githubusercontent.com/534702/167156204-3443c095-2308-466a-bc46-7e5968014656.png)

The custom code you're using runs into problems because there are multiple ways to define "black" in a PDF's graphics state, for instance in `non

[2022-05-06 16:09] jsvine commented on #649
HI @sanchez5674, and thanks for your interest in this library. Without seeing the specific PDF you're using, it's difficult to diagnose your situation accurately. But my initial hunch is that your PDF uses *positioning* rather than *literal space characters* to create the visual impression of spacing.

`page.chars` contains the character data calculated by `pdfminer.six` (`pdfplumber`'s core depen

[2022-05-06 16:09] #649 closed, assigned to nobody

[2022-05-07 13:50] manish291740 opened #650 "I have table in which a single cell of each row have 3 different columns classified with white space how can I get that column different in each row list"
Please describe, in as much detail as possible, your proposal and how it would improve your experience with pdfplumber.

[2022-05-08 14:00] manish291740 commented on #650
![Screenshot_20220508-192203_WPS Office~3.jpg](https://user-images.githubusercontent.com/58081476/167299865-021118f9-e1af-4b57-a2db-87d61df548b7.jpg)

in above pdf have technical data column in which there is 3 different column i want to extract that 3 column differently
how can i extract using pdf plumber suggest me

[2022-05-08 14:00] manish291740 commented on #650
![Screenshot_20220508-192203_WPS Office.jpg](https://user-images.githubusercontent.com/58081476/167299555-9a3f5d67-9fdc-4aa1-a433-6fa119a5c5cb.jpg)

in above pdf have technical data column in which there is 3 different column i want to extract that 3 column differently
how can i extract using pdf plumber suggest me

[2022-05-08 19:51] #650 closed, assigned to nobody

[2022-05-11 01:41] jsvine commented on #368
Update: Just pushed an attempt at making the current transformation matrix (CTM) accessible for characters, and introduced a class (`pdfplumber.ctm.CTM`) for calculating its scale, skew, and translation: https://github.com/jsvine/pdfplumber/commit/ae6f99e691de72987ab8166403a39776a41d4c30

It turns out that CTMs achieve rotation by combining scale and skew. In most standard cases, it seems, rotatio

[2022-05-15 03:57] nianfouyi opened #654 "How to read paragraph？"
I want to read paragraph content, but I can't find any way, is there no such way?

[2022-05-16 10:45] has-abi opened #655 "'LTChar' object has no attribute 'graphicstate' Error in a docker container"
I'm using pdfplumber to extract text from pdf pages using the crop function. It works fine on the local system but when deploying the project in a docker container it gives the Error: `'LTChar' object has no attribute 'graphicstate`

Example of the Error:
![image](https://user-images.githubusercontent.com/55492047/168576167-e24b6e78-918e-4b85-ba74-cbe1b47d9004.png)

[2022-05-16 12:17] jsvine commented on #655
Hm, interesting! Haven’t seen this one before. It’s a bit hard to diagnose without more information. Can you supply some/all of the following?:

- The Dockerfile
- The result of `pip freeze` locally
- The result of `pip freeze` within the Docker container

[2022-05-16 12:19] jsvine commented on #654
Hi @luozhongxiangsi, and thanks for your interest in this library. A “paragraph” is not a concept defined by the PDF specification, and paragraphs are visually represented in different ways in different PDFS, so there’s no consistent/reliable way to identify them. However, you may be able to achieve some of your goals using `page.extract_text(layout=True, …)`. (See the documentation for `.extract_

[2022-05-16 12:19] #654 closed, assigned to nobody

[2022-05-16 14:53] has-abi commented on #655
It seems to be just an Error in the latest version **0.6.2** because I installed the **0.6.1** version and it works on both environments.
For the bug to be fixed in the latest version **0.6.2**:
Here is my Dockerfile:
[code]

**Here are the local dependencies with pip freeze:**
[code]
Here are the dependencies in the Docker container:
[code]

[2022-05-16 18:22] jsvine commented on #655
Thanks for these details. And strange! One thing I noticed: You seem to have both `pdfminer.six` (`pdfplumber`'s main dependency) *and* `pdfminer` (that project's earlier incarnation) installed. Can you remove `pdfminer` from your Pipfile? (Or do some of your direct dependencies require that older project?) And, if so, do you still get the error?

[2022-05-16 20:33] has-abi commented on #655
Yes, I did remove pdfminer and used pdfminer.six instead in the same project with pdfplumber 0.6.2 and it works for both environments!

Thanks @jsvine

[2022-05-16 20:33] #655 closed, assigned to nobody

[2022-05-16 20:43] jsvine commented on #655
Ah, great — thanks for following up!

[2022-05-27 03:32] ethanscorey opened #658 "`extract_text(layout=True)` fails if PDF page contains no text"
## Describe the bug

When extracting text from a PDF page that contains no text, `Page.extract_text` typically returns an empty string. However, if it's run with the keyword argument `layout=True`, I get an `IndexError`.

## Code to reproduce the problem

[code]

## PDF file

This error seems to occur with any PDF page that doesn't contain any text, so any text-less PDF file will do.

## Expected

[2022-05-27 18:44] jsvine commented on #658
Great catch! Thank you, @ethanscorey. Now fixed on `develop`, including a new test. (Your suggestion was a good one, but the relevant code has changed a bit since then.) Should be available in a new release soon.

[2022-05-27 18:44] #658 closed, assigned to nobody

[2022-05-27 19:03] jsvine commented on #201
Just landed in v0.7.0!

[2022-05-27 19:03] #201 closed

[2022-05-31 08:40] rneumann7 opened #659 "ValueError when using debug_tablefinder"
## Describe the bug

Tried the extract-table-ca-warn-report.pynb example and got an ValueError when trying to call debug_tablefinder on PageImage.

## Code to reproduce the problem

See extract-table-ca-warn-report.ipynb from examples/notebooks/extract-table-ca-warn-report.ipynb, last section (12)

## Screenshots
<img width="1068" alt="image" src="https://user-images.githubusercontent.com/10476387

[2022-05-31 19:54] #659 closed, assigned to nobody

[2022-05-31 19:57] jsvine commented on #659
Thank you for flagging this @rneumann7! Have now squashed that bug and pushed the fix to this repository and a new version, v0.7.1.

[2022-06-03 05:02] feschenkovladimir commented on #598
[code]
result_1: sleep ﬁnal hollow
result_2: sleep \\N{LATIN SMALL LIGATURE FI}nal hollow
result_3: sleep \xef\xac\x81nal hollow

I would like to get result_3 as result:
`sleep final hollow`

[2022-06-06 11:48] suedunham opened #663 "Size measures char width when upright = False"
## Describe the bug
I don't know if this is a bug per se. I'm getting chars with varying values for ``size`` in a word where ``upright=False``. This corresponds with the difference in ``y`` values on the page, but it doesn't describe the font size well.

*A clear and concise description of what the bug is.*
For instance, There is a vertical abbreviation on the file I'm looking at (I don't think I

[2022-06-07 18:32] lifepillar opened #664 "Re-process a page"
I would like to re-process a single page of a document, without creating a new PDF object. For instance:

[code]

But pages have references to their PDF documents, and the code above would break those—and possibly something else. Is there a better way?

[2022-06-13 13:31] moreproblems opened #668 "Identify contiguous rectangles with different fill colors (e.g. formatted table) as one Rectangle object"
When finding rectangles on a page, the package seems to mess up the bounding box when there is more than one fill color. Taking the example of the attached image, the bounding box will be that of the first row filled in grey (and the rest of the table will be ignored.

![image](https://user-images.githubusercontent.com/105331056/173364932-e39e92fb-336b-468a-af8d-1b7d5aa6b002.png)

[2022-06-13 22:26] BryanKoo opened #669 "Cannot get metadata nor pages from a scanned pdf without text"
## Describe the bug

Cannot get metadata nor pages from a single page pdf without text

## Code to reproduce the problem

[code]

## PDF file

[invoice.pdf](https://github.com/jsvine/pdfplumber/files/8894882/invoice.pdf)

## Expected behavior

pdf.metadata should be a non-empty dictionary
len(pdf.pages) should be 5

## Actual behavior

pdf.metadata is an empty dictionary
len(pdf.pages) is 0

## En

[2022-06-15 10:35] jsvine commented on #663
Hi @suedunham, and thanks for your interest in this library. Thanks, too, for raising an interesting issue. Without a specific PDF to examine, it's difficult to know whether I'm fully understanding the question and/or to provide a definitive answer, but a few notes that may be helpful:

The `size` attribute comes directly from `pdfminer.six` (this library's main dependency). There, the calculation

[2022-06-15 10:35] #663 closed, assigned to nobody

[2022-06-15 12:30] jsvine commented on #664
Hi @lifepillar, and interesting goal! There are parts of pages (in general, not just this library's modeling of them) that do indeed depend on PDF-level resources, so I'm not sure there's a straightforward way to wholesale update a page in a generalized manner. The correct/expected behavior probably also depends on what, specifically, is being modified. There may be a more complex way to get there

[2022-06-15 12:30] #664 closed, assigned to nobody

[2022-06-15 12:53] jsvine commented on #668
Hi @moreproblems, and thanks for your interest in this library. Unfortunately, I'm having some trouble understanding the query here. Could you share the PDF itself and code that demonstrates your situation?

Closing this for now, as it's not clear there's a bug or practical feature request here, but we can continue the conversation.

[2022-06-15 12:53] #668 closed, assigned to nobody

[2022-06-15 13:00] jsvine commented on #669
Hi @BryanKoo, and thanks for your interest in this library. It seems that this PDF is malformed. Here's the relevant output from `cpdf -info invoice.pdf`:

[code]

... and from `gs invoice.pdf`:

[code]

You can repair the PDF by running `gs   -o repaired.pdf   -sDEVICE=pdfwrite   -dPDFSETTINGS=/prepress    invoice.pdf`, after which your code above should work as expected.

[2022-06-15 13:00] #669 closed, assigned to nobody

[2022-06-16 19:27] lifepillar commented on #664
Thanks for the feedback! Yes, I have realized that what I was trying rows against the current: as you say, a PDF document is a cohesive structure. I am approaching my problem differently now. Thanks again!

[2022-06-20 15:32] BryanKoo commented on #669
Thanks a lot for addressing this issue. I understood your answer.

Just want to inform you that this malformed PDF is from a public site. https://publicfiles.fcc.gov/
(https://publicfiles.fcc.gov/find/invoice/page-offset-0/order-best-match/filter-none/#files if you want to search invoices)
And I expect that there exist more sources of malformed PDFs other than this site.

I know that PDF format is

[2022-06-27 06:50] AgoloASehaily commented on #91
if you run `page.chars` before the threading block it should work fine

[2022-06-27 09:48] Godlikemandyy opened #672 "How to extract pdf texts which contains text and tables"
I want to extract the text of the PDF file which contains texts and tables. I can use page.extract_text() to get texts, but I have a problem what if table in page the order of the extracted texts is inappropriate, the text of table is out of order.
I want to get the following effect. Texts and tables are extracted separately, but the order of text is from top to bottom. eg:
the current line is tex

[2022-06-28 06:21] samkit-jain commented on #672
Hi @Godlikemandyy Appreciate your interest in the library. Could you please provide some more information that will help us assist you better? Pdfplumber version that you are using, the PDF (redacting any sensitive information), the output that you are expecting and the output that you are getting.

[2022-06-29 06:43] hbh112233abc opened #674 "Can I submit a Chinese document translated from README.md"
Hi, pdfplumber is very good library for extract table from PDF.
[README-CN.md](https://github.com/jsvine/pdfplumber/files/9007924/README-CN.md)

Can I submit a Chinese document translated from README.md.
I think it will helpful for chinese developer.

[2022-06-29 19:18] jsvine commented on #674
Hi @hbh112233abc, and thank you for this contribution! I think adding translations is a great idea. The easiest approach, I think, would be for you to host `README-CN.md` in your own repository (perhaps `hbh112233abc/pdfplumber-README-CN`) and then I could link to your repository from the main README.md. That way, you can easily make additions/changes without having to submit PRs/etc. here. What d

[2022-06-30 00:50] hbh112233abc commented on #674
Good idea! I fork `pdfplumber` and add `README-CN.md`, it's link is `https://github.com/hbh112233abc/pdfplumber/blob/stable/README-CN.md`.

[2022-07-04 10:36] Godlikemandyy opened #680 "I have a new problem"
When I read a pdf file, I found page.extract_text() to get the texts what has a lot of dislocation, eg:
the image of pdf is following:
<img width="614" alt="image" src="https://user-images.githubusercontent.com/36065226/177136141-81ff48a0-fa75-431b-9eb1-8c983def8162.png">

but I get the texts what is following:
`第一章　组织激励
本章与 年教材相比 无实质性变化
2021 , 。
年份 单项选择题 多项选择题 案例分析题 合计
题 分 题 分 题 分 题 分
2019 4 4 1

[2022-07-04 10:37] #672 closed, assigned to nobody

[2022-07-04 10:39] Godlikemandyy commented on #680
Let me resubmit the extracted text：
第一章　组织激励
本章与 年教材相比 无实质性变化
2021 , 。
年份 单项选择题 多项选择题 案例分析题 合计
题 分 题 分 题 分 题 分
2019 4 4 1 2 4 8 9 14
题 分 题 分 题 分
2020 3 3 1 2 ——— 4 5
题 分 题 分 题 分
2021 4 4 ——— 4 8 8 12
说明 上表数据是我们向参加当年考试的考生了解的 较为完整的数据统计
: 、 。
第一节 需要、 动机与激励

[2022-07-04 12:48] samkit-jain commented on #680
Hi @Godlikemandyy Appreciate your interest in the library
1. The text in red boxes that you say is missing, can you please confirm if that text is copyable or not? Maybe it is an image and not a text.
2. Have you tries using [x_tolerance and y_tolerance](https://github.com/jsvine/pdfplumber#the-pdfplumberpage-class) to resolve the text extraction issues?

[2022-07-05 02:15] Godlikemandyy commented on #680
@samkit-jain Appreciate your reply.
1、You are right. The text in red boxes is not copyable. It doesn't matter.
2、I didn't use them. How can I identify [x_tolerance and y_tolerance](https://github.com/jsvine/pdfplumber#the-pdfplumberpage-class) to ensure the order in which the text is extracted.

[2022-07-05 08:01] Gadil-1987 opened #681 "pdfplumber will be hung up when open pdf which is damaged"
## Describe the bug

pdfplumber will be hung up when open pdf which is damaged

## Code to reproduce the problem

import pdfplumber
pdf = pdfplumber.open("C:/Users/admin/Desktop/AN202103291477905709.pdf")
print(len(pdf.pages))

## PDF file

*Please attach any PDFs necessary to reproduce the problem.*

*If you need to redact text in a sensitive PDF, you can run it through [JoshData/pdf-redactor](ht

[2022-07-05 08:06] Gadil-1987 commented on #681
Sorry，I don't know how to upload my tested pdf file to github，if anyone knows，please tell me

[2022-07-06 00:09] jsvine commented on #674
Thank you! I will aim to add a link soon.

[2022-07-06 00:12] jsvine commented on #681
Hi @Gadil-1987, in the comment box on GitHub, you should see something that says: "Attach files by dragging & dropping, selecting or pasting them."

<img width="447" alt="Screen Shot 2022-07-05 at 5 10 38 PM" src="https://user-images.githubusercontent.com/534702/177436662-9ba9b3b0-e18b-4f28-970c-7a38f449bb5e.png">

Does that work for you?

[2022-07-06 03:34] Gadil-1987 commented on #681
I see, 3ks.

[2022-07-06 03:39] Gadil-1987 commented on #681
[AN202002141375118541.pdf](https://github.com/jsvine/pdfplumber/files/9051297/AN202002141375118541.pdf)
[AN202103291477905709.pdf](https://github.com/jsvine/pdfplumber/files/9051298/AN202103291477905709.pdf)

these two pdf files could make pdfplumbe to be hung up.
maybe i need to try other ways to make sure current pdf file is ok

[2022-07-06 03:54] hbh112233abc commented on #674
Thanks!

[2022-07-06 03:54] #674 closed, assigned to jsvine

[2022-07-06 15:19] bpugnaire opened #683 "Page.search ValueError: min() arg is an empty sequence"
## Describe the bug

When using the page.search method with a regex, the program may raise a ValueError: min() arg is an empty sequence.

## Code to reproduce the problem

The issue is not easily reproducible, on some pages with the same Regex pattern I get the expected behavior (list of match or an empty list if no match). And sometimes I get the error

## Expected behavior

Get a list of match o

[2022-07-06 15:26] bpugnaire opened #684 "Page.search results bbox position can be wrong"
## Describe the bug

When drawing the bbox corresponding to page.search results, the bbox is often too far right.

## Code to reproduce the problem

p = test_doc.pages[X]
im = p.to_image()
im.draw_rects(p.search(pattern, regex = True))

## Expected behavior

The bbox should be around the word or pattern searched.

## Actual behavior

It seems that, after the first match which is on point most of t

[2022-07-07 02:41] Gadil-1987 commented on #681
![image](https://user-images.githubusercontent.com/108721053/177678740-aa279db5-fdad-4516-94f8-f370c4fed583.png)
To fix this issue, I had to use PyPDF2

[2022-07-07 02:43] Gadil-1987 commented on #681
![image](https://user-images.githubusercontent.com/108721053/177678740-aa279db5-fdad-4516-94f8-f370c4fed583.png)
To fix this issue, I had to use PyPDF2

[2022-07-07 07:23] bpugnaire commented on #683
To be noted, I only encountered the bug when using Regex = True

[2022-07-08 00:46] hbh112233abc opened #685 "How get merged cells"
Please describe, in as much detail as possible, your proposal and how it would improve your experience with pdfplumber.
When I use `xlrd` parse xls file with `formating_info=True`, then it can get `merged_cells`, this is good job!
so I hope `pdfplumber` can support this fuction:
example: mark cell is `merged_cell` and it's range (row_start,row_end,col_start,col_end)

[2022-07-08 02:43] hbh112233abc commented on #685
[code]
I think above code can realize my idea!

[2022-07-11 09:19] samkit-jain commented on #680
1. Thanks for checking. That's the reason pdfplumber missed reading that text.
2. I usually do it by finding the bounding boxes of the characters that weren't in the proper alignment and then calculating the tolerance based on their X and Y values. If the difference between the `x1` of one character and the `x0` of the next is less than or equal to `x_tolerance`, they are put together else a space

[2022-07-11 09:25] samkit-jain commented on #683
Hi @bpugnaire Appreciate your interest in the library and thanks for raising this issue. Could you please provide the sample code that you used to reproduce this issue? It would help us investigate and fix. If possible, the PDF that resulted in this behaviour as well.

[2022-07-11 09:47] bpugnaire commented on #683
match_group = '(Figure|Fig\.|fig\.|Tab\.|tab\.|Tabl\.)'
search_result = page.search("(?<!(\(|\[))"+match_group, regex=True)

The regex is here to capture "xxx Figure 1xxx" and not "xxx [Figure1 xxx"

[2022-07-11 16:56] SAIVENKATARAJU commented on #274
@afierro23  In my case, I am not able to do because the pdf creators itself use custom  encoding techniques to avoid copying, We should go with OCR if required.

[2022-07-11 22:28] jsvine commented on #684
Hi @bpugnaire, and thanks for filing this issue. It's going to be very hard to diagnose what's happening without having access to the PDF. Are you able to share that?

[2022-07-11 22:38] jsvine commented on #681
Hi @Gadil-1987, and thanks for your interest in this library. Given that these PDFs are pretty badly corrupted (neither CPDF or GhostScript were able to repair them), and because the root issue seems to come from [`pdfminer.six`](https://github.com/pdfminer/pdfminer.six), this project's main dependency, I'm going to close this issue. Still, it's good to know about and I appreciate you pointing it

[2022-07-11 22:38] #681 closed, assigned to nobody

[2022-07-11 22:48] jsvine commented on #685
Hi @hbh112233abc, and thanks for your suggestion. This is a neat idea! I've been thinking about how to improve the representation of tables, and will consider this as one of the possible approaches.

[2022-07-11 23:30] jsvine commented on #683
Thanks @bpugnaire. Are you able to share the PDF? That would make it easier to diagnose the situation.

[2022-07-12 02:43] navkirat commented on #193
I found that after extracting text, the lru_cache was somehow not being cleared causing the memory to keep filling up and eventually run out of it. After some playing around I found the following code helped me. In the code below, I am clearing the page cache and the lru cache.

`

    with pdfplumber.open("path-to-pdf/my.pdf") as pdf:
        for page in pdf.pages:
        text = page.extract_tex

[2022-07-12 08:32] Gadil-1987 commented on #681
Thanks, This libray helps me a lot

[2022-07-14 21:47] jsvine commented on #684
Hi @bpugnaire, I think I may have fixed the problem with this commit https://github.com/jsvine/pdfplumber/commit/12feadb8fdbd86fb2f596abe803a1a46d58a58da, now on the develop branch. Can you try that and see if it helps? Or, alternatively, can you share the PDF?

[2022-07-15 11:29] bpugnaire commented on #684
Hello, the commit appears to solve the issue on my side, good job and thank you!

[2022-07-15 11:53] jsvine commented on #684
Thanks for checking!

[2022-07-15 11:54] #684 closed, assigned to nobody

[2022-07-16 20:23] jsvine commented on #193
Hi @navkirat, and thanks for flagging. Are you able to share the PDF that triggered the memory issues?

[2022-07-18 23:49] kushagrk9 commented on #356
hello @jsvine - i am currently running into the same error ("ValueError: If explicit_strategy == 'explicit', explicit_vertical_lines must be specified as a list/tuple of two or more floats/ints."`) even with the fix you recommended above. please see below for my code snippet.

[code]

[2022-07-19 02:01] jsvine commented on #356
Hi @kushagrk9, can you share the PDF, so I can test the code (and any potential fix) with it?

[2022-07-19 18:07] jfuruness opened #691 "_itemgetter function removed from utils.py without deprecationWarning"
## Describe the bug

*A clear and concise description of what the bug is.*
I had code that called the cluster_objects function in utils.py. I passed in a string to this function for the key_fn parameter, and I guess previously there was a function in here called _itemgetter that converted that string into an itemgetter function. During commit 58b1ab1b0aa04431c49b25e1751024ae2444218c, this was remo

[2022-07-20 13:01] jsvine commented on #691
Hi @jfuruness, and sorry to hear about the inconvenience that changed caused you. In the convention of [PEP 8](https://peps.python.org/pep-0008/#descriptive-naming-styles), I was using the leading underscore to indicate that `_itemgetter` was an internal-use method:

That said, I could/should have been clearer about removing it — perhaps by giving the removal its own commit and note in the changel

[2022-07-20 13:01] #691 closed, assigned to nobody

[2022-07-20 18:04] jsvine commented on #683
This is fixed in the above commit, and available as of v0.7.1.

[2022-07-20 18:04] #683 closed, assigned to samkit-jain

[2022-07-20 18:07] jsvine commented on #505
Judging by the type of error cited, this appears most likely to be an issue with either a corrupted PDF or with a bug in `pdfminer.six` (rather than `pdfplumber`). Closing the issue for now.

[2022-07-20 18:07] #505 closed, assigned to nobody

[2022-07-20 18:28] jsvine commented on #643
Hi @qiyuhou, and thanks again for sharing this snippet. I have now tested your code with three semi-randomly selected PDFs. It seems to work just fine for me, using pdfplumber v0.7.3 on a Mac. Perhaps try upgrading `pdfplumber` and see if you're still having the same problem? And you're right about this:

Given my inability to reproduce the problem you're encountering, and the lack of specific inf

[2022-07-20 18:28] #643 closed, assigned to nobody

[2022-07-20 18:40] jsvine commented on #414
Thanks, @samkit-jain. Looks like the odd placement of those characters might be due to a font issue. [Repairing the PDF with ghostscript](https://superuser.com/a/282056) seems to fix that — re-locating the those numbers to their correct positions:

<img width="855" alt="Screen Shot 2022-07-20 at 2 36 52 PM" src="https://user-images.githubusercontent.com/534702/180057213-38dcb153-5e43-4f0d-9373-5fd

[2022-07-20 18:40] #414 closed, assigned to samkit-jain

[2022-07-20 19:07] jsvine commented on #413
Update — this more reliably fixes things for me:

[code]

Will be adding a `try/except/raise` to `get_page_image(...)`, with the error message suggesting this fix and pointing people to this thread.

[2022-07-20 19:07] #413 closed, assigned to samkit-jain

[2022-07-20 19:23] jsvine commented on #403
Closing this issue due to inactivity, lack of issue-reproducing PDF, and lack of other users expressing similar issues. Feel free to continue the discussion, however, especially if someone comes across a PDF that allows us to reproduce.

[2022-07-20 19:23] #403 closed, assigned to nobody

[2022-07-20 19:25] jsvine commented on #615
Closing this issue due to inactivity and factors that appear to be outside of `pdfplumber`'s control. Feel free to continue the discussion, however, especially if there is new information to add. Thanks again.

[2022-07-20 19:25] #615 closed, assigned to nobody

[2022-07-20 19:45] jsvine commented on #222
I took some time to look at this and, unfortunately, `Wand` (the library we use to convert the PDF pages to images) does not yet support PDF decryption. In the meantime, I think the most straightforward fix would be to preprocess your PDFs to remove the decryption with a tool such as [cpdf](https://community.coherentpdf.com/).

[2022-07-20 19:47] jsvine commented on #638
Closing this issue due to inactivity and lack of issue-reproducing PDF. If someone is able to provide a PDF that raises the same error, I'll reopen this. Thanks.

[2022-07-20 19:47] #638 closed, assigned to nobody

[2022-07-20 19:52] jsvine commented on #171
Now realizing that, per other discussions in this repository, that passing `pdf_page.curves` to the `"explicit_horizontal/vertical_lines"` table-setting may achieve what you're looking for.

[2022-07-20 19:52] #171 closed

[2022-07-20 19:55] jsvine commented on #124
Closing this issue on the realization that the core bug here has been fixed and that the CPU / memory leak issue is being tracked in https://github.com/jsvine/pdfplumber/issues/193

[2022-07-20 19:55] #124 closed

[2022-07-20 20:01] jsvine commented on #263
Closing this issue as duplicate of #193

[2022-07-20 20:01] #263 closed, assigned to nobody

[2022-07-20 20:13] Da-vid21 opened #692 "AttributeError: 'LTChar' object has no attribute 'graphicstate' trying to use the table function"
So I was running this code `bool(double_column.pages[2].extract_table(dict(vertical_strategy='text', text_tolerance=12)))` it worked fine last week, but now it's giving me this  error, ![image](https://user-images.githubusercontent.com/82111747/180072731-62daf76c-ff2d-4e17-aaa3-24dbfce06499.png) Can someone help me out? Thanks

# [My code](https://github.com/Da-vid21/tosth/blob/main/pdftotext1.py)

[2022-07-20 20:17] jsvine commented on #692
Hi @Da-vid21, my hunch is that you might have a different version of `pdfminer.six` (this library's main dependency) installed — or possibly `pdfminer` installed instead of `pdfminer.six`. The latest/pinned version is `20220524`. Which do you get when you run `pip freeze`?

[2022-07-20 20:25] Da-vid21 commented on #692
Yes, I had other scripts that depended on pdfminer, so I removed pdfminer, pdfminer.six, and
pdflumber and installed pdfplumber again that fixed it. Thanks

[2022-07-20 20:27] Da-vid21 commented on #692
Yes, I had other scripts that depended on pdfminer, so I removed pdfminer, pdfminer.six, and
pdflumber and installed pdfplumber again that fixed it. Thanks

[2022-07-20 20:27] #692 closed, assigned to nobody

[2022-07-20 21:11] jsvine commented on #577
Closing due to inactivity and because `pdfplumber` is most likely not the source of the problem.

[2022-07-20 21:11] #577 closed, assigned to nobody

[2022-07-20 21:27] jsvine commented on #400
Going through this repo's issues, and following up on this one, though I realize it's a bit late.

This is an interesting suggestion but I think the current implementation matches most use-cases somewhat better. One somewhat common counter-example: text with <sub>subscript</sub>/<sup>superscript</sup>, where you do want those letters to be considered as part of the same line.

Unfortunately, there

[2022-07-20 21:27] #400 closed, assigned to nobody

[2022-07-20 22:15] jsvine commented on #189
Apologies for the delay on this; I'm going through old repository issues. The good news is that, in the time since you posted this, whatever underlying problems there were seem to have been fixed.

Running `page.to_image().debug_tablefinder()` produces this:

![image](https://user-images.githubusercontent.com/534702/180091627-db0376b5-c74e-4f6b-b354-c23448c40e95.png)

[2022-07-20 22:15] #189 closed

[2022-07-20 22:18] jsvine commented on #91
Thanks @AgoloASehaily! Closing this issue for now, but further discussion welcome.

[2022-07-20 22:18] #91 closed

[2022-07-20 22:19] jsvine commented on #60
Closing due to inactivity and lack of PDF that demonstrates the problem.

[2022-07-20 22:19] #60 closed

[2022-07-20 22:21] jsvine commented on #598
Just chiming in to echo @samkit-jain: Are you able to share the PDF, @colemanr03? It'd help resolve this issue, as I haven't come across another PDF that demonstrates this particular situation.

[2022-07-20 22:40] jsvine commented on #421
You can now pass `strict=False` to `Page.crop(...)` to allow passing a bounding box that extends beyond the page's bbox: https://github.com/jsvine/pdfplumber/releases/tag/v0.7.4

[2022-07-20 22:40] #421 closed, assigned to jsvine

[2022-07-20 22:43] jsvine commented on #443
I believe that the latest version(s) of `pdfplumber`, which make some more generalized improvements/changes, now convert your PDF to an acceptable image:

![tmp-grey](https://user-images.githubusercontent.com/534702/180094868-c44b85ec-d940-4856-9fbd-a031266d5010.png)

[2022-07-20 22:43] #443 closed, assigned to nobody

[2022-07-20 22:45] jsvine commented on #369
You can now call `Page.outside_bbox(...)`: https://github.com/jsvine/pdfplumber/releases/tag/v0.7.4

If you have multiple bounding boxes you want to exclude, you can chain calls to `.outside_bbox(...)` or loop through them. E.g.,:

[code]

[2022-07-20 22:45] #369 closed, assigned to jsvine

[2022-07-22 06:04] hbh112233abc commented on #685
Sorry, @jsvine My code will get error `merged_cells` when table irregular. So I hope you can give a perfect solution for get merged cells.

[2022-07-24 05:04] jfuruness commented on #691
All sounds great.

Just to clarify, I wasn't personally using the _itemgetter function, the public cluster_objects function was. Previously the public cluster_objects function had a parameter called key_fn, and you could pass a string for this parameter. After the commit 58b1ab1, if you passed a string into this parameter (key_fn for the public function cluster_objects), it would error out.

Not t

[2022-07-25 18:32] jsvine commented on #691
Ah, my apologies for misunderstanding the initial issue. And yes, you're right: That's a breaking change in a public method, and I'll consider ways to reinstate that functionality. (I vaguely recall trying to simplify things for type-consistency's sake, but I'll reassess.) Thanks for clarifying.

Thank *you* for the kind words, and for the offer! Depending on the kind of support you have in mind:

[2022-07-26 09:59] bpugnaire opened #695 "ValueError: bytes must be in range(0, 256)` in page.chars"
## Describe the bug

When accessing page.chars, a ValueError: bytes must be in range(0, 256)
Here is the full exception :

`if len(page_cropped.chars) != 0:
  File "/home/baptistepugnaire/.local/share/virtualenvs/extraction_donnees_pdf-FvW0QW7r/lib/python3.8/site-packages/pdfplumber/container.py", line 50, in chars
    return self.objects.get("char", [])
  File "/home/baptistepugnaire/.local/share

[2022-07-26 12:02] jsvine commented on #695
Looking at the stack trace — specifically the final part, `pdfminer/psparser.py", line 474, in _parse_string_1 self._curtoken += bytes((int(self.oct, 8),)) ValueError: bytes must be in range(0, 256)` — this appears to stem from either a bug in `pdfminer.six` or (generally more common) a malformed PDF. Seems like part of the PDF was *saying* it was using an octal number, but provided a value incons

[2022-07-26 12:02] #695 closed, assigned to nobody

[2022-07-27 17:51] jfuruness commented on #691
No problem at all, I think I did not explain it well the first time around. I agree I think the type consistency is indeed better after the changes.

As far as fixing the memory leakage problem, I hate to dissapoint but I am working a job and a PhD, I won't have much free time until about a month from now. I'll try to take a cursory look but unfortunately I don't think I'll have the time required

[2022-08-01 17:38] jhonatan-lopes opened #698 "pip whl missing `py.typed`"
## The bug

#657 introduced a `py.typed` marker to indicate to mypy that the package is typed. However, the [built distribution on pypi](https://pypi.org/project/pdfplumber/0.7.4/#files) (wheel file) is missing the `py.typed` file, whereas the source distribution is including it, as it should.

When building the package locally with `pip wheel .` (with my fork of `pdfplumber`), the package builds

[2022-08-04 00:59] jsvine commented on #698
Hi @jhonatan-lopes, and thanks for raising this issue. I'm not much of a packaging/distribution expert, so I have a couple of questions to help clarify my understanding:

- It makes sense to me that the *source* distribution would/should have `py.typed`.  But why would/should the built distribution have it? My understanding is that `py.typed` is primarily useful for working with the source files,

[2022-08-04 03:39] lili1234567890 opened #699 "AttributeError: partially initialized module 'pdfplumber' has no attribute 'open' (most likely due to a circular import)"
with pdfplumber.open("G:/word/0052b7958e89.pdf") as pdf:
AttributeError: partially initialized module 'pdfplumber' has no attribute 'open' (most likely due to a circular import)

![Uploading image.png…]()

- pdfplumber version: 0.7.4
- Python version: 3.8.1
- OS:Windows

[2022-08-04 12:48] jhonatan-lopes commented on #698
Hi @jsvine! I'm not a distributions expert in any way either :) but I'm trying my best to get typing annotations working for this amazing library, especially given the trouble with putting up the annotations in the code in first place. Packaging should have been the easy part.

To your questions:

- `py.typed` is needed whenever you install the library. `mypy` sees this file and interprets that as

[2022-08-04 13:21] JosefJoubert opened #700 "Extracting Z-Value of Rects/Items"
Hi,

First off, thanks for your work. This library greatly useful to me.

I am importing a PDF which represents a floorplan for a building, which contains a lot of graphical objects.
Some of these objects are filled rectangles/curves.
When I view the PDF in other software, it consistently draws some rectangles over others, so I assume there is some data concerning the Z-value/draw-order of the rec

[2022-08-04 13:32] jhonatan-lopes commented on #698
I found a similar problem on `httpx` package, from a while ago. Please check out this [issue](https://github.com/encode/httpx/issues/193).

It seems that they had the same issue as it's happening here. The only difference in code now seems to be that their `setup.py` contains the following declaration:

[code]
which is not present on `pdfplumber`'s `setup.py`.

Nonetheless, I'm not sure which buil

[2022-08-04 13:37] jsvine commented on #700
Hi @JosefJoubert, and glad to hear that this library has been helpful. To answer your question: Unlike some other layout systems (e.g., that used by CSS),  PDFs don't have a concept of z-index. Instead, graphical elements appear bottom-to-top in the order they are generated in the file. For more information on this, and advice on how to determine the relative order, see this discussion: https://gi

[2022-08-04 13:37] #700 closed, assigned to nobody

[2022-08-04 13:39] jhonatan-lopes commented on #698
Sorry, new update. From `mypy`'s official [documentation](https://mypy.readthedocs.io/en/latest/installed_packages.html#creating-pep-561-compatible-packages), it seems that

[code]

must be added to `setup()` when using `setuptools` and `mypy` together.

The [httpx](https://github.com/encode/httpx) package figured this out with this [PR](https://github.com/encode/httpx/pull/361).

@jsvine, I could

[2022-08-04 14:29] jsvine commented on #698
Thank you for those explanations and that detective work, @jhonatan-lopes! And thank you for offering to submit a PR. That sounds great, and I'd appreciate it. Cheers.

[2022-08-04 14:55] jsvine commented on #699
Hi @lili1234567890, and thanks for the report. It's a strange one, and I can't immediately think of a clear reason why it would happen. Two follow-up questions:

- Try reinstalling the library by running `pip uninstall pdfplumber` and the `pip install pdfplumber`. Do you still have the problem?

- If you downgrade to an earlier version via `pip install pdfplumber==0.7.0`, do you still have the pro

[2022-08-04 15:06] lili1234567890 commented on #699
This is my code:

import pdfplumber
import pandas as pd

with pdfplumber.open("G:/word/0052b7958e89.pdf") as pdf:
    page = pdf.pages[0]   # 第一页的信息
    text = page.extract_text()
    print(text)

When I run it,  I have the following problem
Traceback (most recent call last):
  File "G:/word/pdfplumber.py", line 1, in <module>
    import pdfplumber
  File "G:\word\pdfplumber.py", line 4, in <modul

[2022-08-04 15:12] jsvine commented on #699
Ah, perhaps this provides a clue: https://stackoverflow.com/a/60677039

Do you happen to have a added a file called pdfplumber.py in your working directory?

[2022-08-04 15:21] #699 closed, assigned to nobody

[2022-08-05 01:56] hbh112233abc commented on #685
Hi @jsvine , I found new solution for get merged_cells, and it is better and precisely!

1st, we can get rows and cols coord mark like:
[code]
2nd, we can check cell merged:
[code]
if `merged` is None, cell is not merged cell.

[2022-08-05 21:09] jsvine commented on #698
Fixed via your PR in #703 — many thanks!

[2022-08-05 21:09] #698 closed, assigned to nobody

[2022-08-13 20:33] jwestwsj commented on #36
I know this is a closed issue, but I just wanted to post here in case someone else searches the same error that seems to be rearing its ugly head once again. I just had this very issue today with `ImageMagick@7` installed from Homebrew. I ended up downgrading to `ImageMagick@6` which solved the issue for me, but it appears that (as of three days ago) Wand [is suffering](https://github.com/emcconvi

[2022-08-16 16:25] dvgodoy commented on #638
@jsvine, @jtschoonhoven

I had the same issue described here, and I figured that the problem was that the document was digitally signed using DocuSign. Apparently, DocuSign adds an annotation to the PDF, and this particular type of annotation refers to the document itself, thus triggering an infinite recursion.

Unfortunately I cannot provide the PDF either, but I can tell you the hack I used to s

[2022-08-16 23:40] yihaoshumi opened #709 "automatically make this space read as """
[sample.pdf](https://github.com/jsvine/pdfplumber/files/9355267/sample.pdf)
pdf=pdf.open('sample.pdf')
words=pdf.pages[0].extract_words()

How can I automatically make this space read as "". Because this place is actually occupied.
<img width="530" alt="image" src="https://user-images.githubusercontent.com/32957552/185003500-18c0f72f-96a7-4609-9bb1-1548eec05bf2.png">

[{'text': 'text1text2text3',

[2022-08-17 01:18] #709 closed, assigned to nobody

[2022-08-17 01:42] jsvine commented on #638
Hi @dvgodoy, and thank you for this helpful note. The fact that a DocuSign PDF was causing you trouble sounded like a potential clue, so I generated and signed a simple example / test PDF: [docusign-example.pdf](https://github.com/jsvine/pdfplumber/files/9355656/docusign-example.pdf)

Unfortunately (or fortunately!), `pdfplumber` handles the PDF and its annotations process just fine, no errors of

[2022-08-17 17:24] dvgodoy commented on #638
OK, so it is the document that is broken then.

I had to do some digging, but I was able to find the cause of the recursion. I will try to outline it here using the dictionaries I found along the way.

This is the dict corresponding to the annotation/signature:

{'AP': {'N': <PDFObjRef:411>}, 'DR': {}, 'F': 132, 'FT': /'Sig', 'Lock': <PDFObjRef:5>, 'P': <PDFObjRef:4>, 'Rect': [0, 0, 0, 0], 'Subtyp

[2022-08-19 18:17] jjjkuba opened #713 "pdf plumber to_image( ) OSError: exception: access violation writing 0x0000000000000008"
## Describe the bug
When i try to convert some pages from opened pdf to images using to_image() method it throws the follwoing error:

[code]
I tried to invoke this method from PyCharm and from windows cmd ant the result is the same.

## Code to reproduce the problem (code I used in cmd)
[code]

## PDF file
Basically it occured for any pdf file I tried.

[scansmpl.pdf](https://github.com/jsvine/pd

[2022-08-20 15:48] jsvine commented on #713
Hi @jjjkuba, and thanks for the well-described report. The error appears to stem from one of this library's dependencies, Wand, and appears to have been fixed recently: https://github.com/emcconville/wand/issues/586 & https://github.com/emcconville/wand/issues/587

If you `pip install -U wand`,  does that resolve the error?

[2022-08-21 12:15] jjjkuba commented on #713
Yes, it solved the issue.
Thanks

[2022-08-21 12:15] #713 closed, assigned to nobody

[2022-08-29 08:54] AresElvis opened #720 "The same table is distributed on two pages, and some data extraction fails"
## Describe the bug

The table on the first page is partly on the second page due to space reasons, but the data in the first row of the second page cannot be extracted during extraction

## Code to reproduce the problem

file_name = '《新能源汽车推广应用推荐车型目录》（2022年第6批）车型主要参数.pdf.pdf'
pdf = pdfplumber.open(file_path_dir + file_name)
for i, page in enumerate(pdf.pages):
    tables = page.extract_tables()

[2022-09-06 12:57] lycfight opened #724 "Distinguish between bold and non-bold Fonts"
Although the .chars object can provide fonts, it can't distinguish between bold and non-bold text with the same font, which make s sense to PDF parsing

[2022-09-06 21:13] jsvine commented on #638
Thanks @dvgodoy for these details. Quite helpful. There's probably a way to handle the exception more elegantly than `pdfplumber` does now (so that your experience is more like how it is in Acrobat), but I'm going to wait until I have a concrete PDF I can test it against.

[2022-09-06 21:42] #720 closed, assigned to nobody

[2022-09-06 21:52] Hoyuri commented on #655
Hi, I met the same issue here. Uninstall pdfminer.six and re-install it again, and then bug is fixed. It is just because `LTChar` object does not have attribute `graphicstate`. Reinstallation will fix the bug.

[2022-09-06 22:44] jsvine commented on #724
Hi @lycfight, and thanks for your interest in this library. As I understand the PDF specification, there is not a "bold" attribute to text. Rather, the font itself either is or isn't bold, something typically (but not always) indicated in the `fontname` property. Unfortunately, it's difficult to troubleshoot your particular situation with knowing the PDF you're examining. Are you able to provide t

[2022-09-07 12:37] loganathanspr opened #726 "TypeError: unsupported operand type(s) for -: 'float' and 'NoneType'"
## Describe the bug

I am extracting annotations from a pdf file. It is giving me the `TypeError` when accessing the `.annots`.  When I updated each annotations manually (just adding/deleting one extra character ), it didn't give me this error. I am suspecting the **original text encoding of the annotation** is different than the one expected by the `pdfplumber`.
Does `pdfplumber` have any strict

[2022-09-07 12:47] jsvine commented on #726
Thanks for flagging @loganathanspr! Looking at the stacktrace, my best guess is that the annotation has an undefined bounding box. (Hence why it'd get such an error on line 167, where the stacktrace is pointing.) But it's a bit difficult to know for sure, or to test a fix, without seeing the actual PDF.  Are you able to share that?

[2022-09-07 13:27] lycfight commented on #724
I try to extract important sequences, so I concate the chars with the same key, which joint by fontname, size, stroking_color and non_stroking_color. But the bold first sentence is mixed with the rest of the text in the non bold paragraph.
`def parse_importance_sen(page):
    """
    get seq with the same font
    """
    font_dict = dict()
    for char_item in page.chars:
        key =  char_item

[2022-09-07 13:28] lycfight commented on #724
``def parse_importance_sen(page):
    font_dict = dict()
    for char_item in page.chars:
        key =  char_item["fontname"] + "_" + str(int(10 * char_item["size"])) + "_" + str(char_item["stroking_color"]) + "_" + str(char_item["non_stroking_color"])
        if key not in font_dict:
            font_dict[key] = []
        font_dict[key].append(char_item["text"])
    for key in font_dict:

[2022-09-07 13:38] lycfight commented on #724
[code]

[2022-09-07 13:39] lycfight commented on #724
[H3_AP202209071578120954_1.pdf](https://github.com/jsvine/pdfplumber/files/9506656/H3_AP202209071578120954_1.pdf)
[code]

[2022-09-07 13:56] lycfight commented on #724
we can find that follow bold first sentences  underlined in red mixed with the remaining non bold text in the paragraph:
1）英伟达与 AMD 对华出口高端 GPU 芯片受限，国内云计算与人工智能发展或受影响。
2）嬴彻科技发布《自动驾驶卡车量产白皮书》，披露从量产走向无人的三阶段技术路线。
3）五菱宏光 MINIEV 敞篷版发布，采用抽签方式出售。
4）Yole 发布《2022 年汽车与工业领域激光雷达应用报告》：汽车市场将成主要驱动力，禾赛引领中国企业突围。

[2022-09-07 14:17] lycfight commented on #724
I try to extract important sequences, so I concate the chars with the same key, which joint by fontname, size, stroking_color and non_stroking_color. But the bold first sentence is mixed with the rest of the text in the non bold paragraph.

test file:
[H3_AP202209071578120954_1.pdf](https://github.com/jsvine/pdfplumber/files/9506932/H3_AP202209071578120954_1.pdf)

my code:
[code]

the result:
[cod

[2022-09-14 16:31] sarveshkrg opened #731 "How to get information of superscript and subscript text in the pdf"
Hi, anyone please help to get superscript subscript text identification from normal text in the pdf so that I can save the chemical formula and other constant values present in the pdf as it is into the excel. Thanks in advance.
Input
![image](https://user-images.githubusercontent.com/46168717/190211058-ab209236-6449-4fc8-94f0-b4b8cd23a441.png)
Output
![image](https://user-images.githubusercontent

[2022-09-15 07:27] zhaochenhong42 commented on #655
Thanks to Hoyuri! It works like magic

[2022-09-15 12:55] jsvine commented on #724
Thank you for providing the PDF and the context, @lycfight. It is very helpful. I've spent some time investigating the PDF but unfortunately have not been able to find an answer yet. At first, I thought it might be an issue with the font definitions in the PDF — perhaps two different fonts (bold and not bold) using the same font name. But that doesn't seem to be the case. It also doesn't seem that

[2022-09-15 12:59] jsvine commented on #731
Closing as duplicate of #730

[2022-09-15 12:59] #731 closed, assigned to nobody

[2022-09-15 12:59] lycfight commented on #724
Thank you, I'll try some other methods.

[2022-09-26 22:43] Cristishor201 opened #733 "Detecting paragraphs or blank lines inside a table"
So there are these questions on stackoverflow:
[pdfplumber - How to extract table with no horizontal lines?](https://stackoverflow.com/questions/73845059/pdfplumber-how-to-extract-table-with-no-horizontal-lines) - this is mine
[Use pdfplumber to extract paragraphs](https://stackoverflow.com/questions/71119841/use-pdfplumber-to-extract-paragraphs) - this one is similar

But I will repost it again h

[2022-09-26 22:58] Cristishor201 commented on #733
Possible duplicate of #122

[2022-09-27 21:02] #733 closed, assigned to nobody

[2022-10-01 13:48] jsvine commented on #691
Thanks again for flagging this, @jfuruness. After thinking it through a bit more, I've just gone and reinstated the ability to use any hashable value (including but not limited to `str`) as the `key_fn` parameter to `.cluster_objects(...)`. Now available on `stable`, `develop`, and `v0.7.5`. Cheers!

[2022-10-01 18:27] jfuruness commented on #691
No thank you! I'm honored to be a part of the changelog on such a great repo that is so well maintained. Best wishes!

[2022-10-11 01:46] ParthJai commented on #193
uhh I tried all of the above and seems nothing is working for me. I used memory_profiler and this is what I got-
![Untitled](https://user-images.githubusercontent.com/42300701/194978592-cd9eef31-0d26-42a9-af77-51d1b85c4776.png)
As you can see there is a spike at line 27 and 28 which doesnt come down. Also if I run it multiple times, memory usage just keeps on climbing.
I'm making an async web requ

[2022-10-13 16:10] raffaele96x commented on #84
Hi, thank you very much for sharing your code. I'm using it for a university project and it works great. I find myself in a situation where I only need to understand which cells are joined horizontally. Is it possible to manage horizontally joined cells and insert a None instead of those joined vertically? Thanks for your help

[2022-10-13 16:14] REDxEYE commented on #84
It's been 4 years since i implemented it, i dont really remember how i did that. I might invest some time and implement cleaner code to extract tables

[2022-10-13 16:29] raffaele96x commented on #84
Thank you all the same. You did a great job!

[2022-10-17 03:09] Godlikemandyy opened #745 "New Problem"
@jsvine  I have a new situation.
I solved the previous problem by adjusting y_tolerance, but I encountered the following problem with the new document.
The document format is as follows:
<img width="754" alt="image" src="https://user-images.githubusercontent.com/36065226/196075529-241bb184-9c76-4e1b-aa96-e5a20c7652ce.png">
These sorts of documents are in left-right columns, and when I used extract

[2022-10-17 03:11] Godlikemandyy commented on #745
Personally, I think it's the left and right column format that makes the spacing of each row small, and increasing y_tolerace will affect the format of the extracted content, but I don't know how to fix it.

[2022-10-21 01:28] sarraAyed commented on #293
Hello, I am still facing this issue.

[2022-10-25 21:44] jsvine commented on #293
Hi @sarraAyed, and thanks for your note. Can you provide the code and PDF that reproduces the error you're encountering?

[2022-10-25 21:45] #745 closed, assigned to nobody

[2022-11-03 14:55] ameymn opened #752 "Reding different words as continuous one word."
## Describe the bug

When we read the pdf using pdfplumber the bug is it is reading some  individual words together as single long word

## Code to reproduce the problem

<img width="470" alt="image" src="https://user-images.githubusercontent.com/84408423/199755425-22349a4a-c9b7-4ed0-82c6-1f968ce7a994.png">

## PDF file

[pdfplumber bug.pdf](https://github.com/jsvine/pdfplumber/files/9930314/pdfpl

[2022-11-03 18:06] ameymn commented on #244
You can use PyPDF2 instead of pdfplumber there it reads the pdf  left side first and then the right side just like humans do .Hence  if you use PyPDF2 no need splitting the page .

[2022-11-03 20:35] jsvine commented on #752
Hi @ameymn, have you tried using the `x_tolerance=` parameter of `.extract_text(...)`?:

<img width="838" alt="Screen Shot 2022-11-03 at 4 34 25 PM" src="https://user-images.githubusercontent.com/534702/199828507-0baf0745-2794-490f-80d6-4e9da268e689.png">

[2022-11-09 17:00] joaoccruz opened #755 "Inclusion of a CITATION.cff file"
```CITATION.cff``` files are plain text files with human- and machine-readable citation information for software (and datasets). Code developers can include them in their repositories to let others know how to correctly cite their software. [cff](https://citation-file-format.github.io/) documentation.

The inclusion of this file would be greatly appreciated

[2022-11-10 06:26] giriannamalai commented on #84
Thank you for the code. I had the same situation. It's working great.

[2022-11-10 08:41] FaizanCW opened #756 "Extract digital signatures from pdf"
Extract signature from signed PDF and get all information related to that signature and validate signature is authenticated or not, authentication means signature is attached in PDF is generally generated by or based on a certificate or key so when we need to check that signature is generated by a specific key or certificate then we will able to do that.

Please refer this stackoverflow solution f

[2022-11-12 00:10] anjanvb commented on #81
In my case the policy file was in `/etc/ImageMagick-6/policy.xml`

And then I had to uncomment this line

[code]

And change the rights to `read|write` in this line towards the bottom of the file

[code]
to

[code]

[2022-11-17 12:15] maayansharon10 commented on #713
Hello,
for me it still doesn't work. working with google colab, installed with pip - pdfplumber, imagemagick.
had the same error as here, as suggested above ran-
!pip install -U wand

my code looks like this-

[code]

and now I get this error -
[code]

would love some help

[2022-11-21 16:42] jwestwsj opened #760 "Some additional documentation in `pdfplumber.Page.to_image(**conversion_kwargs)`?"
I ran into a tiny issue, that might be obvious to others (but wasn't to me), and I think a line in the docs would go a long way toward helping others.

Right now, this—

[code]

—will produce a 72 DPI PNG file, not (as you might want) a 300 DPI PNG file.

It's an eminently solvable issue. All you need to do is convert to TIFF rather than PNG (as I probably should have been from the jump), but it m

[2022-11-22 00:28] jsvine commented on #755
Hi @joaoccruz, and thanks for the suggestion. Although I'm generally wary of bloating the root-level directory with a ton of niche files, CITATION.cff seems like a reasonable one. A couple of questions that will help with implementation:

- Is there another repository that you think publishes a particularly useful CITATION.cff file?

- Do you have an opinion on providing a CITATION.cff file *witho

[2022-11-22 00:35] jsvine commented on #756
Hi @FaizanCW, thanks for the suggestion. Do you have an example you could attach of a PDF with a digital signature that you'd like to verify?

Note to my future self and/or anyone who would like to implement this feature: The relevant section of the [PDF reference](https://ghostscript.com/~robin/pdf_reference17.pdf) is `8.7 Digital Signatures`.

[2022-11-22 00:37] jsvine commented on #713
@maayansharon10 Your issue appears to be different than the one discussed here. Instead, please see this thread: https://github.com/jsvine/pdfplumber/issues/81#issuecomment-1312277946

Does that help?

[2022-11-22 01:46] jsvine commented on #760
Thanks for the report, @jwestwsj! Just to check whether I'm understanding: You're getting the correct number of pixels in the image, but the PNG written by Wand does not contain the necessary metadata indicating that the file should be considered 300 DPI rather than 72 DPI? Or do I misunderstand the situation?

[2022-11-22 04:34] FaizanCW commented on #756
[pdf_digital_signature_timestamp.pdf](https://github.com/jsvine/pdfplumber/files/10063531/pdf_digital_signature_timestamp.pdf)

[sample01.pdf](https://github.com/jsvine/pdfplumber/files/10063534/sample01.pdf)

Here you find the sample pdfs with digital signature in it...Thanks @jsvine

[2022-11-22 04:38] FaizanCW commented on #756
Please refer this library also for the reference...This library have much more functionality for digital signature validation and fetching all types of information of signature and certificate...!
https://www.example-code.com/chilkat2-python/pdf_signatures.asp

[2022-11-22 09:31] maayansharon10 commented on #713
thank you @jsvine ! Sorry, I wasn't aware it's not the same issue/ it was already discussed, but it solved it! thanks!

[2022-11-22 10:34] joaoccruz commented on #755
Hi @jsvine thanks for the follow up!

Regarding your first question: I'd recommend checking out [NLTK](https://github.com/nltk/nltk/blob/develop/CITATION.cff), they have a very good CITATION.cff

As for the second question, I do not find a DOI required. To my knowledge, it is most often (if not exclusively) used in scientific publications such as journals or conference papers. NLTK, for instance,

[2022-11-22 11:08] XuShanJiang opened #764 "Plumbing pdf results in mixed characters of neighbouring words"
## Describe the bug
The pdf is not plumbed correctly in text. The words are incomplete and characters of neighbouring words are mixed together.

## Code to reproduce the problem
`with pdfplumber.open("woo-besluit-contacten-rabo-pveu.pdf") as pdf:
    for i in range(len(pdf.pages)):
        print(pdf.pages[i].extract_text())`

## PDF file
[woo-besluit-contacten-rabo-pveu.pdf](https://github.com/jsv

[2022-11-22 17:56] jsvine commented on #764
Hi @XuShanJiang, have you tried adjusting the `y_tolerance` setting described in the `.extract_text(...)` documentation?

[2022-11-22 18:12] jsvine commented on #755
Thanks, that's very helpful. How does this look to you?: https://github.com/jsvine/pdfplumber/blob/develop/CITATION.cff

[2022-11-23 05:53] Mayank-21 opened #765 "Getting 'pdfplumber' has no attribute 'open' Error in latest version."
## Describe the bug

Getting 'pdfplumber' has no attribute 'open' error. I am using latest version of pdfplumber

## Code to reproduce the problem

import pdfplumber
with pdfplumber.open('eng_cr_2022.pdf') as pdfplum:
    first_page = pdfplum.pages[0]
    print(first_page.chars[0])

## Expected behavior

it should run and give me extracted text.

## Actual behavior

Getting Error: AttributeError:

[2022-11-23 07:36] Gadil-1987 opened #766 "It might be character set problem"
## Describe the bug

*I used pdfplumber to read pdf file, the result was not the same thing as my expected.
I also tried to copy the chars from the pdf, and i pasted the chars to anywhere,the result were wrong.
But, I used the office-word to open the pdf，the result was ok*

## Code to reproduce the problem

![image](https://user-images.githubusercontent.com/108721053/203488666-bf8eee6d-d402-43c6-9

[2022-11-29 05:43] charan7799 commented on #334
Hi,
How can I seperate text in the same line
for example in the above case, PROFESSIONAL EXPERIENCE EXPOSURE & SKILLSETS are printed in the same line even though they're in the different headers of the given pdf
So how can i get them to look like this(PROFESSIONAL EXPERIENCE \n EXPOSURE & SKILLSETS)?
Thanks