[2020-06-17 01:25] kewenkang commented on #222
I know why the error occurs, but I do not know how to deal with it.

[2020-06-17 13:07] jsvine commented on #222
Thank you for flagging this, @kewenkang. Adding the ability to use .to_image with encrypted files seems like a worthwhile enhancement. If anyone wants to try adding this functionality, feel free to submit a PR. Otherwise, I will add it to my todo list.

[2020-06-19 20:52] amansani opened #223 "Missing first and last column for borderless tables"
[Testing.pdf](https://github.com/jsvine/pdfplumber/files/4806619/Testing.pdf)

Below is the code snippet i used in jupyter visual debugging tool. Missing first and last column data due to no borders at both the ends.

Any help is really appreciated. Thank you.

import pdfplumber
import pandas as pd
import decimal

pdf = pdfplumber.open("useAttacedPDFFile")
testingPage = pdf.pages[0]

im = testingP

[2020-06-19 21:06] jsfenfen commented on #223
Hi @amansani, the table extraction settings allow you to change how tables are read.

https://github.com/jsvine/pdfplumber#table-extraction-settings

Have you tried "vertical-strategy" being "text"? Not sure it'll fix it, but the idea is that it tries to identify cells by text location, rather than lines. You can also use "explicit" to give it a list of breaks. If you have many pages to do this fo

[2020-06-19 21:35] amansani commented on #223
Hello Jacob, thank you for your quick response.

I have more than 80 tables in one pdf page, explicit might not work in my case. Also i have n number of pdf files to retrieve different variety of tables.

Tried with vertical-strategy to text, able to get first and last column but has an impact on missing few header portion and the last right column data

table_settings = {
        "vertical_strate

[2020-06-19 22:02] jsfenfen commented on #223
You may wanna also look at setting "keep_blank_chars": True.

Apologies if I wasn't clear about the explicit strategy. Here's a lengthier take on it.
- Find a column that parses correctly. As you've applied it above, the first column generates the correct breaks. Figure out what those are, and apply them explicitly to the other columns.
- If that alone doesn't work, and you're still getting errone

[2020-06-22 02:30] youngquan opened #224 "upgrade the version of pdfminer.six"
I read the release notes from [here](https://github.com/pdfminer/pdfminer.six/releases).
It seems that pdfminer.six>=20200104 could also works.

[2020-06-22 10:31] JLYops opened #225 "I cannot extract any message"
path = input("path：")
pdf = pdfplumber.open(path)
print('\n')
print('start')
print('\n')
for page in pdf.pages:
    for table in page.extract_tables():
        for row in table:
            print(row)
            for j in range(len(row)):
                sheet.write(i, j, row[j])
            i += 1
pdf.close()

They are all empty

[2020-06-22 10:35] JLYops commented on #225
I have checked the format of the file. It is a normal PDF format. However, the above code cannot extract the information in the table. By the way, is there any format requirement for the extracted text? I want to extract Chinese characters. Thanks!

[2020-06-22 13:20] amansani commented on #223
Thanks for the inputs Jacob, I am gonna try it today.

[2020-06-23 02:54] jsvine commented on #223
Hi @amansani and thanks @jsfenfen. From a quick glance, it looks like what was happening initially is that the table has no actual lines closing the leftmost and rightmost columns. There are a few ways you could resolve this (including Jacob's suggestion), but here's the one I would personally use if this were my code:

- On each page, find the first wide horizontal line, and note its `x0` and `x1

[2020-06-23 02:57] jsvine commented on #225
I think this may have something to do with how the specific version of `pdfminer.six` currently used by `pdfplumber` handles Chinese characters. Try downgrading:

[code]

... or upgrading:

[code]

Do either of those solve your problem?

[2020-06-24 17:51] amansani commented on #223
Hello @jsvine . Thanks for the inputs.

In my case the two assumptions which you listed does not apply. All the tables not have the same general style and the table might not exists in each page.

[2020-06-25 02:31] jsvine commented on #223
This should be no problem; the code above would handle that. The only problem would be if there are multiple tables per page, in which case you'd need to add logic to handle that.

This, however, would be a problem. If the styles have a very wide variety, then `pdfplumber` might not be the ideal tool for this project.

[2020-06-25 02:31] #223 closed

[2020-06-25 02:48] jsvine commented on #219
Ah, thank you for explaining. That's a good point. I have now made sure to mention them in the documentation.

[2020-06-25 02:48] #219 closed

[2020-06-25 02:52] jsvine commented on #224
Thanks for mentioning this! Upgrading to `pdfminer.six==20200517` causes a couple of errors in the test suite. It seems like this is happening because of changes to pdfminer's layout analysis algorithm. I'll have to dig into this a bit more before deciding the best resolution.

[2020-07-01 00:06] ryanskene opened #226 "Handling off-axis tables with no lines"
Just wondering if anyone has come up with a strategy for handling off-axis tables. I know the module works better with digitally-generated pdfs but I have a project where I have a mix of digital and scanned and most of the scanned images are rotated. None of the tables have explicitly drawn lines.

So, for example, the text of rows might be rotated such that strict horizontal lines won't properly

[2020-07-01 09:18] rosswf commented on #193
To get around this, I would open and close the PDF file each time.
[code]

Garbage collection doesn't seem to happen until the PDF is closed. I'm not sure what causes the issue but maybe this can help in somebody figuring that out.

[2020-07-01 09:41] Freakwill opened #227 "Did not extract texts with symbols in right order."
I read the document of pdfplumber and try to replace pdfminer3 in some case.
However, I extracted text from a math paper, got the follows (partly) by `print(page.extract_text())`

It shown × before Theorem1, but in fact it appears between m and n, i.e. m × n, also other symbols such as ∈ R ≥; while pdfminer3 prints them in right order

[2020-07-01 17:34] lilygrier opened #228 "How to extract columns separately"
My apologies if this is addressed elsewhere (somewhat new to deciphering documentation). I'm working with PDFs like these (http://www.fao.org/ag/locusts/common/ecg/2536/en/DL498e.pdf) that have text across two columns. When I try to extract text, it's blurring the columns into one. Would the solution be to crop the page down the middle and read in each side separately? If so, how would I determine

[2020-07-02 02:55] jsvine commented on #228
Hi @lilygrier, and thanks for your interest in this library. Cropping the page in half sounds like a reasonable approach. If the page is truly split down the exact middle, you should be able to determine the location via `page.width // 2`. If it's not exactly in the middle, hopefully it's in a fairly consistent place, in which case you could hardcode that x-value.

[2020-07-02 02:55] #228 closed

[2020-07-02 02:57] jsvine commented on #227
Thanks for your interest in this library, @Freakwill. It's a bit hard to debug this issue, however, without the PDF itself. Can you provide it?

[2020-07-02 11:16] Freakwill commented on #227
You can use any math paper. This is the test paper https://pan.baidu.com/disk/pdfview?path=%2FMaths%2FFarkas.pdf.

[2020-07-02 21:53] rosswf opened #229 "Question: What are the page sizes measured in?"
What are the page sizes measured in? I have a PDF where adobe  is reporting the page size as around 16.5" wide.

page.width has a value of around 1190. What unit of measurement is this?

[2020-07-09 09:17] andlike opened #230 "Beyond the line can't identify"
[Sn石墨炉20-1010-2气.pdf1(1).pdf](https://github.com/jsvine/pdfplumber/files/4895713/Sn.20-1010-2.pdf1.1.pdf)
![image](https://user-images.githubusercontent.com/9100593/87021124-63043080-c207-11ea-9102-a787ae13399d.png)
methods:   page.extract_text()

result:
![image](https://user-images.githubusercontent.com/9100593/87021594-fdfd0a80-c207-11ea-9314-44248f77d45b.png)

[2020-07-10 13:55] andreabac3 opened #231 "Encoding Error on Windows"
Hello devs,
I have wrote a python script using pdfplumber, I encounter an issue using it on windows 10.
The problem is with the encoding of the pdf file in the presence of certain symbols.
I got the following error: unicode encode error charmap codec can't encode ...

I fix the issue overwriting the open function directly into my script:
`
import functools
`
`
open = functools.partial(open, encodi

[2020-07-10 13:58] #231 closed

[2020-07-13 02:29] andlike commented on #182
@greddyatpt 解决了没有

[2020-07-13 04:49] greddyatpt commented on #182
Sorry, I deal with Chinese PDFs but don't know Chinese.  Google says 解决了没有 means "Solved".  Are you saying the feature is implemented?

[2020-07-14 06:32] LinanYaooo commented on #147
with open(file, 'rb') as f:
    content = io.BytesIO(f.read())

import pdfplumber

doc = pdfplumber.open(content)

      4
----> 5 doc = pdfplumber.open(content)

D:\Anaconda\lib\site-packages\pdfplumber\pdf.py in open(cls, path, **kwargs)
     46     @classmethod
     47     def open(cls, path, **kwargs):
---> 48         return cls(open(path, "rb"), **kwargs)
     49
     50     def process_page(

[2020-07-14 06:38] na4raitda commented on #128
I really need this option...
For I python newbie, it's difficult to parse since there are whitespaces everywhere.

[2020-07-17 03:36] YellowDong opened #232 "how to merge table from different page"
Tables are distributed on different two pages, and how to merge into the same table
![无标题](https://user-images.githubusercontent.com/23050255/87745852-9a836600-c821-11ea-8ada-765f144f1791.png)

[2020-07-18 11:41] jsvine commented on #232
Hello, and thank you for the helpful illustration. There’s no specific feature within `pdfplumber` for merging tables. But if you extract the two tables separately, you can likely write some Python code to combine the results.

[2020-07-18 11:41] #232 closed

[2020-07-18 11:50] jsvine commented on #220
Hi @abhilashabhardwaj, and apologies for the delay in responding. Judging by the debugging image you shared (and thank you for sharing it), it seems that there are some extra PDF objects that — while not necessarily visible to the human eye — are being interpreted as parts of the table. When I encounter issues like this, I then do something like this:

[code]

... and then ...

[code]

... until I

[2020-07-18 11:56] jsvine commented on #226
Hi @ryanskene, and thanks for your interest in this library! Given `pdfplumber`’s focus on digitally-generated PDFs, I’m going to close this comment. But if anyone does have suggestions — now or later — feel free to chime in on this thread.

[2020-07-18 11:56] #226 closed

[2020-07-18 11:57] jsvine commented on #195
Closing due to inactivity, but feel free to reopen.

[2020-07-18 11:57] #195 closed

[2020-07-18 11:58] #79 closed

[2020-07-18 11:58] #36 closed

[2020-07-18 12:02] jsvine commented on #50
A belated update: [As of v0.5.17](https://github.com/jsvine/pdfplumber/blob/master/CHANGELOG.md#0517--2020-04-01), `.extract_words()` handles vertical text.

[2020-07-18 12:02] #50 closed

[2020-07-18 12:02] #46 closed

[2020-07-18 12:05] jsvine commented on #58
Cleaning up old issues. This looks like it was discussed via the aforementioned PR.

[2020-07-18 12:05] #58 closed

[2020-07-18 12:06] #57 closed

[2020-07-18 12:06] jsvine commented on #57
Closing old issues. Feel free to reopen.

[2020-07-18 12:07] jsvine commented on #55
Cleaning up old issues. Feel free to reopen.

[2020-07-18 12:07] #55 closed

[2020-07-18 12:08] jsvine commented on #64
Cleaning up old issues. Feel free to reopen.

[2020-07-18 12:08] #64 closed

[2020-07-18 12:08] #73 closed

[2020-07-18 12:08] #80 closed

[2020-07-18 12:10] jsvine commented on #83
Hello, and apologies for not seeing this issue when you first filed it. I’m cleaning up old issues and am going to close this, but feel free to reopen it if you would still like advice on this. If so, please provide the original PDF, which will help diagnose the problem.

[2020-07-18 12:10] #83 closed

[2020-07-18 12:10] #85 closed

[2020-07-18 12:15] jsvine commented on #92
Hello, and apologies for not responding to this suggestion when you first made it. I think, however, that those export options are best handled outside of `pdfplumber`, which I would like to focus just on the pdf-extracting tasks. But thank you for the suggestion, regardless.

[2020-07-18 12:15] #92 closed

[2020-07-18 12:26] jsvine commented on #125
Cleaning up old issues. Feel free to reopen.

[2020-07-18 12:26] #125 closed

[2020-07-18 12:31] jsvine commented on #122
A belated thanks for raising this issue. Your proposed solution (filtering out invisible edges) is an interesting one, but I worry that it will cause problems for certain tables, where invisible lines are necessary for proper parsing (i.e., they delineate the table structure, but are made color-less so that they’re less distracting to human readers). So I think, for now, I’m not going to implement

[2020-07-18 12:33] jsvine commented on #121
Cleaning up old issues. Feel free to reopen.

[2020-07-18 12:33] #121 closed

[2020-07-18 12:35] jsvine commented on #103
Cleaning up old issues. Feel free to reopen.

[2020-07-18 12:35] #103 closed

[2020-07-18 12:36] jsvine commented on #122
(Just a note that I had initially misread the suggestion and have updated the comment above. Thanks!)

[2020-07-18 14:17] jsvine commented on #227
Hello, and thanks. Unfortunately, when I click that link, I get this:

<img width="253" alt="Screen Shot 2020-07-18 at 10 17 06 AM" src="https://user-images.githubusercontent.com/534702/87854425-e563b300-c8df-11ea-985e-cc7ab7540460.png">

[2020-07-18 14:21] jsvine commented on #229
According to the PDF spec, the standard unit of measurement is "points," with 72 points/inch: https://www.pdfscripting.com/public/PDF-Page-Coordinates.cfm

`1190 / 72 = 16.52`, so that seems to line up with what Adobe is reporting to you.

[2020-07-18 14:21] #229 closed

[2020-07-18 14:40] jsvine commented on #230
Hi @andlike, and thanks for your interest in this library. I have examined the PDF (thank you for sharing it) and it seems that the problem is *not* with the lines, although I can understand why it might have seemed that way at first. Instead, the issue seems to be that those particular sections of text are not being identified as characters. To demonstrate:

[code]

Produces this:

![image](https

[2020-07-18 14:40] #230 closed

[2020-07-18 14:41] jsvine commented on #225
Just checking back on this.

[2020-07-18 14:48] jsvine commented on #202
Hi @spidru, and thanks for your interest! Apologies that it's taken a while for me to respond. If you'd like a relatively simple issue, you might try this one, since it doesn't require too much knowledge of pdfplumber's internals: https://github.com/jsvine/pdfplumber/issues/222

I'm closing this issue for now, but feel free to reopen if you'd like to restart the PDF encoding discussion.

[2020-07-18 14:48] #202 closed

[2020-07-18 14:50] jsvine commented on #128
Thanks, @shivampatel8 for raising this, and my apologies for the delay in responding. I'm trying to catch up on old issues. Are you still interested to contribute this code? If so, feel free to submit a PR. Otherwise, I will add it to my todo list.

[2020-07-18 14:55] jsvine commented on #216
Just a note to say that, on my tests, I'm not getting this error. Judging by the traceback in your most recent comment, I wonder whether it was a temporary environment issue, since the IndexError doesn't seem to match up with the code the traceback produced. (I.e., `return None` shouldn't ever produce an `IndexError`, but perhaps I'm misreading.) In any case, if this issue persists for you, feel f

[2020-07-18 14:56] jsvine commented on #104
Thank you, all! Closing for now, but feel free to reopen if the issue persists for you @bailixuance.

[2020-07-18 14:56] #104 closed

[2020-07-18 15:28] jsvine commented on #122
@kensouchen Do you happen to have a PDF that demonstrates this issue, that you can share, for use as a test?

[2020-07-18 16:18] jsvine commented on #126
Hi @luoqygit, and thank you for the suggestion! I've been thinking about incorporating functionality like this, possibly for v0.6.0.

[2020-07-18 16:19] #112 closed

[2020-07-18 16:19] jsvine commented on #112
Cleaning up old issues. Feel free to reopen.

[2020-07-18 16:26] #97 closed

[2020-07-18 16:27] jsvine commented on #105
Thank you @OisinMoran! Closing this issue due to inactivity, but @sabinomaggi feel free to reopen.

[2020-07-18 16:27] #105 closed

[2020-07-18 16:28] jsvine commented on #86
Cleaning up old issues, but feel free to reopen if you'd like to continue the discussion. Thanks!

[2020-07-18 16:28] #86 closed

[2020-07-18 16:29] jsvine commented on #123
Thanks @luoqygit and @OisinMoran! Cleaning up old issues. Feel free to reopen @cqluohong if you'd like to continue the discussion.

[2020-07-18 16:29] #123 closed

[2020-07-18 16:53] #148 closed

[2020-07-18 16:56] jsvine commented on #224
I looked into it, and it appears the broken tests were due to true *improvements* in `pdfminer.six`'s layout analysis. I have now updated the `pdfminer.six` requirement in the latest `pdfplumber` version (v0.5.22). Thanks for the suggestion!

[2020-07-18 16:56] #224 closed

[2020-07-19 03:29] shivampatel8 commented on #128
I have a pull request open for this waiting for your approval.

[2020-07-19 14:27] jsvine commented on #128
Ah, right! My apologies, I didn’t see it referenced here. Closing this issue for now; we can continue the discussion in the PR. Thanks!

[2020-07-19 14:27] #128 closed

[2020-07-22 02:15] Freakwill commented on #227
Could you give me your email or the account of skype? Or just load a math paper from the web for example http://math.nsc.ru/LBRT/g2/english/ssk/spb-18.pdf.

[2020-07-22 07:20] YellowDong opened #233 "the first line text can't extract"
hello @jsvine Your work is fantastic. now，I have a problem with you and ask for your help. when i call page.extract_tables() method,I can't get the first line of text messages. Do I need to set up something to get it? Here's a screenshot of my debug.
![image](https://user-images.githubusercontent.com/23050255/88146250-351ee300-cc2e-11ea-80a2-5fa5e6903e6b.png)

![image](https://user-images.githubus

[2020-07-22 15:49] ibrahimshuail commented on #28
can we capture based on the font size, for eg if my font size is 12 I need the relevant words from that?

[2020-07-23 02:50] jsvine commented on #233
Hi @YellowDong, and thank you for sharing the visually debugging output!

However, I'm not certain I understand this part of your question: "I can't get the first line of text messages." Can you explain more?

Is it that you expect the box at the very top of the page to be interpreted as a table? If so, yes, there is an explanation: pdfplumber only finds tables with __at least two cells__. (See [t

[2020-07-23 03:49] YellowDong commented on #233
Thank you for answering my question in detail.Yes, I'm talking about getting the text inside the rectangle.I will take the advice you gave. However, I don't know how to identify the rectangle.I need to fumble ！=-=

[2020-07-23 06:27] ibrahimshuail opened #234 "is there a way to extract PDF title if not present in the metadata"
I need to capture the title of the pdf file if it's not present in the metadata as same pdftitle

[2020-07-23 10:27] harinadh12 opened #235 "Removal of some bboxes"
How can i remove a a bbox  from table after the table is identified. I dont want to get the below bbox as a column, can i remove it from table extraction.

[2020-07-23 10:28] harinadh12 commented on #235
![image](https://user-images.githubusercontent.com/68689504/88276827-526eb280-ccfd-11ea-8354-13dfcf5b1526.png)

[2020-07-23 10:32] harinadh12 commented on #235
![image](https://user-images.githubusercontent.com/68689504/88277136-d88af900-ccfd-11ea-8710-a5d295ad8d62.png)

[2020-07-23 11:30] samkit-jain commented on #235
You can try and use `snap_tolerance` in this case. More details [here](https://github.com/jsvine/pdfplumber#table-extraction-settings).

[2020-07-23 12:27] jsvine commented on #234
It will depend on the specific PDF you’re examining. But a generally useful approach might be to select all `char` objects with a `size` of a certain value or larger.

[2020-07-23 12:27] #234 closed

[2020-07-23 12:28] jsvine opened #236 "Allow users to set table-finder’s cell-count threshold"
See https://github.com/jsvine/pdfplumber/issues/233

[2020-07-23 12:30] jsvine commented on #233
Thanks for the response, @YellowDong. I’ve opened a new issue proposing that addition to the user options. In the meantime, you should be able to find all rectangles via `page.rects`.

[2020-07-23 12:30] #233 closed

[2020-07-23 14:06] ibrahimshuail commented on #234
I tried it but it doesn't work, is there any methods related to the above

[2020-07-23 15:18] GraceGong83 opened #237 "I can't download/install pdfplumber"
I can't download/install pdfplumber. I just use pip install pdfplumber. but here is the error.
![image](https://user-images.githubusercontent.com/53991939/88304309-ad72ca80-cd3a-11ea-8e41-2bcaa7cff769.png)

[2020-07-23 18:56] BenJacobs1 opened #238 "Discussion - Better Table Extraction on "text" Strategy"
Hi pals

I was going through the table finding procedure (while debugging the `extract_table` function that didn't provide the correct table) with `"vertical_strategy": "text","horizontal_strategy": "text"` and  wondered if it would better to do it by **sentences** and not by [words](https://github.com/jsvine/pdfplumber/blob/e99a66470153824a492b2d0b05ac6e81a1e09384/pdfplumber/table.py#L478)

The c

[2020-07-23 18:56] #238 closed

[2020-07-23 18:59] eran-pinhas opened #239 "Discussion - Better Table Extraction on "text" Strategy #238"
Hey pals

I was going through the table finding procedure (while debugging the `extract_table` function that didn't provide the correct table) with `"vertical_strategy": "text","horizontal_strategy": "text"` and  wondered if it would better to do it by **sentences** and not by [words](https://github.com/jsvine/pdfplumber/blob/e99a66470153824a492b2d0b05ac6e81a1e09384/pdfplumber/table.py#L478)

The

[2020-07-24 01:27] jsvine commented on #234
Unfortunately, it's very hard to answer this question without a specific example of a PDF. Can you provide one, and the code you're currently using to analyze it?

[2020-07-24 01:29] jsvine commented on #237
Judging by the error message, it looks like your computer was having trouble connecting to pythonhosted.org, which hosts Python packages. Closing this issue, since it appears to be unrelated to pdfplumber, but feel free to reopen if the problem persist and is specific to this library.

[2020-07-24 01:29] #237 closed

[2020-07-24 01:43] jsvine commented on #239
Hi @eran-pinhas, and thanks for your interest in pdfplumber! I agree: The `text` strategy doesn't always work so well. Based on the PDFs I've seen, though, I'm not certain that looking for sentences would be an *overall* improvement — it might work better for some tables, but worse for just as many. So I don't think I want to make a *replacement* right now. That said, I'd be open to reviewing a pu

[2020-07-24 01:45] jsvine commented on #235
Thanks for answering, @samkit-jain! I think that's a good suggestion — and typically what I do when I encounter tables like that.

[2020-07-24 01:45] #235 closed

[2020-07-24 05:08] ibrahimshuail commented on #234
please find the sample pdf (http://africau.edu/images/default/sample.pdf) I need to extract only the larger text out of this. below mentioned I tried but not sure.

def extract_words(chars, x_tolerance=False,y_tolerance=False,keep_blank_chars=False,match_fontsize=False,match_fontcolor=True,match_fontname=True)

[2020-07-24 13:19] jsvine commented on #234
You could do something like this:

[code]

Result: `' A Simple PDF File '`

Another approach, if you use pandas:

[code]

Result: `' A Simple PDF File '`

[2020-07-24 13:20] jsvine commented on #28
@ibrahimshuail See my response to the separate issue you opened, #234

[2020-07-24 13:25] jsvine commented on #227
Thank you for the example PDF. That one seems solvable by reducing the `x_tolerance` and `y_tolerance` parameters from their default setting of `3`, e.g.: `page.extract_text(y_tolerance = 1, x_tolerance = 1)`

This makes sense, as lines in mathematical equations are often printed much closer together than in typical text.

Closing this issue for now, but let me know if you come across examples tha

[2020-07-24 13:25] #227 closed

[2020-07-30 09:50] AntonioMarsella opened #240 "Save pdf file after cropping a page"
Hi,
I need to use the pdfminer pdf2txt.py script, so I think I need to save the cropped pdf that I get from here. Is there a way to save a cropped single page into a .pdf format file?

Thank you

[2020-07-30 12:14] jsvine commented on #240
Hi @AntonioMarsella, pdfplumber currently focuses only on analyzing PDFs, not generating them. For your purposes (cropping a PDF and then saving the result), you might try either of these tools:

- https://github.com/claird/PyPDF4
- https://community.coherentpdf.com/

[2020-07-30 12:14] #240 closed, assigned to nobody

[2020-07-31 14:34] jessecambon commented on #147
@jsvine  @LinanYaooo I had this same issue. I switched out `pdfplumber.open()` for `pdfplumber.load()` to fix it.

Some working code is below for reference. If I switch the `load()` function out with `open()` then I get the same error from above: `TypeError: expected str, bytes or os.PathLike object, not _io.BytesIO`. I'm using `pdfplumber==0.5.22` installed via pip.

[code]

[2020-08-02 08:38] ibrahimshuail opened #242 "Text capturing without tabular"
Is there any way I can extract only the text information without the tabular data

[2020-08-02 13:16] jsvine commented on #242
Hi @ibrahimshuail, I’m not sure whether I’m understanding your question, since there is not much detail or any example, but I think you’re looking for `page.extract_text(...)` and/or `page.extract_words(...)`. See here: https://github.com/jsvine/pdfplumber#the-pdfplumberpage-class

[2020-08-02 13:16] #242 closed, assigned to nobody

[2020-08-02 13:45] ibrahimshuail commented on #242
in extract text, we are getting the tabular data also, which is converted to plain text. I don't want that tabular data. other than that table data I want to extract other information from the pdf

[2020-08-02 16:09] samkit-jain commented on #242
Hi @ibrahimshuail , this is not something natively supported but there are a few ways by which you can achieve the desired result. For example, one of that could be to run `page.find_tables()` and store the coordinates of the identified table. Then, run `page.extract_words()` on the full page and discard all the words that fall under the tabular region.

[2020-08-02 17:10] hariappi commented on #235
Thanks for your reply. Is there any way to automatically adjust the table_settings based on the pdf as adjusting the settings for wide variety of pdf's is not possible. its just a curious question.

[2020-08-02 17:17] ibrahimshuail commented on #242
Then the reported issues should be moved to enhancement... It shouldn't be closed... Correct me if I'm wrong

[2020-08-02 17:49] jsvine commented on #242
Thanks, @samkit-jain, I think that's a good solution! ~~Another approach, depending on the particular example: After selecting the table through `page.find_tables(...)`, you could crop the page to that bounding box, with `cropped = page.crop(...)`, and then run `cropped.extract_text(...)` or `cropped.extract_words(...)`.~~

@ibrahimshuail: Thank you for your interest in the pdfplumber and its feat

[2020-08-02 17:54] jsvine commented on #235
Hi @harinadh12, and it's a very good question. Currently, this is not possible, as pdfplumber tries to be as explicit/direct as possible and contain as little "magic" as possible. FWIW: Longer term, I'm hoping to refactor pdfplumber's table-finding logic to be more modular, so that people can choose from (and mix) a broad range of strategies and approaches — and easily develop new ones (including,

[2020-08-02 18:09] samkit-jain commented on #242
@jsvine, just a correction in your proposed solution. It would return the text **in** the tabular region. To get the text **not** in the tabular region, would have to run text extraction on the full page and then do a replace (`full_page_text.replace(cropped_page_text, "")`). This assumes that there is no text to the right or left of the table.

[2020-08-02 18:52] jsvine commented on #242
Ah yes! My apologies,  I misunderstood the request. I think your original solution is the most direct and useful.

[2020-08-03 13:00] ibrahimshuail commented on #242
@samkit-jain is there any  working  examples , i tried but i'm not able to achieve because the alignment of the text completely changes , so the complete tabular data doesn't gets cropped

[2020-08-03 13:08] samkit-jain commented on #242
@ibrahimshuail there's not much I can do without the PDF. If you can share, I can try and help.

[2020-08-03 13:40] ibrahimshuail commented on #242
@samkit-jain please find the pdf (https://sedl.org/afterschool/toolkits/science/pdf/ast_sci_data_tables_sample.pdf). I want all text other than the tabular data

[2020-08-04 08:05] samkit-jain commented on #242
Hi @ibrahimshuail You can play around with this piece of code I wrote:

[code]

Result on page 1:
[code]

Result on page 2:
[code]

Using the `.filter()` method provided by pdfplumber to drop any objects that fall inside the bounding box of any of the tables and creating a filtered version of the page.

[2020-08-04 11:08] ibrahimshuail commented on #242
Thanks alot @samkit-jain  ,, one of the best solution !!!!!

[2020-08-05 07:52] StarMagicAI commented on #230
@jsvine thanks

[2020-08-05 14:44] SteveSmirnoff opened #243 "Can't extract all text from one file"
## What are you trying to do?
I'm extracting text from Safety Data Sheets of different suppliers.

## What code are you using to do it?
[code]

## PDF file
[https://www.glava.no/produkter/gulv-etasjeskiller/glava-tetningsmasse/_/attachment/download/6e84b64d-f265-4ec2-828b-259680db8239:28ff832ab1d2d7245dbc84c5babc0d0598fd6c37/sikkerhetsdatablad-glava-tetningsmasse-komponent-b.pdf](https://www.glava

[2020-08-05 16:00] samkit-jain commented on #243
Hi @SmirnovStepan Thank you for your interest in the library and sharing the PDF as well as a reproducible code. You would need to repair the PDF first. Here's how to do it using GhostScript
[code]
Here is the [repaired file](https://github.com/jsvine/pdfplumber/files/5029577/ttt.pdf).

This is the result of running `.extract_text()` on the first page:
[code]

[2020-08-05 16:09] samkit-jain commented on #243
**Some more info:**
When running `pdftotext` on the PDF, the following got printed
[code]
So I opened the PDF in a text editor and found the following at the top (you can also view it by opening the PDF in a text editor like Notepad++).
[code]
Hence, I repaired the PDF using GhostScript. In the repaired version, this code is missing and **might** be the cause of text extraction not working.

[2020-08-05 16:20] samkit-jain commented on #243
I am closing this issue for now as the workaround of repairing the PDF works and the issue might be better suited for [pdfminer](https://github.com/pdfminer/pdfminer.six) instead as this is what pdfplumber uses behind the scenes.

[2020-08-05 16:20] #243 closed, assigned to nobody

[2020-08-06 01:31] jsvine commented on #243
Many thanks for looking into this, @samkit-jain 👍

[2020-08-07 14:48] fdq09eca opened #244 "extracting text from a two columns page"
I extract the text of the following page:
![image](https://user-images.githubusercontent.com/51902242/89656554-548c6000-d8fe-11ea-819f-fb1fad409c79.png)

I used the following code
[code]
it produce this
![image](https://user-images.githubusercontent.com/51902242/89657657-fa8c9a00-d8ff-11ea-9655-1f1610ec6f55.png)

I want to turn two columns ending section, see below, into two rows
![image](https://

[2020-08-07 15:40] samkit-jain commented on #244
Hi @fdq09eca , thanks for showing interest in the library. This is something not possible since when extracting text, it goes top to down and left to right. To get the text in the way you desire, you would have to come up with your own logic. One possible workaround could be to (assuming that the 2 columns section is a table) extract table and then read the text column by column.

[2020-08-07 15:46] #244 closed, assigned to nobody

[2020-08-07 15:54] samkit-jain commented on #244
Another possible solution, specific to the page 63 could be:

1. Crop the page into 2 equal haves vertically and removing the top 40% portion and bottom 10% assuming the interested region is only that 2-column section.
[code]
2. Extract text from the left half.
[code]
3. Extract text from the right half.
[code]

[2020-08-07 16:36] fdq09eca commented on #244
@samkit-jain excellent work-around!

[2020-08-07 16:39] samkit-jain opened #245 "Inconsistent results when cropping an already cropped page"
## Describe the bug

When cropping an already cropped page, the objects are not preserved.

## Code to reproduce the problem

[code]

## PDF file

[examples/pdfs/ag-energy-round-up-2017-02-24.pdf](https://github.com/jsvine/pdfplumber/blob/stable/examples/pdfs/ag-energy-round-up-2017-02-24.pdf)

## Expected behavior

* `bottom.png` - The bottom portion of the page is saved.
* `bottom_left.png` - Th

[2020-08-07 16:41] samkit-jain commented on #244
Glad it helped you out. Thanks to you @fdq09eca as well as I found a bug (#245 ) when working on this.

[2020-08-07 23:16] jsvine commented on #245
Thanks for flagging this, @samkit-jain! I *think* this is what's happening:

- `pdfplumber` does not adjust coordinates after a crop (this is intentional, but open to discussion).

- The second and third crop commands in the example assume (understandably) that the coordinates have been adjusted after the initial crop.

I can see a handful of potential solutions:

- (a) Do nothing, but communicate

[2020-08-08 08:18] hariappi commented on #235
Thanks @jsvine for your elaborate explanation.

[2020-08-08 17:30] dumbPy commented on #201
matching with pdfminer's `LTTextLine.get_text()` and returning their LTChars, and then converting them to whatever you desire is an easy solution.
I will start a PR for this and we can discuss it further. Let me know @jsvine

[2020-08-08 17:52] samkit-jain commented on #245
What is the reasoning behind this?

If by this you mean that the cropped page would be treated as a "real" page and all the operations like `extract_text`, `extract_words`, etc can be run on it as if it was the parent page, then yes, I'd prefer option D.

[2020-08-09 03:54] jsvine commented on #245
Great question; I should have elaborated earlier. The answer: Mostly for simplicity. A page's bounding box should, I think, exist in the same coordinate system as each object on the page. So changing the coordinates of the bounding box would mean changing the coordinates of all objects in the resulting cropped page. To me, ensuring that all coordinates relevant to all objects were moved post-crop

[2020-08-09 15:59] samkit-jain commented on #245
Thanks for the explanation. +1 for the warning. Also, adding a new `relative` parameter would also be the most backwards compatible.

[2020-08-09 20:20] gui1herme opened #246 "Can't install pdfplumber"
Hello
This is my first attempt at using Python. Following a YouTube tutorial, but can't go past the installation of pdfplumber. Could some one guide me?
I could successfully install jupyterlab, pandas, requests, scipy, and xlrd. No luck with pdfplumber. Tried Googling this issue but I have no idea what to look for, to be honest.

I'm using the latest Miniconda version (3.8).

This is the error:
![

[2020-08-10 05:50] amouro opened #247 "First and last row of table with only horizontal line cannot be extract"
## What are you trying to do?

Extract data from a table with only horizontal line.

## What code are you using to do it?

[code]

## PDF file

[PDF](https://github.com/jsvine/pdfplumber/files/5049210/064_968_p5.pdf)

## Expected behavior

All table content are extracted.

## Actual behavior

First and last row in the bbox are not extracted.

## Screenshots

![table](https://user-images.githubuser

[2020-08-10 08:40] samkit-jain commented on #246
Hi @gui1herme Thanks for your interest in the library. The package can be installed using `pip`. `conda` not supported. Instead of running `conda install pdfplumber`, please run `pip install pdfplumber`.

[2020-08-10 08:40] #246 closed, assigned to nobody

[2020-08-10 08:48] samkit-jain commented on #247
Hi @amouro Thanks for your interest in the library. When using the settings as
[code]
and saving the image with `.debug_tablefinder()`, you'll notice that in the bottom portion, there is some difference between the vertical lines and horizontal lines.
![image](https://user-images.githubusercontent.com/15127115/89765245-94786080-db13-11ea-987b-46c0a9a722b1.png)

To get around this, you would need t

[2020-08-10 08:48] #247 closed, assigned to nobody

[2020-08-10 18:46] fdq09eca opened #248 "how to ignore the text that is at the edge of the page?"
[code]
Here is part of the result
![image](https://user-images.githubusercontent.com/51902242/89818749-ddb0ca80-db7c-11ea-87b1-d32211c7f9ba.png)

Here is the page
![image](https://user-images.githubusercontent.com/51902242/89818597-9d514c80-db7c-11ea-80d3-7a86cef46224.png)
the edge test is the source of noise and it is unwanted.. how may I extract the main text without them?

[2020-08-10 18:55] samkit-jain commented on #248
Hi @fdq09eca You can try cropping the page and then extracting the text of the cropped page.

[2020-08-10 18:55] #248 closed, assigned to nobody

[2020-08-11 01:41] amouro commented on #247
Thank you @samkit-jain, it does resolve my problem.

I am curious what is your code creating the `.debug_tablefinder()` image. I wasn't able to save the image with any line in your screenshot.

[2020-08-11 01:48] jsvine commented on #248
Thanks @samkit-jain! And just to clarify, @fdq09eca: You would do this by running `page.crop(...)`. More details in the documentation here: https://github.com/jsvine/pdfplumber#the-pdfplumberpage-class

[2020-08-11 04:59] samkit-jain commented on #247
Here you go,
[code]

[2020-08-11 17:31] SteveSmirnoff opened #249 "Text from pdf is not readable."
## What are you trying to do?

I'm extracting text from Safety Data Sheets of different suppliers.

## What code are you using to do it?

[code]

## PDF file

https://chestertondocs.chesterton.com/Lubricants/218(E)%20HDP_B-NO.pdf

## Expected behavior

Extract text from each page of the pdf

## Actual behavior

[code]

## Screenshots

Won't help.

## Environment

Python version: 3.7
OS: Windows 10

[2020-08-11 19:08] samkit-jain commented on #249
![image](https://user-images.githubusercontent.com/15127115/89937644-01364c80-dc33-11ea-8163-294ac6992f36.png)

To extract text when Identity-H encoding is used, the PDF should have a "ToUnicode CMap" which it appears this PDF does not have as when you copy-paste text from the PDF, it is printed out as gibberish like .

Reference: https://tex.stackexchange.com/a/526168

I am closing this issu

[2020-08-11 19:08] #249 closed, assigned to nobody

[2020-08-12 02:35] shravspy opened #250 "TXWylie01a-FIN.pdf"
## Describe the bug
I tried using extract_text() as in this notebook but with my pdf it skips hyphens in the table

I have attached the file and I am trying to extract page number 163
[TXWylie01a-FIN (2).pdf](https://github.com/jsvine/pdfplumber/files/5060439/TXWylie01a-FIN.2.pdf)

*A clear and concise description of what the bug is.*
[code]

[2020-08-12 03:04] jsvine commented on #250
Hi @shravspy, and thanks for your interest in this library! Two questions:

- The title of the issue doesn't seem to match the PDF you've uploaded. Can you confirm you uploaded the correct PDF?

- Could you edit your issue to more completely provide the issue template's requested details? Doing so will help this library's maintainers help you (and other users) more efficiently.

[2020-08-12 03:19] shravspy commented on #250
Hi @jsvine, thank you for quick replay.

Actually I was following the san-jose notebook to work with my pdf file.
Anyhow I have updated all the information now :)

[2020-08-12 07:32] samkit-jain commented on #250
Hi @shravspy The page 164 in the PDF you have uploaded appears to be scanned with OCR run on it. The reason the hyphens are not getting extracted is that the OCR didn't detect them as is evident from this screenshot
![image](https://user-images.githubusercontent.com/15127115/89987412-a97ffb80-dc9b-11ea-9474-ae788e2afcb5.png)

Regarding the page layout, have a look at issue #10

I am closing this i

[2020-08-12 07:32] #250 closed, assigned to nobody

[2020-08-12 14:21] shravspy commented on #250
Hi @samkit-jain if it is scanned with OCR run on it and OCR skips the hyphens, why do I still see the hyphens in the pdf.
Second do you know any workaround this to be able to get text data as it is from the pdf?
Thank You

[2020-08-12 14:46] samkit-jain commented on #250
Hi @shravspy When a PDF is a scanned document, every page in a PDF is basically just an image with no copyable content. When an OCR software is run on the PDF, it creates a text layer (transparent) over the image layer which allows you to copy text from the PDF. No OCR software is perfect and their performance is affected by multiple factors like scan quality, skewness, shadows, etc. which means t

[2020-08-13 15:33] johnmathews opened #251 "make pdfplumber less verbose by default"
## What are you trying to do?
I'd like to limit the loggers output to console when processing a pdf.

## What code are you using to do it?
and instance of `pdfplumber.load()` or `pdfplumber.open()`

## Expected behavior
Quieter output would be nice, or a configuration option. It's too verbose.

## Environment

- pdfplumber version: 0.5.22
- Python version: 3.8.0
- OS: Mac

[2020-08-14 01:28] jsvine commented on #251
Hi @johnmathews, and thanks for your interest in pdfplumber. I'm not quite sure, however, I understand this issue — the library does very little logging, to my knowledge. Could you provide an example of (a) code you run, and (b) the logging output it produces?

[2020-08-14 08:30] vesko-vujovic opened #252 "Is there a different language pack for special characters"
Hi I'm using **pdfplummber** to extract words and bbox for those words. It is doing a great job, except the fact that he eats some letters for the words that have Romanian special characters.

**_Is there different encoding or language pack that I can use in my case?_**

[2020-08-14 08:52] samkit-jain commented on #252
Hi @vesko-vujovic Thanks for your interest in the library. Could you please share a sample PDF redacting any sensitive information with some reproducible code detailing what should have happened and what did happen?

Assuming your question can be interpreted as "I have some French characters in my PDF but only English ones are getting extracted." to which have you tried changing the locale on your

[2020-08-14 09:05] vesko-vujovic commented on #252
@samkit-jain sorry for not sharing PDF, i really can't share these PDF's here.

In general i have invoices in Romanian and i have a word **Factură**, after running pdfplumber extract_words on that document i get **Factur**

So changing locale on local machine would solve this issue?

Thanks for a quick reply.

[2020-08-14 09:52] samkit-jain commented on #252
No problem @vesko-vujovic I think it should. You can set `LC_ALL` environment variable to `C.UTF-8` and try again. To do so in Linux, run `export LC_ALL=C.UTF-8`. Can also try running `export PYTHONIOENCODING=UTF-8` as well.

[2020-08-14 10:20] vesko-vujovic commented on #252
@samkit-jain  I've done everything that you suggested but still it has only problems with letter ă, both lowercase and uppercase.

[2020-08-14 10:30] samkit-jain commented on #252
Hi @vesko-vujovic Unfortunately, without the PDF, there's not much that I can do. I tried reproducing your issue by creating a PDF like [ttt.pdf](https://github.com/jsvine/pdfplumber/files/5074074/ttt.pdf) When I run pdfplumber on this, it works fine. When you use this PDF, is the special character extracted or not? If it is, then it would most likely be an issue with the PDF you are dealing with.

[2020-08-14 11:08] vesko-vujovic commented on #252
Hi @samkit-jain thank you for your effort apparently something is wrong with the PDF. I will close this issue if you agree?

[2020-08-14 11:29] samkit-jain commented on #252
Happy to help and thanks for confirming @vesko-vujovic Closing the issue now.

[2020-08-14 11:29] #252 closed, assigned to nobody

[2020-08-15 17:09] jsvine commented on #245
Closing now, as resolved in two commits referenced above and available in v0.5.23. Thanks again for raising the issue!

[2020-08-15 17:09] #245 closed, assigned to samkit-jain

[2020-08-15 17:41] jsvine commented on #147
With the changes released in `v0.5.23`, you should now be able to call `pdfplumber.open(bytes_io_object)`.

Beginning with `v0.5.23`, `pdfplumber.load` is deprecated and unnecessary, as its functionality is now included in `pdfplumber.open`.

[2020-08-15 17:41] jsvine commented on #173
With the changes released in `v0.5.23`, you should now be able to call `pdfplumber.open(bytes_io_object)`.

Beginning with `v0.5.23`, `pdfplumber.load` is deprecated and unnecessary, as its functionality is now included in `pdfplumber.open`.

[2020-08-15 17:43] jsvine commented on #151
`v0.5.23` introduces the `.hyperlinks` attribute for `PDF` and `Page` objects, as well as more robust support for annotations (`.annots`) more generally. Thank you for having raised this issue!

[2020-08-20 15:51] MartinThoma opened #257 "Comparision of pdfplumber with related libraries"
The PDF tooling world is huge. For a beginner it is hard to tell which library to use. It would be nice to have a comparison.

* pdfplumber is built on top of pdfminer.six.  What are examples of core features pdfplumber adds?
* There is also [pymupdf](https://github.com/pymupdf/PyMuPDF) which seems to have a similar feature set and it's just way faster.
* There are a couple of other Python librari

[2020-08-21 13:40] MartinThoma commented on #257
Thank you so much! I think once this PR is merged, this issue can be closed :-)

[2020-08-21 13:41] jsvine commented on #257
Thanks @MartinThoma, I thought that was a great idea. I've added a brief comparison, as you can see, and will close this issue. But if there are any lingering questions about the differences, don't hesitate to add a comment here.

[2020-08-21 13:41] #257 closed, assigned to nobody

[2020-08-21 18:03] BryanKoo commented on #218
You can give y_tolerance=2 when you call extract_text() or extract_words()

It is explained in README as follows.
Adds spaces where the difference between the x1 of one character and the x0 of the next is greater than x_tolerance. Adds newline characters where the difference between the doctop of one character and the doctop of the next is greater than y_tolerance.

I wish this tolerance is a sort

[2020-08-21 18:38] BryanKoo commented on #71
AFAIK, duplicated characters are also for bold representation and there will be cases with small offset.
Deduplication is possible by checking overlap ratio of all characters using coordinates.

[2020-08-22 23:47] jsvine commented on #218
This is an interesting suggestion, @BryanKoo. If you open a new "feature request" issue for it, we can discuss the details and potential implementations. (One complication I foresee: Most PDFs have a combination of characters of different sizes.)

Closing this issue for now, given @BryanKoo's reasonable suggestion and because @anhhoangiot says they are unable to provide a PDF.

[2020-08-24 11:01] tiagosamaha commented on #71
Any solution to it? I have the same issue.

[2020-08-26 10:23] johnmathews commented on #251
Hello. I use pdfplumber as part of a celery task - if I set the loglevel to info then I get pages of output like below.
I don't know how or if its possible to filter this somehow, but its an unusual default behavior I haven't experienced with other libraries.

[code]

[2020-08-26 11:03] samkit-jain commented on #251
Hi @johnmathews These logs seem to be coming from `pdfminer`. The solutions to [this SO question](https://stackoverflow.com/questions/35325042/python-logging-disable-logging-from-imported-modules) might be helpful. Can you give them a try and use a non-root logger?

[2020-08-26 16:20] wuliKingQin opened #259 "Text parsing error for a column occupying more than one row"
Can you provide a public method to solve the problem of a column occupying more than one row? Or offer a solution
![1598458784890](https://user-images.githubusercontent.com/23000059/91329713-10a0c280-e7fb-11ea-89ec-6e9224c7325b.jpg)

[2020-08-26 16:31] wuliKingQin commented on #259
![image](https://user-images.githubusercontent.com/23000059/91330623-47c3a380-e7fc-11ea-87b9-2d33c5c6427a.png)

As shown in the figure, after parsing, the newline text is put on another line, which is not easy to deal with, I hope you can provide some solutions, thank you very much!

[2020-08-26 17:14] samkit-jain commented on #259
Hi @CuteyBoy Thanks for your interest in the library. Could you please provide more details on what you are trying to achieve and what all you have tried?

To me, it looks like you want to extract the text in the table row by row handling multiline lines in a cell (because the output screenshot you have shared in https://github.com/jsvine/pdfplumber/issues/259#issuecomment-680988579 looks like the

[2020-08-27 08:41] wuliKingQin commented on #259
If you use the extract_table() method, the table cannot be found, so I use the extract_text() method. This method can always get the content I want, and then filter it myself, but when I use the extract_text() method , Found that there are two problems:
1. If a line breaks in the cell, the content read is the same as the comment above;
[error_dpf_1.pdf](https://github.com/jsvine/pdfplumber/files/5

[2020-08-27 08:47] wuliKingQin commented on #259
![error](https://user-images.githubusercontent.com/23000059/91418580-e85da600-e884-11ea-8277-e81da263b431.png)

This is a graph with hidden parts and parsing errors

[2020-08-27 13:07] samkit-jain commented on #259
For first PDF
I am able to extract the tables (using the table settings I had shared in my earlier comment) just fine. Below is the visual debugger output (cropped)
![image](https://user-images.githubusercontent.com/15127115/91443298-c538f380-e890-11ea-91ba-696216762968.png)
and this is the tabular output
[code]

In the 7th row, you can see that it has been split into 2 lines because there are som

[2020-08-27 13:31] samkit-jain commented on #259
For the second PDF, I am able to extract tabular data just fine without any post processing adjustments using the lines-lines tables settings.
[code]

Screenshot:
![image](https://user-images.githubusercontent.com/15127115/91446297-eac7fc00-e894-11ea-864b-9d1ca009153f.png)

Output:
[code]

The cell you highlighted in https://github.com/jsvine/pdfplumber/issues/259#issuecomment-681807591 seems to c

[2020-08-27 13:59] wuliKingQin commented on #259
Thank you very much for your excellent answer, it may be that I have a problem with my strategy, I should use the `extract_table()` method for most of the tables, some special PDFS use the `extract_text ()` method for the table! Thank you very much!

[2020-08-27 13:59] #259 closed, assigned to nobody

[2020-08-29 19:44] jsvine commented on #44
Hi @newusername321, and apologies for the extraordinarily long delay in responding. I'm cleaning up old issues, and I noticed this one. The current version of `pdfplumber` appears to have no problem loading this PDF — or running this code (after changing `im.reset().debug_tablefinder(p0.chars)` to `im.reset().debug_tablefinder(table_settings2)`) — so I am closing the issue.

[2020-08-29 19:44] #44 closed

[2020-08-31 03:04] SherlockHua1995 opened #261 "Helvetica typeface not recognized"
Hello，I am applying pdfplumber to parse the pdf with Helvetica and STSong-light typeface but I got all blanks
[‘ ‘，‘ ‘，‘ ‘，‘ ‘]
pdfminer.six cannot recognize the characters？Any solutions？
pdfminer.six 20200517
pdfplumber 0.5.23
Python37
Thanks.

[2020-08-31 08:40] samkit-jain commented on #261
Hi @SherlockHua1995 and thanks for your interest in the library. Could you please share the PDF in question? Remember to redact any sensitive information from the PDF before sharing it.

[2020-08-31 17:36] hannylicious commented on #71
I recently stumbled across this issue - just tossing it out there to let folks know it's a continuing thing.

[2020-08-31 18:23] samkit-jain commented on #71
@hannylicious and other watchers of this issue, if you have a PDF with this issue that you can share publicly, please do so that this issue can be investigated in further detail.

I am pretty sure I have a PDF with this issue but it will take me some time to find it.

[2020-08-31 19:17] hannylicious commented on #71
Unfortunately - I dabble with PDF's very infrequently. I just happened across it this time because another library (pyPDF2) didn't see any text at all - whereas pdfplumber saw the text, but it was duplicated. The PDF I'm working with at this time has some information that I can't publicly display so I won't be of much assistance I'm afraid.

I resolved my use case simply by grabbing the first of t

[2020-08-31 20:17] fdq09eca opened #262 "Edged character is lost after extracting the table"
I have the following block of code, forgive me.
[code]

it gives me this
[code]

you may see after extracting the table, the trailing zero disappeared.  (before - after: `1,250`- `1,25`, `160` - `16`)
my question is, how do I get the trailing zero? I tried `debug_tablefinder` but I can't find out the reason.

[2020-09-01 02:04] jsvine commented on #71
Thanks, @hannylicious! If you have the time, you could try using https://github.com/JoshData/pdf-redactor to remove the sensitive information without altering the PDF structure. If the result still produces the same character-duplication, then it could be very helpful for resolving this issue.

[2020-09-01 02:42] jsvine commented on #262
Hi @fdq09eca, it appears that the character highlighted in blue in the screenshot below is causing the issue. It is positioned just a little bit to the left of those cut-off characters, enough to confuse the text-strategy algorithm.

<img width="849" alt="Screen Shot 2020-08-31 at 10 37 50 PM" src="https://user-images.githubusercontent.com/534702/91788673-ca70a800-ebda-11ea-8db6-0f20ffac5adc.png">

[2020-09-01 04:49] fdq09eca commented on #262
@jsvine thank you. is it possible to extend the edge allowance to include that 0?

[2020-09-01 10:17] cabudies opened #263 "Memory Leakage"
## Describe the bug

While opening and closing a pdf using 'with' parameter, pdfplumber somehow still takes up 120 mb space. Tried working using tempfile directory but still no success. Do anyone know how to deal with memory leakage issues?

## Code to reproduce the problem

with pdfplumber.open(pdf_filename) as pdf:

## Expected behavior

After the program gave results using the 'with' statement,

[2020-09-01 11:38] jsvine commented on #263
Thank you for flagging this. Is this true of all PDFs you try opening, or one in particular?

[2020-09-01 12:33] flaprocha opened #264 "Basic example"
Could you please update the basic example provided at the ´Commnad Line Interface´ section? Link to the PDF file is broken, returning 404. ( https://cdn.rawgit.com/jsvine/pdfplumber/master/examples/pdfs/background-checks.pdf )
Thanks.

[2020-09-01 12:55] jsvine commented on #264
Thanks for noticing @flaprocha! Now fixed.

[2020-09-01 12:55] #264 closed, assigned to nobody

[2020-09-01 19:46] samkit-jain opened #265 "Fewer horizontal lines when using text strategy"
## Describe the bug

In https://github.com/jsvine/pdfplumber/commit/d224202bdf488cf83141415282b8727913e9c989, the logic for finding horizontal and vertical lines connecting `n` number of words was simplified. When finding the horizontal lines, the logic was updated to keep the "top" of all line rects and the bottom of only the last line rect. This is causing problems with table detection as the fi

[2020-09-01 19:56] samkit-jain commented on #265
https://github.com/jsvine/pdfplumber/issues/265#issue-690400685 has been edited with table extraction related issue info.

[2020-09-01 20:23] hannylicious commented on #71
Thanks @jsvine - I will definitely have a look at that pdf-redactor library. If it works - I'll be sure and post that PDF here!

[2020-09-01 20:30] zeina99 opened #266 "Not able to crop the page, ValueError: bounding box has an area of zero"
## What are you trying to do?

I am trying to crop a page to get the left half and the right half separately.

## What code are you using to do it?

*Paste it here, or attach a Python file.*
[code]

## PDF file

Pdf file:
[language-models.pdf](https://github.com/jsvine/pdfplumber/files/5158638/language-models.pdf)

## Expected behavior

*What did you expect the result __should__ have been?*

I exp

[2020-09-01 20:31] tiagosamaha commented on #71
I would like to help, but my file has confidential content. Anyone have some issue file?

[2020-09-01 23:20] jsvine commented on #266
Hi @zeina99, I think the problem is this: Your crop bounding-box `(0, 0, 0.5*float(page.width), 0)` — has a height of 0. To get the left half, you'll instead want: `(0, 0, 0.5*float(page.width), page.height)`.

Almost, but not quite. The coordinates required are:

- `x0`: left-x of bounding box, measured from left side of page
- `top`: top-y of bounding box, measured from top of page
- `x1`: right

[2020-09-02 00:07] jsvine commented on #265
Thank you for the beautifully detailed bug report, @samkit-jain! My hunch is that the problem stems from the "fixes" (😬) in https://github.com/jsvine/pdfplumber/commit/d224202, which were released as part of `0.5.23`. I'll see if I can pinpoint the specific mechanism that is causing the unexpected behavior.

[2020-09-02 01:43] samkit-jain commented on #265
Yes, if I undo the changes that were made to `words_to_edges_h()`, it works fine for horizontal rows. Another possible solution apart from just reverting the commit could be to update the current method by adding a check to add a new imaginary horizontal line at the bottom of the top row when the difference between the bottom of the top row and top of the bottom row crosses a certain threshold. Th

[2020-09-02 02:56] jsvine commented on #263
I'm now able to reproduce this issue. Based on a bit of exploration, it seems that the memory issues might stem from within `pdfminer.six`, possibly in `PDFPageInterpreter.execute(...)` or `PDFContentParser`. Will continue looking into this.

[2020-09-02 11:51] zeina99 commented on #266
Thanks, this clears it up!

[2020-09-02 11:51] #266 closed, assigned to nobody

[2020-09-02 13:02] jsvine commented on #265
Thanks for confirming that, @samkit-jain. I'll try seeing if it's possible to correct the fixes (rather than just reverting the commit), so that they retain the simplicity. Hopefully, it's just a matter of squashing a bug :)

[2020-09-03 02:50] jsvine commented on #265
Having spent a little bit more time looking at this ... I've come to believe that the behavior in `v0.5.23` isn't *wrong*, per se — although it is, as you note, unexpected.

In this particular case, the issue seems to stem from the page number at the bottom of of the page (`21`) getting lumped in with the rest of the table when, in fact, the vertical lines don't extend that far down.

If you crop

[2020-09-03 18:30] samkit-jain opened #267 "[DISCUSSION] Handling out-of-page rect objects"
_Prologue: May read like a story and has a lot of open-ended possibly-discussion-worthy questions._

---
v0.25.3
Table settings in use:
[code]
[PDF](https://github.com/jsvine/pdfplumber/files/5169751/croptest.pdf)

---

Output of `.debug_tablefinder()` on full page:
![image](https://user-images.githubusercontent.com/15127115/92141896-b1613480-ee30-11ea-8e74-2c9a623aafbd.png)

One thing I noticed t

[2020-09-04 14:02] samkit-jain commented on #267
Just realised that the dummy PDF I shared above is not a good replication example because it is built up of `line` objects while the original PDF is of `rect` objects.

[2020-09-04 14:09] samkit-jain commented on #267
Working on more on this issue and trying out a bunch of things, I have come to understand that the results are the expected behaviour and I was confusing `rect` objects behaviour with `line` objects.

[2020-09-04 14:09] #267 closed, assigned to nobody

[2020-09-09 03:51] wuliKingQin opened #268 "Use the extract_table() method to parse out such a table"
When I parse the pdf, I use the `extract_table()` method, whether the parameter information is passed `({
     "vertical_strategy": "lines",
     "horizontal_strategy": "lines",
})` Neither `lines` nor ` text` can read the complete form information
The **pdf** in question is as follows:
[error_dpf_3.pdf](https://github.com/jsvine/pdfplumber/files/5192481/error_dpf_3.pdf)

### Using lines, the tabl

[2020-09-09 06:12] samkit-jain commented on #268
Hi @CuteyBoy Could you confirm what version of pdfplumber are you using?

Running on 0.5.23, and using the following code

[code]

I am getting the following response which appears to be almost correct
[code]
![image](https://user-images.githubusercontent.com/15127115/92561036-0d90e200-f291-11ea-890e-dd6bbec64292.png)

The bottom line is missing and that is related to #265

As a workaround, you ca

[2020-09-09 07:43] wuliKingQin commented on #268
thank you very much！

[2020-09-09 07:43] #268 closed, assigned to nobody

[2020-09-10 01:56] NeoWang9999 opened #269 "page.extract_words() and page.extract_text() output is empty"
## Describe the bug

page.extract_words() and page.extract_text()  output is empty

## Code to reproduce the problem

[code]

## PDF file

[Sponsorship Agreement Template (CN) 1-未改动.pdf](https://github.com/jsvine/pdfplumber/files/5198715/Sponsorship.Agreement.Template.CN.1-.pdf)

## Expected behavior

output is not empty

## Environment

- pdfplumber version: [0.5.23]
- Python version: [3.7.7]
- O

[2020-09-10 07:06] samkit-jain commented on #269
Hi @NeoWang9999 Thanks for your interest in the library. The reason `pdfplumber` is not able to extract text is because this PDF does not contain any embedded font.
![image](https://user-images.githubusercontent.com/15127115/92692606-0be31f00-f362-11ea-9bf3-aa59c6c809d3.png)
The reason `pdfbox` is able to extract could most likely because of it substituting the missing font. When the PDF viewer su

[2020-09-10 09:04] NeoWang9999 commented on #269
Hi @samkit-jain thanks for your reply！ according

Is there any effort to make pdfplumber achieve the same results? Because it looks like the necessary information does exist in the file, just we need to do some extra processing to read it correctly.
thank you.

[2020-09-10 11:03] johnmathews commented on #251
Yes they are!
I silenced these messages with the following

[code]

I found this SO question useful:
https://stackoverflow.com/questions/11029717/how-do-i-disable-log-messages-from-the-requests-library

[2020-09-10 11:03] #251 closed, assigned to nobody

[2020-09-10 12:51] samkit-jain commented on #269
@NeoWang9999 This feature request would be more suited for [pdfminer](https://github.com/pdfminer/pdfminer.six) since that is what `pdfplumber` relies upon. I am closing this issue for the same reason. Feel free to reopen if you have a different proposition.

[2020-09-10 12:51] #269 closed, assigned to nobody

[2020-09-10 12:55] samkit-jain commented on #251
Thanks, @johnmathews I think it won't be a bad idea to include this in an appendix or an FAQ section in the documentation. I am working on a new Sphinx-based documentation and will include this in it.

[2020-09-11 09:46] shyamalaspure opened #270 "python pdfplumber error converting pdf to jpg FailedToExecuteCommand `“gswin64c.exe”"
#14  am trying to convert pdf to image using pdfplumber in python (IDE JUPYTER)

I have tried following code

`with pdfplumber.open("path to pdf") as pdf:`
`first_page = pdf.pages[0]`
`im = first_page.to_image()`

I have downloaded the dependencies ImageMagick and ghostscript and also defined the system path in environment variables

I am getting following error:

DelegateError: FailedToExecuteCom

[2020-09-11 10:28] #270 closed, assigned to nobody

[2020-09-11 16:49] mkl-public commented on #269
As an aside:

No, there is no need for that, the PDF objects describing the font provide all the information needed, an *Encoding* value of *GB-EUC-H* or *GB-EUC-V* and a *CIDSystemInfo* _ROS_ Adobe-GB1-0.

[2020-09-11 20:08] pajaskowiak commented on #71
Same issue here.

[2020-09-14 06:59] Arwa200 opened #271 "spisific data in PDF"
Hi,
I would like to ask how can I extract specific entered data from pdf these data into CSV?
I've tried with metadata but for some reason it's not working as well as I tried
`curl "https://raw.githubusercontent.com/jsvine/pdfplumber/stable/examples/pdfs/background-checks.pdf" > background-checks.pdf
pdfplumber < background-checks.pdf > background-checks.csv`
in terminal but I got empty CSV

[2020-09-14 08:10] samkit-jain commented on #271
Hi @Arwa200 Thanks for your interest in the library. It looks like you combined the 2 commands into one. You have to run them one by one
[code]
or combine via "&&" like
[code]

Feel free to reopen the issue if you still get an empty CSV as the output.

[2020-09-14 08:10] #271 closed, assigned to nobody

[2020-09-14 09:30] Arwa200 opened #272 "command not found issue"
Hi

I just tried the command line:
curl "https://raw.githubusercontent.com/jsvine/pdfplumber/stable/examples/pdfs/background-checks.pdf" > background-checks.pdf
then:
pdfplumber < background-checks.pdf > background-checks.csv

![Screen Shot 2020-09-14 at 11 59 19 AM](https://user-images.githubusercontent.com/42224049/93069196-0f3e1980-f686-11ea-972e-6339eb5d0f0a.png)
 but i got the "command not fo

[2020-09-14 09:41] samkit-jain commented on #272
Hi @Arwa200 Could you please share the output of `python -c "import pdfplumber"`?

---

On the contrary, it looks like you are using Python 2 without a virtual environment. Unless this is intentional, I would recommend you to switch to Python 3 (3.6+) and use a virtual environment.

[2020-09-14 09:43] Arwa200 commented on #272
I'm using python 3
![Screen Shot 2020-09-14 at 12 42 37 PM](https://user-images.githubusercontent.com/42224049/93070686-da32c680-f687-11ea-9f9c-215172502ffd.png)
I will try the  virtual environment.

[2020-09-14 10:02] Arwa200 commented on #272
![Screen Shot 2020-09-14 at 1 01 23 PM](https://user-images.githubusercontent.com/42224049/93072708-73fb7300-f68a-11ea-8979-2f120adbfc46.png)

[2020-09-14 11:33] samkit-jain commented on #272
Would it be possible for you to share steps to reproduce this issue? Also the OS, Python version and library version

For me, the steps are
[code]
and it works fine

[2020-09-14 11:54] Arwa200 commented on #272
I still have the empty file..

![Screen Shot 2020-09-14 at 2 48 46 PM](https://user-images.githubusercontent.com/42224049/93082485-aeb8d780-f699-11ea-92b0-63aca2b5affb.png)

another question, where can I enter the keyword that I want to pull a whole raw information that has related to that row

thank you

[2020-09-14 12:19] samkit-jain commented on #272
Could you please run with `background-checks.pdf` and not `2020-shipping-section.pdf` because there is no such file at the path https://github.com/jsvine/pdfplumber/tree/stable/examples/pdfs?

Could you please elaborate a more on this?

[2020-09-14 12:29] Arwa200 commented on #272
sure
its worked
but the question is how to make it worked in my PDF?
I mean if I want to search for specific keyword in PDF file like "ABC" related to that word..?

[2020-09-14 12:49] samkit-jain commented on #272
Hi @Arwa200 Could your question be rephrased as "How do I get the coordinates of a particular word in a PDF?" If yes, you can use the `.extract_words()` function for that. If you could share the PDF and the expected output, that'd be helpful.

[2020-09-14 12:54] Arwa200 commented on #272
Yes, this my question
How do I get the coordinates of a particular word in a PDF and save it into CSV?
I would rather not to share it since there are many, so would you please tell how to add the PDF files in the path and how to use .extract_words() in Command line

appreciate your efforts..

[2020-09-14 14:48] ffreller opened #273 "Pdfplumber not reading last row of table"
## What are you trying to do?
I'm trying to extract tables from official gazettes of Pará, one of Brazil's districts.

## What code are you using to do it?

with pdfplumber.open(path1 + 'DOE_2020-02-20.pdf') as pdf:
    page = pdf.pages[43]
    tb = page.find_tables()
    for t in tb:
        res2.append(page.to_image().draw_rects(t.cells))

res2[0]

## PDF file
[DOE_2020-02-20.pdf](https://github

[2020-09-14 15:01] samkit-jain commented on #273
Hi @ffreller Thanks for your interest in the library. Certainly I can reproduce this by using the following table settings
[code]

I can capture the correct tables by using the following table settings
[code]
![image](https://user-images.githubusercontent.com/15127115/93102402-16d2e200-f6c9-11ea-9851-6664da193b1f.png)

Does this solve your issue?

[2020-09-14 15:03] ffreller commented on #273
It does! Thank you very much!

[2020-09-14 15:03] #273 closed, assigned to nobody

[2020-09-14 15:09] samkit-jain commented on #272
@Arwa200 Try using the following
[code]

You can find the coordinates in `word_dict`. Replace `WordToFind` with the word you want to find.

[2020-09-15 06:49] Arwa200 commented on #272
I got these errors,
![Screen Shot 2020-09-15 at 9 48 43 AM](https://user-images.githubusercontent.com/42224049/93175678-afed1180-f738-11ea-9401-48b69eb6c926.png)

also How to save results in CSV in this case?

[2020-09-15 06:53] Arwa200 commented on #272
I'm wondering where can I find the same code (in the up) in test folder or pdfplumber folder

[2020-09-15 07:28] Arwa200 commented on #272
also I changed the URL, but still there is an error
![Screen Shot 2020-09-15 at 10 27 01 AM](https://user-images.githubusercontent.com/42224049/93179278-1fb1cb00-f73e-11ea-8956-7c37e1ea02e7.png)

[2020-09-15 09:18] samkit-jain commented on #272
The error in https://github.com/jsvine/pdfplumber/issues/272#issuecomment-692504902 means you don't have `pdfminer` installed. Are you sure you have activated the correct virtual environment and running `pip install pdfplumber` didn't throw any error? Have you tried reinstalling `pdfplumber`? Have you tried running `pip install pdfminer.six` instead?

For https://github.com/jsvine/pdfplumber/issue

[2020-09-15 09:44] Arwa200 commented on #272
yes pdfplumber it's already there..
![Screen Shot 2020-09-15 at 12 42 44 PM](https://user-images.githubusercontent.com/42224049/93194684-06fee080-f751-11ea-8111-c1f9305a8841.png)

python -c "import pdfplumber":
![Screen Shot 2020-09-15 at 12 43 01 PM](https://user-images.githubusercontent.com/42224049/93194685-06fee080-f751-11ea-9454-1cfa461251c2.png)

[2020-09-15 10:03] samkit-jain commented on #272
Could you please switch to Python 3.6 or higher? Looks like you are on 2.7 and if I am correct, the support for it was dropped in pdfplumber 0.5.15. The latest version is 0.5.23

[2020-09-15 10:04] Arwa200 commented on #272
it's pyhton 3
![Screen Shot 2020-09-15 at 1 03 53 PM](https://user-images.githubusercontent.com/42224049/93197121-ef752700-f753-11ea-83f6-07d1f01b1819.png)

[2020-09-15 12:31] samkit-jain commented on #272
Okay. Request you to run the following steps in order and share the output of those.

1. Start a new terminal session.
2. Create a new folder. `mkdir test_folder`.
3. Switch to the new folder. `cd test_folder`.
4. Create a new Python 3.8 virtual environment by the name "venv". `python -m venv venv`. I am assuming `python` by default refers to Python 3.8 on your system. If not, replace `python` wit

[2020-09-16 08:13] Arwa200 commented on #272
Hi

just tried what you write, I got this error in python3
I do not know how to open the file

![Screen Shot 2020-09-16 at 11 12 45 AM](https://user-images.githubusercontent.com/42224049/93310549-9a95e700-f80d-11ea-8d56-7953dae9c172.png)

![Screen Shot 2020-09-16 at 11 11 07 AM](https://user-images.githubusercontent.com/42224049/93310389-628ea400-f80d-11ea-8633-b2ee8d9200dc.png)

[2020-09-16 12:05] samkit-jain commented on #272
Thank you for trying out the steps @Arwa200 Did you follow step 9? If you did and created a file `main.py`, was it in the root folder `test_folder` or somewhere else? The reason the last step is failing because there is no file `main.py` in the folder `test_folder`.

Don't forget to update `file.pdf` with the correct PDF path.

[2020-09-16 12:16] Arwa200 commented on #272
Thank you for being patient..
I tried it, and got this..

![Screen Shot 2020-09-16 at 3 16 17 PM](https://user-images.githubusercontent.com/42224049/93335771-9aa6de80-f82f-11ea-9b74-974885fd2934.png)

also I put the file.pdf at the same folder in main.py

main.py is in the test_folder
![Screen Shot 2020-09-16 at 3 09 02 PM](https://user-images.githubusercontent.com/42224049/93335778-9d093880-f82f-

[2020-09-16 12:36] samkit-jain commented on #272
No problem @Arwa200 I am here to help only :)

Could you run `python main.py` again but this time use [background-checks.pdf](https://github.com/jsvine/pdfplumber/blob/stable/examples/pdfs/background-checks.pdf) and not your file (don't forget to update the path)? If it works and throws no error, there might be a problem with your PDF. It could be corrupted. Perhaps repairing it via Ghostscript wo

[2020-09-16 12:39] samkit-jain commented on #272
Searching around for `PDFSyntaxError: No /Root object! - Is this really a PDF?`, it looks like a lot of people had this issue and were using Windows and were able to solve by opening the file in binary mode.

[2020-09-16 12:43] samkit-jain commented on #272
Found a similar issue on pdminer.six https://github.com/pdfminer/pdfminer.six/issues/476 and I repaired the PDF with ghostscript and it worked fine.

[2020-09-16 12:50] Arwa200 commented on #272
The result after trying your PDF

![Screen Shot 2020-09-16 at 3 48 43 PM](https://user-images.githubusercontent.com/42224049/93339460-494d1e00-f834-11ea-9663-d48c053296ad.png)

[2020-09-16 12:53] samkit-jain commented on #272
In below code, you have to replace `WordToFind` and not `text` with `Iowa`
[code]
It would become
[code]
Also, the fact that the code ran so far confirms that the issue stems from the PDF. I would recommend you to give repairing it a shot. Should resolve your issue.

[2020-09-16 13:05] Arwa200 commented on #272
it worked with your file :) for both functions (word_dict/WordToFind )

![Screen Shot 2020-09-16 at 4 05 26 PM](https://user-images.githubusercontent.com/42224049/93341215-7bf81600-f836-11ea-95c3-cab667fef222.png)

I will check the ghostscript you just mentioned..

But How can I save the result into csv?

Thank you again!

[2020-09-16 13:17] samkit-jain commented on #272
For saving the data into a CSV file, you should look at the [csv module](https://docs.python.org/3/library/csv.html) in Python. A good tutorial can also be found [here](https://realpython.com/python-csv/).

I am closing this issue now. If repairing the PDF does not solve the issue (in which case opening an issue on [pdfminer.six GitHub](https://github.com/pdfminer/pdfminer.six/issues/new) would be

[2020-09-16 13:17] #272 closed, assigned to nobody

[2020-09-17 16:12] dasapa opened #274 "Strange characters when extracting text"
Hello,

I have extracted data from several invoices, everything has gone perfectly, but with one when I extract text it shows characters like the following:

**_++IIKKB=B?=J?KJHK=HJ=@ +IKJH=!="&& 
+IKJH= !=$#'! 

 +@A=ECK=+=@A=CK=
-LK?E?IK
-LK?E?IK 6EFKI6EFCAAH= !=

[2020-09-18 06:44] samkit-jain commented on #274
Hi @dasapa Thanks for your interest in the library. Could you please share the PDF so that we can investigate further? What happens when you use `pdftotext`? Is the text captured correctly?

[2020-09-18 06:57] cabudies commented on #263
So sorry was not able to reply promptly. Yeah I have checked this is for all the pdfs is it possible that we can check or drop the pdfminer.six after our extraction is complete to free up used space.

[2020-09-18 13:52] fdq09eca opened #275 "how to know the page bounding box parameters?"
I always run into this problem when cropping the page and I want to know if there is any way to get the page bounding limit exactly.
[code]
as shown above, the `top` of the cropping bounding box is 0, this 0 value is replaced from the `min` value I got from `page.chars` is less than 0. It obviously makes no sense. Sometimes this replacing strategy works fine, but sometimes it would throw me this e

[2020-09-18 14:48] #275 closed, assigned to nobody

[2020-09-18 14:50] fdq09eca commented on #275
found out that just a simple ternary in list comp will do the job

[2020-09-19 03:37] prince13i-zz commented on #60
It may be required to identify space between two words as character! When i try to build my own parser to recognise the table, I'm unable to identify the empty column. Is there any way to achieve this?

[2020-09-21 15:36] coder0028 opened #276 "Fetch non tabular data from PDF"
I am trying to extract both tabular and non-tabular text from PDF. However, fetching tabular information is pretty straight forward using pdf.extract_tables() but I couldn't find any way to get rest of the text from PDF. Is there any way that I might be missing?

[2020-09-21 15:50] samkit-jain commented on #276
Hi @coder0028 Thanks for your interest in the library. What type of non-tabular data do you want to extract? You can extract the text using `page.extract_text()`. Words using `page.extract_words()`. If you want non-tabular text, you can apply a postprocessing logic to filter out words that fall in a table's bounding box (can also look at the `.filter()` method). If you want to extract form values,

[2020-09-21 16:10] coder0028 commented on #276
Thanks @samkit-jain for the response.

PDF here comprises of tables(tabular), headings, paragraphs (non-tabular). I am able to fetch table data correctly but how can i get rest of the paragraphs and headings' text?  Also, can you please help with the .`filter()` method.

[2020-09-21 19:27] samkit-jain commented on #276
Have a look at https://github.com/jsvine/pdfplumber/issues/242#issuecomment-668448246 You can refer it as an example of `.filter()` and also to get the data outside of a table.

If you could share the PDF (after redacting any sensitive information) and your expected output, I can help in a better way. Without the PDF, I can suggest you to do filtering based on the font name, character height etc t

[2020-09-23 07:09] xv44586 commented on #259
hi, I used code that you shared upon, but the sencond line still splited, I wonder is there a way to make the three "line" together cause they are in one cell?

[Group.pdf](https://github.com/jsvine/pdfplumber/files/5266206/Group.pdf)
![issue](https://user-images.githubusercontent.com/16846988/93978815-1912fb80-fdaf-11ea-94f1-4f6ce8781c2e.png)
result:
[code]

[2020-09-23 08:38] samkit-jain commented on #259
Hi @xv44586 Thanks for sharing the PDF. Could you please share what you expect the output to be? If I use the table settings as
[code]
The table is detected as
![image](https://user-images.githubusercontent.com/15127115/93988182-0cd67080-fda6-11ea-96f4-f09a3ef9db47.png)
with the data being
[code]
which seems correct to me.

[2020-09-23 09:41] xv44586 commented on #259
@samkit-jain Thanks for reply! I tried again, I found I losed the <code>snap_tolerance</code> ,so the result of last cell is splited into multi rows, now everything is fine. Thanks again!

[2020-09-26 17:03] jsvine commented on #60
If you provide an example PDF and code that demonstrates the problem, please share it here and someone can try to help you.

[2020-09-26 17:05] jsvine commented on #71
@pajaskowiak Can you share a PDF that demonstrates the issue?

[2020-09-26 17:06] jsvine commented on #262
I don't quite understand what you mean by "edge allowance"? Can you provide more details about the question?

[2020-09-26 17:25] coder0028 commented on #276
Thanks @samkit-jain. This https://github.com/jsvine/pdfplumber/issues/242#issuecomment-668448246 works !

[2020-09-26 17:25] #276 closed, assigned to nobody

[2020-09-27 14:58] AysegulKarcili opened #277 "Option to extract text of cells with leading and trailing white spaces preserved"
Hi! First of all, thanks a lot for this library since it is excellent for extracting tables, being very easy and intuitive to use as well.

I am working on tables which are too long and split to multiple pages. Splits sometimes occurs between two table rows, but sometimes occurs in the middle of one table row. In the second case, multi-line text of that row is divided into two pages.  While texts

[2020-09-27 19:06] dasapa commented on #274
Hi Samkit,

thanks for the answer, there are two pdf files in wetransfer link. What is pdftotext? other librarie?

https://wetransfer.com/downloads/932b33efbce9be5fb51972d908bf5d7c20200927190237/e3355946c178b7b3430d4d07d60807be20200927190304/ee1009

[2020-09-28 03:19] xv44586 commented on #71
[repeat.pdf](https://github.com/jsvine/pdfplumber/files/5289754/repeat.pdf)
Getting samge issue, the pdf is repeat.pdf

[2020-09-28 07:43] mkl-public commented on #71
The duplicate text indeed is drawn twice in the PDF, the second time with a small horizontal offset to create the appearance of a bold font.
Actually, though, this PDF gives a hint that the second copy shall be ignored by marking it with an empty **ActualText** property. By evaluating that property, therefore, pdfplumber could correctly extract this PDF.

[2020-09-28 20:02] samkit-jain commented on #274
Thanks for sharing the PDFs @dasapa [`pdftotext`](https://www.xpdfreader.com/pdftotext-man.html) is a utility to extract text from PDFs.

In the PDF, if you try and copy-paste, gibberish comes out. It is sometimes done intentionally by the PDF creators to prevent people from copy-pasting text from the PDF in which the unicode mapping (what character a glyph represents) is not included in the PDF o

[2020-09-29 02:06] jsvine commented on #71
Many thanks @xv44586 and @mkl-public. This is helpful. Given the way `pdfminer.six` parses PDFs, I'm not sure we can easily pick up on that ActualText property. And I'm not certain all PDFs would provide the same hinting. But one way we could potentially handle this is by adding an option to remove all characters that are, effectively, duplicates — perhaps those with same text, fontname, and size

[2020-09-29 07:00] mkl-public commented on #71
Indeed, there are many PDFs out there drawing text twice for some visual effect (bold, shadow, ...) but by far not all of them use **ActualText** to mark one copy as ignorable like @xv44586's example file does. Thus, finding duplicates explicitly will help more often in this regard than checking the **ActualText**.

[2020-09-29 10:02] ugoleonard opened #281 "TableFinder not finding table"
Hello,

I am working on a file to extract the table it contains. I'm therefore splitting the file page per page to conduct the work. An extract of the first page can be seen below.

When running the code to extract the table:

[code]
pdfplumber returns a None object. The expected output should be a table with headers Guarantee, Year, Outflows, ... and values Civil Liability, 2015, -, ...

I checke

[2020-09-29 10:53] samkit-jain commented on #281
Hi @ugoleonard thanks for your interest in the library. Could you please share the PDF so that we can investigate further?

[2020-09-29 11:24] ugoleonard commented on #281
Hi @samkit-jain thank you for the swift reply !

Please find below:
[test_pdfplumber.pdf](https://github.com/jsvine/pdfplumber/files/5298563/test_pdfplumber.pdf)

[2020-09-29 12:42] pajaskowiak commented on #71
I'm really sorry but I can't. It contains sensitive information.

[2020-09-29 12:44] pajaskowiak commented on #71
I did something similar to this. Anyways, I could fix the duplicates in my own code. Having the text from the pdf, even with eventual duplicates is a big help already! Thank you for the project!

[2020-09-29 13:58] samkit-jain commented on #281
Hi @ugoleonard The PDF is a scanned PDF and that's why it is not working. `pdfplumber` does not work on scanned PDFs (at least for now).

[2020-09-29 14:42] samkit-jain commented on #281
Hi @ugoleonard Thanks for sharing the PDF. In this, if you use the table settings used in https://github.com/jsvine/pdfplumber/issues/127#issuecomment-516248960 you'll get a comparatively better output.

---

I used the following code to draw the curve objects in the PDF
[code]
The output is
![image](https://user-images.githubusercontent.com/15127115/94573027-4ec45280-028f-11eb-8015-c44bad64b007.p

[2020-10-03 16:17] jsvine commented on #71
Commit 04fd56a (available in `develop` and in the next release) provides a `Page.dedupe_chars(...)` method that should address this general type of character duplication. (Thanks to @xv44586 for the PDF and test!) I'm closing this issue for now, but if anyone encounters character-duplication issues that the new method does not solve, feel free to comment on this thread. Priority will be given to c

[2020-10-03 16:17] #71 closed

[2020-10-03 17:47] fdq09eca opened #283 "chars x1 > page.width"
I have this [colab](https://colab.research.google.com/drive/1dxzcNu1_gezPBiyonQLwM9kW8wr-rK3b?usp=sharing).
It produces the following result
[code]

But I would like to have
[code]

which is achievable if I change the definition of `df_char` from
[code]
to
[code]

you may see the `within_bbx` is changed from `within_bbx = normal_bbx_coord & normal_x1` to  `within_bbx = normal_bbx_coord`
**The aims

[2020-10-05 16:49] coderliuhao opened #284 "Raising KeyError when I tried to extract text from PDF file"
`with pdfplumber.open("example/paper.pdf") as p:
    page = p.pages[1]
    print(page.extract_text())`

raise KeyError:"ID"

paper.pdf is a chinese article after renaming

[2020-10-05 16:55] samkit-jain commented on #284
Hi @coderliuhao and appreciate your interest in the library. Could you please provide the following so that we can investigate further?
1. `pdfplumber` version, Python version and the OS.
2. Correctly formatted reproducible code.
3. The PDF.

[2020-10-06 01:29] jsvine commented on #283
Hi @fdq09eca, PDFs are allowed to place characters outside of its mediabox (or cropbox). If you want to automatically remove them, you could run `page_inside = page.within_bbox(page.bbox)`.

[2020-10-06 01:52] fdq09eca commented on #283
@jsvine will the mediabox adjust respectively when the page is cropped?

[2020-10-06 02:47] jsvine commented on #283
Yes, the `.crop(...)` and `.within_bbox(...)` methods automatically adjust the `bbox` property: https://github.com/jsvine/pdfplumber/blob/3afd08620f345adbf60d5a21c1e201535745239f/pdfplumber/page.py#L315-L322

[2020-10-06 02:49] fdq09eca commented on #283
excellent. Thank you, it gives me the reason of the bug.

[2020-10-06 02:50] #283 closed, assigned to nobody

[2020-10-14 14:08] mbhoshen commented on #186
Did this get resolved in a useful way? I like the table extraction, but I am using it for scanned pdf's which I want to extract the tables from and crop to them, and then export to read with tesseract. I could export into an image file (png, jpg etc) and then read, but this is kind of funny. So I would really like to just take the image into PIL or OpenCV. I tried Ryan's code but while it seemed t

[2020-10-16 07:01] playgithub opened #285 "In full-lined table, two lines in one cell is recognized as two items"
![image](https://user-images.githubusercontent.com/3665590/96223045-e3cd8800-0fbf-11eb-849d-a97daa849e91.png)

The result for the row is:
["以公允价值计量且其变动计入",  None, None, None, None, None]
["当期损益的金融资产",  "四(3)", "902,072",  "—", "-", "—"]

What is expected is
["以公允价值计量且其变动计入当期损益的金融资产",  None, None, None, None, None]

If it can be solved by parse params, how? Thanks

[2020-10-16 07:17] samkit-jain commented on #285
Hi @playgithub Appreciate your interest in the library. Could you please provide the PDF, table settings, pdfplumber version and a sample reproducible code so that we can look into it?

[2020-10-16 07:45] playgithub commented on #285
pdfplumber 0.5.23

pdf: http://www.cninfo.com.cn/new/disclosure/detail?plate=sse&orgId=9900005970&stockCode=601668&announcementId=1207611180&announcementTime=2020-04-25
(click the button on the top right to download the pdf, which has a download icon)

code:
[code]

[2020-10-16 09:54] royashoya commented on #193
I had the same issue (memory leak) with pdflumber whilst extracting data from an 8,000 page pdf document. I tried implementing @rosswf  solution with garbage collection and it worked but the time taken was extremely long. It took me approximately 48 hours and 200MB to extract all the text. However, using [pdftotext](https://pypi.org/project/pdftotext/) worked extremely well. It took me approximate

[2020-10-16 12:16] samkit-jain commented on #285
Thanks for sharing the requested details @playgithub The code you shared can be adjusted like the following

[code]

Note that I have specified the table settings to use. I only tested on page 128. The result of drawing the table on that page looks like the following
![image](https://user-images.githubusercontent.com/15127115/96256007-804e5500-0fd5-11eb-96ea-1e3ecf56b759.png)
As you can see, certa

[2020-10-16 12:48] playgithub commented on #285
Does it mean if a row contains at least one "None" value, the row should be merged to the row above?
If yes, it is not the result I want. I want the rows seperated by the visible lines.

[2020-10-16 13:07] playgithub commented on #285
![image](https://user-images.githubusercontent.com/3665590/96261652-4c822800-0ff3-11eb-9006-5b0d860a6b58.png)

I'm curious that where do the lines in the yellow rects come from? They are not visible when I'm reading the pdf. Can the extra lines be excluded when parsing the table?

[2020-10-16 14:55] playgithub opened #286 "Can not extract any tables from some pdf in Chinese"
pdfplumber version: 0.5.23

pdf:
http://www.cninfo.com.cn/new/disclosure/detail?plate=sse&orgId=9900002221&stockCode=601318&announcementId=1207316204&announcementTime=2020-02-21
(click the button on the top right to download the pdf, which has a download icon)

code:
[code]

result:
[code]
---

BTW, it's ok to extract text

[code]

[2020-10-16 15:20] samkit-jain commented on #285
@playgithub Yes, it means that the row containing `None` would be merged to the row above. To ignore the hidden lines, you can use the following code:

[code]

Explanation on the above code: On the page 128, I noticed that the hidden lines had `"non_stroking_color" == 1`. So, I created a filter function that would keep only the visible lines.

The image result
![image](https://user-images.githubus

[2020-10-16 15:33] samkit-jain commented on #286
@playgithub Could you please specify the page number from which you want to extract the table and via a screenshot highlight the tabular region as well?

[2020-10-16 16:02] #285 closed, assigned to nobody

[2020-10-16 16:02] playgithub commented on #285
Thanks, it's cool.

[2020-10-16 16:03] playgithub commented on #286
In page 275

![image](https://user-images.githubusercontent.com/3665590/96281679-3df43a80-100c-11eb-94e8-65ed03ea5a45.png)

[2020-10-16 18:04] samkit-jain commented on #286
For this page, you can use text-based strategy for table extraction. Use the following table settings for extraction
[code]

[2020-10-16 22:34] playgithub commented on #286
Thanks, it works, but there is an error:
[code]

If `table_settings` is not set, no problem.

[2020-10-17 11:22] samkit-jain commented on #286
Using `str(row).encode("utf-8")` should resolve the issue. You could also try opening the file like `txt_file = open("result.txt", "w", encoding="utf-8")`

[2020-10-17 13:18] #286 closed, assigned to nobody

[2020-10-18 22:17] valentynbez opened #287 "Add encoding feature to page parsing"
Please, add a feature of encoding choosing. As I understand, you only need to add it to page.py script. This is so useful when working with other languages!

[2020-10-19 05:24] #287 closed, assigned to nobody

[2020-10-19 10:58] playgithub opened #288 "Can't extract a table without lines"
###  pdf

http://www.cninfo.com.cn/new/disclosure/detail?plate=sse&orgId=9900005970&stockCode=601668&announcementId=1207611180&announcementTime=2020-04-25
(click the button on the top right to download the pdf, which has a download icon)

### page

277

![image](https://user-images.githubusercontent.com/3665590/96441842-c2c59b00-123c-11eb-93b6-af681c754e62.png)

### code

[code]

### result

[code

[2020-10-19 12:07] lotfiabdelghafour opened #289 "AttributeError: module 'pdfplumber' has no attribute 'open'"
AttributeError: module 'pdfplumber' has no attribute 'open'

[2020-10-19 12:09] lotfiabdelghafour commented on #289
endo = 'endometriose.pdf'
with pdfplumber.open(endo) as pdf:
    page = pdf.pages[0]
    text = page.extract_text()

[2020-10-19 13:15] Petru-Tanas-ProcessITCS opened #290 "TypeError: unsupported operand type(s) for +: 'float' and 'decimal.Decimal'"
I am trying to extract a table from a random PDF file using explicit line, with the following table setting:

[code]

traceback:
[code]

python 3.8
windows 10
pdfplumber 0.5.23

[2020-10-19 13:36] samkit-jain commented on #290
Hi @Petru-Tanas-ProcessITCS. Appreciate your interest in the library. Please use the following table settings.

[code]

[2020-10-19 13:45] samkit-jain commented on #289
Hi @lotfiabdelghafour Appreciate your interest in the library. The code you shared is not properly formatted. Is the following the correct representation of your Python code?

[code]

If yes, I am unable to reproduce the error. Could you please provide more information?
* OS
* Python version
* pdfplumber version
* How you installed pdfplumber?

[2020-10-19 14:37] samkit-jain commented on #288
Hi @playgithub For page 277, my recommendation to you would be to use explicit vertical lines. You may optionally crop the page like
[code]
to get better results.

The table settings using explicit lines would look like
[code]

The `explicit_vertical_lines` is a list of coordinate values for lines at the 12%, 55%, 75% and 95% mark.

Closing this issue as well. Feel free to reopen if any further qu

[2020-10-19 14:37] #288 closed, assigned to nobody

[2020-10-19 14:40] playgithub opened #291 "Can't extract tables with lines and but without bound rect"
###  pdf

http://www.cninfo.com.cn/new/disclosure/detail?plate=sse&orgId=gssh0600352&stockCode=600352&announcementId=1207606607&announcementTime=2020-04-25
(click the button on the top right to download the pdf, which has a download icon)

### page

133

![image](https://user-images.githubusercontent.com/3665590/96465887-11cef880-125c-11eb-8ba7-5ecc42628e1f.png)

### code

[code]

### result

[cod

[2020-10-19 14:44] playgithub commented on #288
I'm sure it'll work for the specific page, but there are many tables to extract, assistant coordinates can't help.

[2020-10-19 16:00] buptlihang commented on #289
Check if there is a file named "pdfplumber.py" in the current directory to avoid misquote

[2020-10-20 00:23] jsvine commented on #186
@mbhoshen and thanks for your interest in the library. A few notes:

Just a warning: `pdfplumber` is optimized for digital PDFs, rather than scanned ones. It's likely/possible that you'll see subpar results.

You can do this, via `my_page.to_image().original`, which will return a PIL/Pillow Image object.

Ryan's code has not been incorporated into `pdfplumber`, which is likely why you're encounter

[2020-10-20 00:30] jsvine commented on #291
One possible strategy:

- Find the existing `top`/`bottom` values of the existing (inner) vertical lines to determine the top/bottom position of each table.

- Find the `x0`/`x1` values of the horizontal lines  to determine the left/right position of where the *imagined* outer vertical lines should be.

- When running `.extract_tables(...)`, pass a list of `explicit_vertical_lines` for each of tho

[2020-10-20 00:35] jsvine commented on #193
Yes, this is a problem, and one I'd like to fix. Based on a bit of exploration, it seems that the memory issues might stem from within `pdfminer.six`, possibly in `PDFPageInterpreter.execute(...)` or `PDFContentParser`. I haven't found the time to dig deeper yet, but hope to. Closing this issue in favor of the more recently active one here: https://github.com/jsvine/pdfplumber/issues/263

I'll aim

[2020-10-20 00:38] jsvine commented on #290
Thanks, @samkit-jain — that's the correct approach for the current codebase. I think, though, that it probably makes sense to auto-`decimalize` the values passed for those settings, so I'm reopening this issue and adding the `enhancement` label.

[2020-10-20 00:39] #274 closed, assigned to nobody

[2020-10-20 01:29] playgithub commented on #291
Alright, after find an table fully lined, the table may not be complete, and it should consider the situation in the case.

[2020-10-20 01:29] #291 closed, assigned to nobody

[2020-10-20 07:03] mbhoshen commented on #186
Thanks !!!

בתאריך יום ג׳, 20 באוק׳ 2020, 03:23, מאת Jeremy Singer-Vine ‏<
notifications@github.com>:

[2020-10-20 09:34] Fleur09 opened #292 "Troubles with subscripts"
Hi, I want to extract some text with medical information, from pdf to txt files.

The code I'm using to do it:

import pdfplumber
import os

path = "PDF"
for filename in os.listdir(path):
     myFile = os.path.join(path, filename)
     with pdfplumber.open(myFile) as pdf:
          for page in pdf.pages:
               text = page.extract_text()
               with open(os.path.splitext(myFile)[0]

[2020-10-20 10:23] samkit-jain commented on #292
Hi @Fleur09 Appreciate your interest in the library. You can make use of the `y_tolerance` param to solve for this. Use `page.extract_text(y_tolerance=6)` instead. The output would be
[code]

As it might have already caught your attention, there are repeating characters in the text. This is similar to issue #71. While trying to work with the solution presented in that, I encountered some issues an

[2020-10-20 11:22] samkit-jain opened #293 "AttributeError: 'Page' object has no attribute '_objects'"
## Describe the bug

Instance variable `_objects` in class `Page` accessed before assignment in `dedupe_chars()`. `_objects` gets instantiated only when the property method `objects` of the `Page` class is invoked. Source: https://github.com/jsvine/pdfplumber/blob/04fd56ac405fd753e7f9c826ce103459013f2e71/pdfplumber/page.py#L148-L153

## Code to reproduce the problem

[code]

## PDF file

https://g

[2020-10-20 11:49] samkit-jain commented on #292
When PR #294 is merged in and `dedup_chars()` is released, you can use `page.dedupe_chars().extract_text(y_tolerance=6)` to extract text instead which would give you the output as
[code]

[2020-10-20 12:17] Fleur09 commented on #292
Thanks!!!

[2020-10-20 12:32] #292 closed, assigned to nobody

[2020-10-20 13:07] #293 closed, assigned to samkit-jain

[2020-10-20 13:13] kkarthikvk opened #295 "Issue : Can't able to extract line spacing between paragraph"
While extracting text from the pdf using extract.text() . It could not able to extract line spacing between paragraph . It merges the paragraph into one .

NOTE :
1 . I have tried with different x_tolerance and y_tolerance ranging from -10 to 10 .
2 . I also tried by cropping the pdf page .

Nothing worked :( .

Example of want it happens (No need to read see the structure) :

say pdf :

The Middl

[2020-10-20 13:19] jsvine commented on #295
Thanks for your interesting in the library, @kkarthikvk. Right now, `.extract_text(...)` does not add spacing other than to separate lines. This is definitely something we'd like to improve in the future. I have an idea for how to implement this, but have not found the time yet to properly test it. Closing this issue as a practical duplicate of https://github.com/jsvine/pdfplumber/issues/10 to kee

[2020-10-20 13:19] #295 closed, assigned to nobody

[2020-10-20 13:48] jsvine commented on #290
Added this enhancement, which is now available in v0.5.24. Thanks!

[2020-10-20 13:48] #290 closed, assigned to nobody

[2020-10-20 13:49] jsvine commented on #292
Thanks, @samkit-jain! That code is now merged and available in v0.5.24.

[2020-10-23 20:11] RyanCPeters commented on #186
@jsvine sorry for ghosting there, but ive looked back at my old notes when i was messing with the issue initially and simplified the suggestion to the following.

The reasoning for using getter/setter properties is to improve and simplify the separation and encapsulation of image processing from the pdf parsing logic. This should untie the project from specifically depending on PIL so that users c

[2020-10-25 15:53] Mahendra114027 commented on #65
I know its kinda long but you can check out this thread [here](https://github.com/jsvine/pdfplumber/issues/148).

[2020-10-26 20:46] RyanCPeters commented on #186
@jsvine Ok, after creating an example that was almost purely abstract (as in it tried to only illustrate suggested changes) I decided that it would take more work to communicate than to just implement the changes outright :)

So I've pulled a fork of the repo and implemented the necessary helper classes to encapsulate the image processing functionality of `.display.PageImage` and created a small d

[2020-10-27 10:16] lvbohui opened #296 "Reading order of multi-column document."
Hello, I have a question.
I want to know how this library controls the reading order of **multi-column** documents when reading chars.
For example, for a two-column document, when getting chars, it will read the second column until the end of the first column, instead of reading the first row of the second column after reading the first row of the first column.

[2020-10-27 10:25] samkit-jain commented on #296
Hi @lvbohui Appreciate your interest. Assuming a 2-column page like

| Line 1 <br/> Column 1 | Line 1 <br/> Column 2 |
| --- | --- |

The library will read it as
[code]

Goes top to bottom, left to right.

[2020-10-27 15:44] prgx-csmith01 opened #297 "Decode Integer Metadata"
I have received this error message for a PDF file:

[code]

It seems that there is no handling for integer metadata in the __init__ of pdf.py

Previously there was a similar bug raised [#67](https://github.com/jsvine/pdfplumber/issues/67) for boolean objects.

I cannot provide the PDF used that caused this error as it is client data. The metadata of the file contains { ... , "Copies" : 0 }.

[2020-10-27 19:41] #296 closed, assigned to nobody

[2020-10-28 02:43] lvbohui commented on #296
Hi @samkit-jain .
Thank you very much for your answer, I know this, maybe I didn’t describe it clearly enough,
What I want to know is how this library achieves this. If it can't be described  in a  word, could you tell me which code file I should look at?
Thanks again for your answer

[2020-10-28 02:52] jsvine commented on #296
Hi. This library is built upon `pdfminer.six`, and parses characters in the same order that `pdfminer.six` parses them, which I believe is the order in which they encoded (in the raw directives, not necessarily how they are displayed) in the PDF itself. This is the order the characters will appear when you access them directly, e.g., via `Page.chars`. By default, however, `pdfplumber`‘s `Page.extr

[2020-10-28 03:35] lvbohui commented on #296
Hi, @jsvine .Thanks for your answer. But I'm not very clear.
What I want to know is how this library can read from top to the bottom of the first column **before** reading the second column. Is it achieved through the **encoding** or **metadata** of the PDF file itself? Is `pdfminer.six` used?

[2020-10-28 05:59] samkit-jain commented on #296
hI @lvbohui Unfortunately, I am not sure if I understand your question. By "how", do you mean the code that is responsible for this? If yes, have a look at https://github.com/jsvine/pdfplumber/blob/954dc94563e6f94f5a118788e97f17d0844a9aab/pdfplumber/utils.py#L349 or https://github.com/jsvine/pdfplumber/blob/954dc94563e6f94f5a118788e97f17d0844a9aab/pdfplumber/utils.py#L328. If not, could you please

[2020-10-28 07:21] ibrahimshuail opened #299 "Extract header and Subheader"
I need to extract the header and sub header of the pdf files . I tried using RE for extracting the sub header before the colon but few sub headers doesn't have the colon so I tried using beautiful  soap for conversion of pdf to html and getting the sub headers but this also fails , is there any way in plumber I can extract on the header and sub headers , I have attached a sample pdf
in which I nee

[2020-10-28 07:51] cjmqwerty opened #300 "How to extract text and tables from pdf pages and delete duplicate text of tables from the result text?"
## What are you trying to do?

I need to extract both text and tables from pdf pages. And the tables' content should not exist in the text part.

## What code are you using to do it?

page.extract_text()
page.extract_tables()

## Expected behavior

For example, if a pdf page is like:

line1
line2
line3
table_a
line4
table_b
line5
line6

I want a result like:
[text, table_a, text, table_b, text]

#

[2020-10-28 08:12] lvbohui commented on #296
Hi @samkit-jain  . Yes, that's what I need. Appreciate you very much.

[2020-10-28 09:25] samkit-jain commented on #299
Hi @ibrahimshuail Appreciate your interest in the library. Could you please provide the PDF (sensitive information reacted)?

[2020-10-28 09:27] samkit-jain commented on #300
Hi @cjmqwerty Appreciate your interest in the library. This issue looks like a duplicate of https://github.com/jsvine/pdfplumber/issues/242 and https://github.com/jsvine/pdfplumber/issues/276 Could you please check and confirm?

[2020-10-28 10:57] cjmqwerty commented on #300
Hi @samkit-jain Yes, they are same issues. And the solution works well. Thank you for your help!

[2020-10-28 10:57] #300 closed, assigned to nobody

[2020-10-28 14:00] ibrahimshuail commented on #299
[employee_details.pdf](https://github.com/jsvine/pdfplumber/files/5452322/employee_details.pdf)
please find the attached pdf @samkit-jain

[2020-10-28 14:52] samkit-jain commented on #299
Thanks for sharing the PDF @ibrahimshuail You would have to use regex based searching here. An example for extracting the employee name, DOB and name

[code]

The code I have shared is very minimal and I am pretty sure you would need to do some processing and error handling. But, I do believe it would give you a direction to work in. For example, I had to specify a higher `y_tolerance` when extrac

[2020-10-28 14:59] ibrahimshuail commented on #299
@samkit-jain I don't want to extract the value.. I need to extract only the sub headers... Not thier values... This is not a standard pdf in few pdf we have employee name... In few we have column name as just name.... The above code u provided is like we are defining the subheaders... Can u suggest something which I can capture the subheaders with bold letters and colon or something like that...

[2020-10-28 16:55] samkit-jain commented on #299
Oh ok. Thanks for the clarification @ibrahimshuail You can use the following code to keep only the bold characters.

[code]

In the PDF that you shared, the bold characters have the font name as "ABCDEE+Calibri,Bold".

Then, to get the individual subheader keys like "DOB", "Gender", you can perform words clustering. Get a list of all the words from `extract_words()`. Iterate over them top to botto

[2020-10-29 06:51] samkit-jain commented on #297
Hi @prgx-csmith01 Would it be possible for you to redact everything from the PDF and then share it so that it can be added as a test to PR #298 ?

[2020-10-29 08:17] ibrahimshuail opened #301 "Pdf.crop is not working in 0.5.24"
The below set of code stopped working when upgraded to 0.5.24 is there any other altrenative method to crop the page
`        for pdf_page in pdf.pages:
               pdf_page = pdf_page.crop((0,50,1000,700))
               ts = {"vertical_strategy": "explicit","horizontal_strategy": "explicit","explicit_vertical_lines": curves_to_edges(pdf_page.curves + pdf_page.edges),"explicit_horizontal_lines

[2020-10-29 08:18] ibrahimshuail commented on #299
Thanks a lot, @samkit-jain. Really the solution helped me a lot ...

[2020-10-29 09:56] #299 closed, assigned to nobody

[2020-10-29 10:21] prgx-csmith01 commented on #297
Hi @samkit-jain , I can't share the PDF but we have created a test file for you with an example of the metadata issue. I hope this helps. Thanks!

[test_int_metadata.pdf](https://github.com/jsvine/pdfplumber/files/5457629/test_int_metadata.pdf)

[2020-10-29 10:49] samkit-jain commented on #297
Many thanks @prgx-csmith01 I have updated the PR #298 with the test case.

[2020-10-29 10:54] samkit-jain commented on #301
Hi @ibrahimshuail Could you please format the code correctly? It appears you used single backtick. For multiline code blocks, use triple backticks. Example
[code]

[2020-10-29 14:02] ibrahimshuail commented on #301
@samkit-jain
`
for pdf_page in pdf.pages:
               pdf_page = pdf_page.crop((0,50,1000,700))
               ts = {"vertical_strategy": "explicit","horizontal_strategy": "explicit","explicit_vertical_lines": curves_to_edges(pdf_page.curves + pdf_page.edges),"explicit_horizontal_lines": curves_to_edges(pdf_page.curves + pdf_page.edges),"intersection_y_tolerance": 10,}
               bboxes = [

[2020-10-29 16:16] mkl-public commented on #297
As an aside: That integer value of the **Copies** entry is invalid.

According to the specification:

_(ISO 32000-1)_

... and neither is there any **Copies** entry in table 317 nor any other entry with a numeric type, merely text strings, dates, and names.

Thus, this issue strictly speaking is not a _bug_ (as labeled currently) but a request to support one more type of invalid PDFs.

[2020-10-30 02:06] jsvine commented on #297
@mkl-public That's a good point, and thank you for raising it. I think your diagnosis is correct. I certainly don't want to slide down the slippery slope of trying to handle all malformed PDFs. In this case, however, @samkit-jain has PR'ed an efficient solution — it's a simple adjustment, and one that hopefully will accommodate a few other classes of invalid metadata entries in the future (without

[2020-10-30 02:07] jsvine commented on #289
Closing due to inactivity and small probability that this repository is the source of the problem or solution.

[2020-10-30 02:07] #289 closed, assigned to nobody

[2020-10-30 02:08] jsvine commented on #262
Just checking back on this, @fdq09eca.

[2020-10-30 02:09] jsvine commented on #261
Closing this issue due to inactivity and lack of code/PDF. Feel free to reopen if that changes.

[2020-10-30 02:09] #261 closed, assigned to nobody

[2020-10-30 02:15] jsvine commented on #65
Thanks, @Mahendra114027. And, yes, some basic color info is indeed available in `pdfplumber` objects, thanks to `pdfminer.six`.

[2020-10-30 02:15] #65 closed

[2020-11-01 09:54] niwreg-coder opened #303 "Performance issues when integrating pdfplumber in Scrapy"
With Scrapy I am encountering some pdfs from which I want to extract the text. Prior to implementing pdfplumber in my scraper, I checked the performance by running a script similar to this:
[code]
While running the above snippet in the Spyder IDE, %timeit timed the execution time to be less than one second (also for pdf's of about 30 pages). Yet, when I inserted the same code into the def parse()

[2020-11-01 23:07] jsvine commented on #297
Closed via https://github.com/jsvine/pdfplumber/pull/298; now available in `develop` and will appear in the next release.

[2020-11-01 23:07] #297 closed, assigned to nobody

[2020-11-01 23:09] jsvine commented on #284
Hi @coderliuhao, I'm just checking in on this. Can you provide the information/PDF requested above?

[2020-11-01 23:15] jsvine commented on #303
Hi @niwreg-coder, and thanks for your interest in this library. I don't know much about Scrapy, and don't see any code here that would let me reproduce the issue, but it sounds like Scrapy might be setting the log level for all modules. Perhaps *explicitly* changing the log level for `pdfminer` would help, via https://github.com/jsvine/pdfplumber/issues/251#issuecomment-690157905:

[code]

Let me

[2020-11-01 23:18] jsvine commented on #281
Thanks for your guidance here, @samkit-jain. Closing this issue due to inactivity and because the PDF does not contain any selectable text.

[2020-11-01 23:18] #281 closed, assigned to nobody

[2020-11-02 00:11] jsvine commented on #186
Thank you, @RyanCPeters for this very detailed response / repo. I really appreciate your attention to it. I am, however, still a bit confused about the bigger picture (pun not intended but retained).

In my original conception (not to say that there aren't better approaches), `PageImage` exists in `pdfplumber` for the primary/sole goal of helping people to debug the library's output, such as `char

[2020-11-03 01:38] ShaneKao opened #304 "pip install UnicodeDecodeError"
## Describe the bug

I got the following error message when installing.

`
    ERROR: Command errored out with exit status 1:
     command: 'd:\pyvm\ailabuap0.2-dev\scripts\python.exe' -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\user\\AppData\\Local\\Temp\\pip-install-l2zwa6vd\\pdfplumber\\setup.py'"'"';
 __file__='"'"'C:\\Users\\user\\AppData\\Local\\Temp\\pip-install-l2zw

[2020-11-03 01:46] jsvine commented on #304
Seems like you may not have UTF-8 set as your default encoding. Does it work if you run it like this?:

[code]

[2020-11-03 03:33] lvbohui opened #305 "An error was reported when using the "to_image" method."
## Describe the bug

An error was reported when using the "to_image" method on the pages of the following two documents

## Code to reproduce the problem
[code]

## PDF file

[user1.pdf](https://github.com/jsvine/pdfplumber/files/5479189/user1.pdf)
[user2.pdf](https://github.com/jsvine/pdfplumber/files/5479190/user2.pdf)

## Expected behavior

In fact, the result is the same as expected, but an er

[2020-11-03 08:23] BriskyGates opened #306 "using extract_text() still have the blank,while using .chars lose all the blanks"
something wrong happened in the pdf as follows

[otl20110003-海运托书.pdf](https://github.com/jsvine/pdfplumber/files/5479989/otl20110003-.pdf)

[2020-11-03 15:26] jsvine commented on #306
Per the issue templates, please share code that clearly demonstrates the problem, as well as a more complete description. It is very hard to help you without this information.

[2020-11-04 15:27] samkit-jain commented on #305
Hi @lvbohui Appreciate your interest in the library. This output is coming from the `user2.pdf` file. I am not sure on the cause but I was able to get rid of them by repairing the PDF. You can repair the PDF using ghostscript by running the command `gs -o user2-repaired.pdf -sDEVICE=pdfwrite user2.pdf`.
`

[2020-11-06 01:14] guo1017138 opened #307 "How can I extract table without left and right vertical border correctly"
## What are you trying to do?

*A clear and concise description of your goals.*
I'm trying to extract table from pdf. The table has full horizon lines but only with vertical lines in the middle of table. It doesn't have right and left border. The table can't be extracted correctly, missing 2 columns.

## What code are you using to do it?

*Paste it here, or attach a Python file.*
With default tabl

[2020-11-06 05:29] leiyuwork opened #308 "cannot extract text properly from a cropped pdf"
Thank you so muck for the fantastic job!
I came across one issue while using pdfplumber to extract some texts from a cropped pdf.
Initial pdf is here.
[2020年版 （1332） 日本水産（株） .pdf](https://github.com/jsvine/pdfplumber/files/5499256/2020.1332.pdf)
It has two columns.
I cropped pdf to extract text from each part separately, and the cropped pdf is here.
[1111.pdf](https://github.com/jsvine/pdfplumber/

[2020-11-06 20:01] Pique7 opened #309 "Option to allow tables which contain only one single cell"
I realized, that `pdfplumber.Page.extract_tables()` filters out tables which contain only one single cell. I have personally adapted `table.py` in order to include also tables with only one cell (or rather a framed text box than a table).
Is it possible to include a configurable option (`allow_one_cell_table -> yes/no` or `minimum_cells_per_table -> 1..99`) in a future release?

[2020-11-07 03:30] coderliuhao commented on #284
Sorry for lately response,I thought I can find a solution of my issue

At 2020-11-02 07:09:37, "Jeremy Singer-Vine" <notifications@github.com> wrote:

Hi @coderliuhao, I'm just checking in on this. Can you provide the information/PDF requested above?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-11-07 10:16] samkit-jain commented on #309
Hi @Pique7 Appreciate your interest in the library. Could you please share a PDF that can demonstrate this? Please don't forget to redact any sensitive information from the PDF. Would also be interested in knowing what changes you made in the `table.py` file.

[2020-11-07 10:33] samkit-jain commented on #307
Hi @guo1017138 Appreciate your interest in the library. In the PDF you shared, I believe it would be best if you crop the page and then parse the tables separately because they have a different structure. You can use the following code to do so.

[code]

Table debug output for the top crop
![image](https://user-images.githubusercontent.com/15127115/98438772-6efaf300-2112-11eb-8742-54460ea0f528.png

[2020-11-07 10:48] samkit-jain commented on #308
Hi @leiyuwork Appreciate your interest in the library. I don't think the PDF cropping was successful. Visually the crop seems fine but there are characters that extend outside the cropped page's actual width. There are a couple of things that you can do
1. On the cropped `1111.pdf`, for every page, run `page = page.crop((0, 0, page.width, page.height))`. It will ensure that objects that are within

[2020-11-07 11:25] samkit-jain commented on #309
Also, per https://github.com/jsvine/pdfplumber/blob/eb73b06f404c1ae2c9a7ced4f1a7670afa32aa48/pdfplumber/table.py#L316 a valid table is considered to be the one that has at least 2 cells. There's already an open issue for users to allow specifying the minimum cell count. See https://github.com/jsvine/pdfplumber/issues/236. I am closing this issue for now and request you to continue the conversation

[2020-11-07 11:25] #309 closed, assigned to nobody

[2020-11-07 11:39] samkit-jain commented on #72
Reviving an old issue. @meldonization Is this an issue anymore? As of 2 August 2018, pdfplumber version was [0.5.9](https://pypi.org/project/pdfplumber/0.5.9/) and the recent one is [0.5.24](https://pypi.org/project/pdfplumber/0.5.24/) and I suspect the issue may have been resolved. If not, could you please tell how to get the value of `table` that I can put in the `crop()` method and test?

[2020-11-09 07:50] leiyuwork commented on #308
@samkit-jain Thank you so much! I realized the PDF cropping was not so successful and as you advised, I have used pdfplumber directly to crop the pdf and read. It worked well!

[2020-11-09 07:50] #308 closed, assigned to nobody

[2020-11-09 13:52] guo1017138 commented on #307
@samkit-jain , Awesome man! Really appreciate. It solves my problem and I did some enhancement based on your code. It suitable for any number tables in this page. (Just change the code to loop tables)

[code]

[['34', '5', 't', 'f'], ['j', 'z', 'f', 's'], ['f', '', 's', '3'], ['l', 'y', 'i', '0']]
![image](https://user-images.githubusercontent.com/24711429/98549280-859d7780-22d5-11eb-8135-8f830d63

[2020-11-09 13:55] #307 closed, assigned to nobody

[2020-11-10 03:08] lvbohui opened #310 "Does "page.to_image()" can be converted to numpy array or binary stream?"
Such as:
[code]
and I want to the `image` can be the format of numpy array or in binary format. Is there any way to converted?
Shall I change the `display.py`?

By the way, I don't want to save it as `temp.png` and read it again.
Thanks.

[2020-11-10 03:11] jsvine commented on #305
Thanks @samkit-jain, and I agree: This appears to be an error output by ImageMagick/Wand (which pdfplumber uses for image conversion), stemming from a PDF that needs repairing.

[2020-11-10 03:11] #305 closed, assigned to nobody

[2020-11-10 03:32] jsvine commented on #310
`PageImage` objects are a thin wrapper around [PIL `Image`](https://pillow.readthedocs.io/en/5.1.x/reference/Image.html) objects. `PageImage.original` provides access to that the PIL image object, while `PageImage.annotated` provides a version of the image that contains whatever you may have added to it via `PageImage.draw_rects(...)`, et cetera. Using either of those, you can get the byte represe

[2020-11-10 03:43] lvbohui commented on #310
Appreciate for your answer, but is this byte format different with the file read byes? Like this:
[code]
Because I try to use the byte you said to converted to the format of opencv, it doesn't work  but when I use the `image_bin` above to convert, it works.

[2020-11-10 03:48] jsvine commented on #310
I'd recommend reading the [documentation for PIL's Image class](https://pillow.readthedocs.io/en/5.1.x/reference/Image.html). This part may be relevant, depending on what exactly you're trying to do:

<img width="725" alt="Screen Shot 2020-11-09 at 10 48 17 PM" src="https://user-images.githubusercontent.com/534702/98625508-b681aa80-22dd-11eb-8176-5cda95c33da8.png">

[2020-11-10 03:55] #284 closed, assigned to nobody

[2020-11-10 06:07] lvbohui commented on #310
Thanks, I will read it.

[2020-11-10 06:07] #310 closed, assigned to nobody

[2020-11-12 13:32] guo1017138 opened #311 "unexpected/non-exist vertical/horizontal lines generated in tables which cause extract table result wrong"
## Describe the bug

*A clear and concise description of what the bug is.*
I have a lot of tables need to process in my pdfs but some of them always crashed after extract. After debug, I found some non-existed lines/edges get identified. This cause table has wrong size.
My original table in pdf like this: You can download the attached pdf PDF file section.
![image](https://user-images.githubuserco

[2020-11-12 18:38] the-vindicar opened #312 "File-object given to PDF() and open() should not be closed"
## Describe the bug

PDF class instance constructed with a file-like object closes that object upon deletion. `open()` does the same.
This behaviour is not documented, and is unexpected.

## Code to reproduce the problem

[code]

## PDF file

Any valid pdf file will do.

## Actual behavior

File object given to PDF constructor is closed when `close()` method is called. See: https://github.com/jsvi

[2020-11-13 04:06] jsvine commented on #312
Hi @the-vindicar, and thanks for flagging this! Good catch. Now fixed in `develop`, and a relevant `assert` added to the tests

[2020-11-13 04:06] #312 closed, assigned to nobody

[2020-11-13 04:07] jsvine commented on #304
Now fixed in `develop`.

[2020-11-13 04:07] #304 closed, assigned to nobody

[2020-11-13 13:51] Sanabm commented on #289
I am facing this issue
AttributeError: module 'pdfplumber' has no attribute 'open'
Is der any dependancy?

import pdfplumber

endo = "b.pdf"

with pdfplumber.open(endo) as pdf:
    page = pdf.pages[0]
    text = page.extract_text()

[2020-11-13 16:00] lfcbenson opened #313 "extract_text() from pages should not extract data within tables"
extract_text() method for pages extracts all text including those from tables. Since there is a separate extract() method to extract data from a table the the extract_text() method for a Page should only extract NON - TABULAR data.

[2020-11-13 18:30] samkit-jain commented on #313
Hi @lfcbenson and thanks for the feedback. This functionality is not natively supported but can be achieved using some filtering as also discussed in https://github.com/jsvine/pdfplumber/issues/242.

`extract_text()` works on a page object and hence, it extracts text on the whole page as that is also what one would expect. On your suggestion, I would prefer adding a new `exclude_tables` parameter

[2020-11-13 18:30] #313 closed, assigned to nobody

[2020-11-13 18:41] samkit-jain commented on #311
Hi @guo1017138, appreciate your interest in the library. You can use the following code to filter out those invisible lines.
[code]

The result I get after running debug table finder is as below.
![image](https://user-images.githubusercontent.com/15127115/99108684-ba7b3880-260d-11eb-98f2-c48babd1a453.png)

[2020-11-13 18:41] #311 closed, assigned to nobody

[2020-11-13 23:39] jsvine commented on #313
Thanks @samkit-jain, I think that's exactly right.

[2020-11-13 23:39] #303 closed, assigned to nobody

[2020-11-13 23:39] #262 closed, assigned to nobody

[2020-11-13 23:41] jsvine commented on #306
Closing this issue due to lack of detail, but feel free to reopen with the requested information.

[2020-11-13 23:41] #306 closed, assigned to nobody

[2020-11-13 23:42] jsvine commented on #220
Closing due to inactivity, but feel free to continue the discussion here.

[2020-11-13 23:42] #220 closed

[2020-11-14 00:05] jsvine commented on #289
@Sanabm, make sure of the following:

- That you have installed the library via `pip install pdfplumber`
- That, in whatever directory you are executing the code, that there is no file called `pdfplumber.py`

[2020-11-14 02:59] guo1017138 commented on #311
@samkit-jain . Nice!!! Thank you in advance!

[2020-11-14 04:37] lfcbenson commented on #313
@samkit-jain , I think the solution you mentioned about adding an exclude_tables parameter to the extract_text() function would be great if you could implement that. That way users will have more control on which data they want to extract.

[2020-11-14 21:41] Spiritus44 opened #314 "Extract text without tables"
Hello,

First thank you for this great library, it really help me to quick process pdf files.

I'm working on a PDF summarizer and I use pdfplumber to export all the text of the PDF. Unfortunately, I have documents which contains tables and (to make the summary process easier) I want to just export the text without the tables cells.

According to you   what is the best manner to do that ?

Thanks

[2020-11-15 07:26] samkit-jain commented on #314
Hi @Spiritus44 Appreciate your interest in the library. Please have a look at issue #242 to extract text excluding tables.

[2020-11-15 07:26] #314 closed, assigned to nobody

[2020-11-19 16:48] bimmlerd opened #315 "upgrade the version of pdfminer.six"
In the spirit of #224 - pdfminer.six has has released version '20201018'

I'm trying to package paper2remarkable for Arch, which depends on this (which I'll thus also package :smiley: ). Since Arch packages typcically package the lastest release, it would make my life a bit easier if this didn't depend explicitly on an older version.

Let me know if I can help with the upgrade and thanks for the w

[2020-11-21 06:41] jsvine commented on #315
Yes, definitely aiming to upgrade the pinned version of `pdfminer.six`, but the current version breaks some tests due to changes in how `curve`s are processed. Working on sorting that out.

[2020-11-21 15:25] a417886 commented on #199
can I input my OCR texts and bounding box?not use pdfminer.six package. Then  use the extract_table function

[2020-11-23 06:38] Abdur-rahmaanJ opened #316 "TypeError: 'PDFObjRef' object is not iterable"
## Describe the bug

Got

[code]

## Code to reproduce the problem
[code]

## Environment

- pdfplumber version: 0.5.24
- Python version: 3.8.1
- OS: Windows

[2020-11-23 10:38] samkit-jain commented on #316
Hi @Abdur-rahmaanJ Appreciate your interest in the library. Would it be possible for you to share a PDF to demonstrate this issue? Will help us in reproducing and fixing the issue. Please remove any sensitive information from the PDF before sharing it here.

[2020-11-23 11:04] Abdur-rahmaanJ commented on #316
Try it on any research gate pdf. If you dont get the error on windows, i'll send you the exact pdf

[2020-11-23 13:00] samkit-jain commented on #316
I chose [this](https://www.researchgate.net/publication/344552831_The_Role_of_Race_and_Gender_in_Teaching_Evaluation_of_Computer_Science_Professors_A_Large_Scale_Analysis_on_RateMyProfessor_Data) PDF and it ran fine for me. I got
[code]
as the output

The thing to note is that I am using Ubuntu and not Windows. If for the PDF I used, you are seeing the same error, then, it might be OS specific. If

[2020-11-23 19:23] Abdur-rahmaanJ commented on #316
Try checking [this](https://www.researchgate.net/publication/41213159_Shift_work_interventions_for_reduced_work-family_conflict) one

[2020-11-24 10:48] samkit-jain commented on #316
Thank you for sharing the PDF @Abdur-rahmaanJ The issue is coming because the PDF has a metadata field by the name `Changes` which is a list of `PDFObjRef` objects. I am not sure if that is allowed by the PDF specifications (linking https://github.com/jsvine/pdfplumber/issues/297#issuecomment-718862330) but nonetheless, it is something that can be handled in the code. I shall raise a PR for it soo

[2020-11-24 10:57] Abdur-rahmaanJ commented on #316
XD since this was the first PDF checked, i assumed pdfplumber was broken!

[2020-11-26 10:15] trrk opened #317 "Multiple lines are merged into one line"
## What are you trying to do?
Cropped page text extraction

## What code are you using to do it?
[code]

## PDF file
[abcde.pdf](https://github.com/jsvine/pdfplumber/files/5602011/abcde.pdf)

## Expected behavior
[code]

## Actual behavior
[code]

## Screenshots
None

## Environment
- pdfplumber version: 0.5.24
- Python version: 3.6.9
- OS: Linux

## Additional context
When the crop range contains

[2020-11-29 01:12] markfirmware opened #318 "Can internal links be extracted?"
(Asked previously at https://github.com/pdfminer/pdfminer.six/issues/536 which produced a good answer - the list of the destinations of all the links - thanks @pietermarsman - but I still need the text that is seen in the rectangle of the link. In the example below, the text I am expecting is RXD.)

On page 154:
https://infocenter.nordicsemi.com/pdf/nRF51_RM_v3.0.1.pdf#page=154

there is a link fr

[2020-11-29 01:50] akaiuun12 opened #319 "Specifying setup.py encoding formats"
## Describe the bug
Installation using pip was failed with 'cp949 error'. The error occurs only to the Windows with specific language using cp949 format, Korean in my case. No problem on Mac, not tested on Linux.

This error is not specific to pdfplumber and can be found quite frequently. While Korean users can solve the problem individually, specifying the encoding formats of the setup file can s

[2020-11-29 06:01] jsvine commented on #319
Thank you for the detailed and well-described report, @akaiuun12! Thankfully, this has already been fixed in the `develop` branch via https://github.com/jsvine/pdfplumber/commit/78543284187586f8ca8428a73f93efb714152693 and will be available via PyPI in the next release.

[2020-11-29 06:01] #319 closed, assigned to nobody

[2020-11-29 12:25] samkit-jain commented on #317
Hi @trrk Appreciate your interest in the library. The `extract_text()` method adds a newline when the difference between the `doctop` of one character and the `doctop` of the next character is greater than `y_tolerance` (defaults to 3). In `bbox1`'s case, the `doctop` of the top row is 109.440 and the bottom is 111.567. Since the difference is 2.127 which is less than the default `y_tolerance` of

[2020-11-29 17:35] MarynaLongnickel opened #321 "Doesn't seem to be finding a table"
## What are you trying to do?

Just wanted to pull the table out of this pdf.

## What code are you using to do it?

[code]

## PDF file

![image](https://user-images.githubusercontent.com/37321032/100549127-c20a2680-3236-11eb-99f0-5910313bf0d7.png)

## Expected behavior

Would've been nice to get the table.

## Actual behavior

`
[['Remarks'], ['We would be grateful if you could verify this state

[2020-11-30 07:34] samkit-jain commented on #321
Hi @MarynaLongnickel Appreciate your interest in the library. Would it be possible for you to share the PDF as well. Redact any sensitive information from it. Also, looking at the screenshot attached, have you tried using the following table detection strategy?
[code]

The code would become
[code]

[2020-11-30 10:54] 12jakubpavel opened #322 "Between Two Words --bug"
## Describe the bug

If I convert a PDF file to text using the plumber library. So it happens to me that when the text is between two words, it converts random to text.

## Code to reproduce the problem

_${PDFText}=     Convert PDF To Text By Plumber      ${PDFText}
${PDFText}=        Join Spaces      ${PDFText}_

def get_pdf_text_by_plumber(path):
    text = ""
    with pdfplumber.open(path) as

[2020-11-30 12:39] a417886 opened #323 "how to extrat table in the picture"
how to extrat table in the picture,I want to use my bbox

[2020-11-30 13:33] samkit-jain commented on #323
Hi @a417886 Appreciate your interest in the library. I don't see any attached image. Request you to kindly edit your message with more details and a PDF.

[2020-11-30 13:48] samkit-jain commented on #322
Hi @12jakubpavel Appreciate your interest in the library. Request you to update the actual and expected behaviour sections as they both are the same (the text in quotes). Also, running `extract_text()` on the first page results in
[code]

The
[code]
section looks correct to me. What would you expect it to be?

[2020-11-30 14:30] a417886 commented on #323
I have used the OCR engine to get the texts and bbox of my table(picture,not pdf),I want to recognize the table strcture.I'm not sure whether pdfplumber can be done.

[2020-11-30 17:23] 12jakubpavel commented on #322
Hi. @samkit-jain  The point is that it will convert me to "YYYY-MM-DD Planet Express" or "YYYY-MM-DD By their Authorized Signatory". I need him to always do the same. Only one of them. It often happens to me that the first run of test passes but for the second time the same test with the same PDF does not pass

[2020-12-01 08:31] samkit-jain commented on #323
pdfplumber does not work on scanned PDFs. If you are able to get the coordinates of every character as well from your OCR engine, you can perhaps try the following:
1. Add a text layer on top of the scanned PDF based on the coordinates provided by OCR.
2. Crop the PDF per the bounding box of the table given by OCR.
3. Run table extraction using pdfplumber using the "text" strategy.
[code]

[2020-12-01 08:31] #323 closed, assigned to nobody

[2020-12-01 08:36] samkit-jain commented on #322
That's weird and unexpected. To clarify, you are saying that running a piece of code on the same PDF yields different results and not the same results on running multiple times. If so, could you share the .py file so that I can run and simulate the behaviour on my machine? The code you shared above is not properly formatted.

[2020-12-02 13:31] belisarenata opened #324 "Checking for duplicated pages"
I'm working with files that have multiple standard pages that are useless for my purpose and I want to remove them.
Is there any method or recommended way to check if there'duplicated pages within pdf?

[2020-12-03 02:37] jsvine commented on #324
Hi @belisarenata, and thanks for your interest in this library. Depending on how different each of the non-duplicated pages are, the simplest approach might be just to keep track of whether the result of `page.extract_text()` is unique (vis-a-vis previously-seen pages). If that's not precise enough, you could check both the text and, perhaps, a hash of all `x0` and `top` properties of each object.

[2020-12-03 02:37] #324 closed, assigned to nobody

[2020-12-03 03:57] jsvine commented on #322
Running `print(pdfplumber.open("Plumber-Bug.pdf").pages[0].extract_text())`, repeatedly on the same PDF, produces consistent results, as it did for you, @samkit-jain:

[code]

Perhaps this is an issue with the particular code/logic you're using @12jakubpavel? If not, feel free to reopen this issue with code that reproduces the problem. Thanks!

[2020-12-03 03:57] #322 closed, assigned to nobody

[2020-12-03 04:17] jsvine commented on #318
You can obtain the location of annotations via `page.annots`; each should have its bounding box specified by the (`x0`, `top`, `x1`, `bottom`) properties. You should be able to pass those coordinates to `page.crop(...)`, and then use `.extract_text(...)` to determine what text is below the annotation.

A toy example:

[code]

Does this answer your question?

[2020-12-03 04:18] #72 closed

[2020-12-03 08:40] 12jakubpavel commented on #322
At the weekend I will try to convert 100 the same PDF and send the results.

[2020-12-03 08:42] 12jakubpavel commented on #322
I used robot framewrok. Here is my code
![obrazek](https://user-images.githubusercontent.com/37021143/100985094-d6f2fc80-354b-11eb-88cc-32a60eb767ae.png)

[2020-12-03 14:19] markfirmware commented on #318
Thank you! I will be able to confirm the solution in the next couple of days. Thanks again!

[2020-12-03 14:57] zhiminliu opened #325 "Output table is null"
run comand print(extract_text_arr) can print word ,but print(extract_tables) is null

[testPdf.pdf](https://github.com/jsvine/pdfplumber/files/5636866/testPdf.pdf)

please help me thk ...

[2020-12-04 10:08] trrk commented on #317
I see. I like the default `y_tolerance` value, and I use the library from the interface that allows me to select an area on the screen. I would therefore like to keep `y_tolerance` at 3. But then I read the documentation again and realized that I might be able to use the filter function to remove the small characters at the edges. Thank you for your answer.

[2020-12-04 10:08] #317 closed, assigned to nobody

[2020-12-07 05:01] markfirmware commented on #318
Yes, this works. Thanks!

[2020-12-07 05:01] #318 closed, assigned to nobody

[2020-12-07 15:13] ivoytov opened #326 "Table detected on page with no visible tables"
## What code are you using to do it?

[code]

## PDF file

[p_ursa10_pg9.pdf](https://github.com/jsvine/pdfplumber/files/5653431/p_ursa10_pg9.pdf)

## Expected behavior

No table should be identified on this page.

## Actual behavior

A table is identified on the page. All other pages in this long document are processed correctly.

## Screenshots

(url
![page9](https://user-images.githubuserconten

[2020-12-08 15:00] samkit-jain commented on #326
Hi @ivoytov Appreciate your interest in the library. The table is getting identified because those lines are hidden. To filter out hidden `rect` objects from the page, you may refer to the code used in https://github.com/jsvine/pdfplumber/issues/311#issuecomment-726958591 I ran it locally and no table was extracted.

I am closing this issue. Feel free to reopen if you have any further queries.

[2020-12-08 15:00] #326 closed, assigned to samkit-jain

[2020-12-08 15:10] samkit-jain commented on #325
Hi @zhiminliu Appreciate your interest in the library. You may use the following table settings to correctly extract the table.
[code]
where `p` is the page object. A reproducible code example can be
[code]

Output:
![image](https://user-images.githubusercontent.com/15127115/101500916-18910680-3995-11eb-8395-28f9c37b41da.png)
[code]

I am closing this issue. Feel free to reopen if it is not resolv

[2020-12-08 15:10] #325 closed, assigned to samkit-jain

[2020-12-08 15:51] ivoytov commented on #326
Thanks Samkit

[2020-12-09 01:30] zhiminliu commented on #325
Thank you for the solution

[2020-12-09 14:20] #316 closed, assigned to samkit-jain

[2020-12-09 14:22] jsvine commented on #319
Now available in v0.5.25.

[2020-12-09 14:22] jsvine commented on #304
Now available in v0.5.25.

[2020-12-27 15:55] IlyaTroshchynskyi opened #328 "Merged two rows in one"
## What are you trying to do?

* A clear and concise description of your goals. *
Good evening. Please tell me why two adjacent rows in the table are merged into one

## What code are you using for this?

* Paste it here or attach a Python file. *

I use such settings for the table
            "vertical_strategy": "lines",
            "horizontal_strategy": "lines"
## PDF file

* Attach the PDF fi

[2020-12-28 06:29] samkit-jain commented on #328
Hi @IliaTroschiskiy Appreciate your interest in the library. Could you please provide a PDF that demonstrates this issue?

[2020-12-28 07:51] IlyaTroshchynskyi commented on #328
[fry_14.pdf](https://github.com/jsvine/pdfplumber/files/5746316/fry_14.pdf)

[2020-12-28 09:14] samkit-jain commented on #328
Thanks for sharing the PDF @IliaTroschiskiy I ran the `.debug_tablefinder(table_settings)` method on page 147 and this is the result I got
![image](https://user-images.githubusercontent.com/15127115/103202793-5ee4e000-4919-11eb-8ee9-80aeb094d91e.png)
which looks correct but the text like you mentioned was not extracted as expected. To figure out why, I ran `.draw_rects(page.chars)` and it gave the

[2020-12-28 21:55] IlyaTroshchynskyi commented on #328
Hi @samkit-jain. Thank you for advice and your attention to my problem. I would like to know how we can resolve this problem with pdfplumber. I will wait your answear. Also I downloaded the ghostscript but I have such problem. Can you look through and give some advice.
![image](https://user-images.githubusercontent.com/40124417/103245209-186aa200-4968-11eb-9614-9b7d9d05f1e1.png)

[2020-12-29 09:49] samkit-jain commented on #328
I am not a Windows user and neither does have access to one. Maybe you can try the solution provided on this similar StackOverflow question: https://stackoverflow.com/questions/9296631/keep-getting-error-messages-in-ghostscript-when-using-the-documented-ghostscript?

[2020-12-29 10:27] IlyaTroshchynskyi commented on #328
Thank you. But how is about solution with help pdfplumber?

[2020-12-29 11:26] samkit-jain commented on #328
I'll start work on it in some time. Can't promise a timeline.

[2020-12-29 11:34] IlyaTroshchynskyi commented on #328
Okey. I will wait your answear as long as necessary

[2020-12-29 17:51] jsvine commented on #328
Many thanks for looking into this, @samkit-jain! Given that @IliaTroschiskiy's problem seems to stem from a buggy PDF, and that the problem disappears once the PDF is fixed with Ghostscript, I am closing this issue. Feel free, however, to continue the discussion.

[2020-12-29 17:51] #328 closed, assigned to samkit-jain

[2020-12-29 22:11] IlyaTroshchynskyi commented on #328
Can you help me with Ghostscript? I have run this comand but I don't see any results. Maybe I did something wrong
gswin64c -o -sDEVICE=pdfwrite -sOutputFile=new.pdf fry_14.pdf

[2020-12-30 07:43] samkit-jain commented on #328
@IliaTroschiskiy Try `gswin64c  -o new.pdf -sDEVICE=pdfwrite fry_14.pdf`

[2020-12-30 13:29] IlyaTroshchynskyi commented on #328
Thank you. But I have such result with comand gswin64c -o -sDEVICE=pdfwrite -sOutputFile=new.pdf fry_14.pdf
![image](https://user-images.githubusercontent.com/40124417/103354149-6f30c280-4ab3-11eb-9716-31e25bee3d27.png)
When I used this comand gswin64c -o -sDEVICE=pdfwrite -sOutputFile=new.pdf fry_14.pdf
i have such result
![image](https://user-images.githubusercontent.com/40124417/103354215-a7d09

[2020-12-30 13:37] samkit-jain commented on #328
`-o` and `-sOutputFile` perform the same function. Perhaps, try running `gswin64c -sDEVICE=pdfwrite -sOutputFile=new.pdf fry_14.pdf` instead? I removed the `-o`

[2020-12-30 15:32] IlyaTroshchynskyi commented on #328
![image](https://user-images.githubusercontent.com/40124417/103363857-ddca4c00-4ac4-11eb-8b45-07cc0d757b3c.png)
Now I have such result. I can't understand why it trys open new file instead the fry_14.pdf

[2020-12-30 16:38] samkit-jain commented on #328
Does https://stackoverflow.com/a/32357364/7760998 solve the issue?

[2020-12-30 22:03] IlyaTroshchynskyi commented on #328
![image](https://user-images.githubusercontent.com/40124417/103383414-4fbd8800-4afb-11eb-9df2-a97540b06beb.png)
I run this comand gswin64c -o -sDEVICE=pdfwrite -dCompatibilityLevel=1.4 -dNOPAUSE -dQUIET -dBATCH -sOutputFile=test.pdf fry_14.pdf
I have result like on screen. I think it working program but it dosn't create new file

[2020-12-31 07:52] ai-motive opened #329 "I can't extract mathematical expression texts."
I wanna extract mathematical expression texts in pdf.

**Attached pdf** : [8_11074_XnE0n_4_p.pdf](https://github.com/jsvine/pdfplumber/files/5756741/8_11074_XnE0n_4_p.pdf)

**preview image ex)**

![스크린샷, 2020-12-31 16-46-42](https://user-images.githubusercontent.com/69468134/103400269-d0c26100-4b87-11eb-9f51-b5bf0c3d880d.png)

Looking at the second line, I want to get the following latex text outp

[2021-01-04 07:20] ibrahimshuail commented on #301
Hi @samkit-jain

Please find the below-attached code

[code]

[2021-01-04 07:20] ibrahimshuail commented on #301
the issue which we are facing

f"Bounding box {bbox} is not fully within "
ValueError: Bounding box (Decimal('0'), Decimal('50'), Decimal('1000'), Decimal('700')) is not fully within parent page bounding box (Decimal('0'), Decimal('0'), Decimal('612'), Decimal('792'))

[2021-01-04 10:20] samkit-jain commented on #301
@ibrahimshuail That is because your page has a width of 612 but in the crop method you are providing 1000. You can update the invocation like
[code]

[2021-01-04 10:20] #301 closed, assigned to samkit-jain

[2021-01-04 10:24] ibrahimshuail commented on #301
thanks this works @samkit-jain

[2021-01-05 12:02] shizidushu opened #330 "Can't find the last column of table"
## What are you trying to do?
The PDF contains country and its city/postal code. I want to get the country and its city name as a pair and country and its postal code as another pair.

## What code are you using to do it?
[code]

## PDF file

[Zipcodes_OPA_ODA-FEDEX.pdf](https://github.com/jsvine/pdfplumber/files/5769963/Zipcodes_OPA_ODA-FEDEX.pdf)

## Expected behavior

I want to get all columns.

[2021-01-05 12:42] samkit-jain commented on #330
Hi @shizidushu Appreciate your interest in the library. As you might have seen in the screenshot that there is a large gap between where the horizontal line ends and the vertical line starts
![image](https://user-images.githubusercontent.com/15127115/103647221-f0d79300-4f80-11eb-9083-6620776a759d.png)
To intersect these lines so that form a cell, you can use the `intersection_tolerance` key in the

[2021-01-05 12:42] #330 closed, assigned to samkit-jain

[2021-01-05 21:22] janandreschweiger opened #331 "Extract paragraphs"
Hey everyone,
my firm plans on using your great framework for our search engine. It is necessary for us to split large pdf-files into smaller paragraphs.

Unfortunately, when reading a pdf file like this http://kib.kiev.ua/x86docs/Intel/5LP/335252-001.pdf the paragraphs are separated by only one line break. It would be great if there is an option for detecting paragraphs (or large spaces in the te

[2021-01-06 06:07] flyingpig-yf opened #332 "STSong-light typeface not recognized"
Hello，I am applying pdfplumber to parse the pdf with STSong-light typeface but I got all blanks
[‘ ‘，‘ ‘，‘ ‘，‘ ‘]
pdfminer.six cannot recognize the characters？Any solutions？
pdfminer.six 20200517
pdfplumber 0.5.25
Python37
Thanks.

## PDF file
[demo.pdf](https://github.com/jsvine/pdfplumber/files/5774123/demo.pdf)

## code
import pdfplumber
s = {"vertical_strategy": "lines",
    "horizontal_strate

[2021-01-06 08:45] samkit-jain commented on #331
Hi @janandreschweiger Appreciate your interest in the library. Unfortunately, this is something not supported out-of-the-box but we plan on having this feature integrated in pdfplumber. I am closing this issue since it is a duplicate of #10 and #295 .

If you don't want to manually calculate the boundaries, may I suggest you to try [pdftotext](https://www.xpdfreader.com/pdftotext-man.html) instead

[2021-01-06 08:45] #331 closed, assigned to samkit-jain

[2021-01-06 08:55] samkit-jain commented on #170
@jsvine A similar issue #332 has been raised here. It also contains the PDF. One of these can be closed in favour of the other.

[2021-01-06 09:18] samkit-jain commented on #332
Hi @flyingpig-yf Appreciate your interest in the library. I haven't looked into this deeply but my initial assessment would be that the issue is because the font is not embedded in the PDF. Here's a screenshot
![image](https://user-images.githubusercontent.com/15127115/103750650-17eb9e80-502d-11eb-9f34-aa244ebb7e7f.png)
Whether pdfminer.six should be able to substitute the font, that I am not sure

[2021-01-06 13:43] jsvine commented on #332
Thanks, @samkit-jain! And @flyingpig-yf, when you run `pdfminer.six`'s [`pdf2txt.py` tool](https://pdfminersix.readthedocs.io/en/latest/tutorial/commandline.html), does it recognize those characters?

[2021-01-06 13:43] #170 closed

[2021-01-06 13:56] samkit-jain commented on #332
Nope. Didn't recognise for me.

[2021-01-06 13:57] jsvine commented on #329
Hi @ai-motive, and thank you for your interest in this library. It does not currently provide any special support for mathematical expressions or LaTeX output. Closing this issue for now, but if someone in the community would like to try adding this support, feel free to discuss it here.

[2021-01-06 13:57] #329 closed, assigned to nobody

[2021-01-06 13:59] jsvine commented on #332
Thanks, @samkit-jain — I appreciate you looking into that. Closing this issue for now, as it appears to stem from `pdfminer.six`, rather than `pdfplumber`, and so is not easily addressed through this repository.

[2021-01-06 13:59] #332 closed, assigned to nobody

[2021-01-06 14:15] samkit-jain commented on #332
@flyingpig-yf I would suggest you raise an issue on the pdfminer.six' GitHub repo with the result of running `pdf2txt.py`.

[2021-01-09 02:21] mugiwara85 opened #333 "How to extract data from rectangles?"
Hi!

I have a pdf (I can't share it unfortunately). It contains multiple rectangles in cascaded style. Something like this:
- Rectangle1
  - Rectangle2
  - Rectangle3
    -  Rectangle4

In each rectangle is the text I need. I can find all rectangles on a given page like this:
`for page in range(pagecount):
    current_page = pdf.pages[page]
    print ("rectangles=", current_page.rects)`

But how c

[2021-01-09 13:24] samkit-jain commented on #333
Hi @mugiwara85 Appreciate your interest in the library. If you have the coordinates of the rectangles, you can use the `page.crop(...)` method to crop the page and then run `.extract_text(...)` on the cropped page which will give you the text inside the rectangle.

[2021-01-09 13:24] #333 closed, assigned to samkit-jain

[2021-01-10 07:33] sivakumar05 opened #334 "No space between words in extracted text"
Hi Jsvine\Others,

I'm using 'pdfplumber' library related functions to extract text data from pdf files. Except for one file, from remaining files, I could extract data correctly. Please find below for details.

Issue: In the extracted text I don't see space between words but space between words is present in input file.
------

Syntax used to extract text :
------------------------------
import p

[2021-01-10 11:31] samkit-jain commented on #334
Hi @sivakumar05 Appreciate your interest in the library. Could you please attach the PDF as well and the code you used to extract the text from it?

[2021-01-10 11:50] sivakumar05 commented on #334
[
[Vishwa_Srivastava_CV_Sep15.pdf](https://github.com/jsvine/pdfplumber/files/5792537/Vishwa_Srivastava_CV_Sep15.pdf)
](url)

Syntax:
import pdfplumber
filename='Vishwa_Srivastava_CV_Sep15.pdf'
with pdfplumber.open(filename) as pdf:
first_page = pdf.pages[0]
text = first_page.extract_text().split('\n')

text=text.lower()

[2021-01-11 06:45] tscrosb opened #335 "Unrecognized Font"
## What are you trying to do?

I am using pdfplumber to look for 12 digit strings in a PDF. My code worked when the font was Helvetica, but stopped working when I changed font to stsong-light

## What code are you using to do it?

for filepath in glob.iglob(r"C:\Users\thomascrosbie\Desktop\ALL ANALYSIS\ANALYSIS_6\*.pdf"):
    print(filepath)
    pdf_file = filepath
    excel_output = set()
    wit

[2021-01-11 09:14] samkit-jain commented on #334
Thanks for sharing the PDF @sivakumar05. The `.extract_text(...)` methods takes in 2 optional arguments `x_tolerance` and `y_tolerance`.

* `x_tolerance` - Adds a space where the difference between the `x1` of one character and the `x0` of the next is greater than `x_tolerance`. Defaults to 3.
* `y_tolerance` - Adds a newline character where the difference between the `doctop` of one character and

[2021-01-11 09:14] #334 closed, assigned to samkit-jain

[2021-01-11 09:20] samkit-jain commented on #335
Appears to be a duplicate of #332 If the text isn't recognised when you run pdfminer's pdf2txt as described in https://pdfminersix.readthedocs.io/en/latest/tutorial/commandline.html#pdf2txt-py, I would recommend you to raise an issue over at https://github.com/pdfminer/pdfminer.six/issues. If it is recognised, then please reopen this issue and share the PDF as well.

[2021-01-11 09:20] #335 closed, assigned to nobody

[2021-01-17 07:11] gqh1995 opened #336 "tables in a page getting wrong order"
Hello,

First thank you for this great library, it really help me to quick process pdf files.

When i use **page.extract_tables** to extract tables in a same page, i get tables in a wrong order.

Why this problem occurs?

Thanks a lot for answer me

[2021-01-17 10:52] samkit-jain commented on #336
Hi @gqh1995 Appreciate your interest in the library. Could you please provide the PDF and a reproducible Python code along with the expected and actual output?

[2021-01-18 01:41] gqh1995 commented on #336
@samkit-jain
![image](https://user-images.githubusercontent.com/30197534/104863450-d8984880-5970-11eb-88ec-0d9dbca064a6.png)

[code]

[['公路技术\n等级', '车道数', '用地指标基准值', '编制条件', None], [None, None, None, '路段交通量Q（peu/d）', '大型车比例u（%）'], ['高速公路', '八', '2.5000', '60000≤Q＜80000', '20＜μ≤30'], [None, '六', '2.1333', '45000≤Q＜60000', '20＜μ≤30'], [None, '四', '1.6667', '25000≤Q＜40000', '20＜μ≤30'], ['一级公路', '六',

[2021-01-18 23:54] jsvine commented on #336
Hello, @gqh1995. Could you provide the *PDF file* rather than a screenshot of the PDF? Because `pdfplumber` operates only on PDFs and not image files, it will be difficult to debug your issue otherwise.

[2021-01-19 01:39] gqh1995 commented on #336
[test1.pdf](https://github.com/jsvine/pdfplumber/files/5833111/test1.pdf)
@jsvine

[2021-01-19 10:01] samkit-jain commented on #336
Thanks for sharing the PDF @gqh1995 I have raised PR #338 that should resolve the issue.

[2021-01-20 02:19] gqh1995 commented on #336
@samkit-jain thanks a lot，the problem is solved.

[2021-01-20 06:18] #336 closed, assigned to samkit-jain

[2021-01-22 06:43] lijuanLin opened #339 "problem when extracting table without horizontal line"
## What are you trying to do?
 i am trying to extract tables from pdf files, but if without horizontal line, the content of the first row will be missing.

## What code are you using to do it?
import pdfplumber
pdf = pdfplumber.open("0.pdf")
p = pdf.pages[5]
ts = {"vertical_strategy": "lines", "horizontal_strategy": "lines"}
tables = p.extract_tables(table_settings=ts)
print(tables[0][0])

## PDF

[2021-01-22 14:21] jsvine commented on #339
Hi @lijuanLin, and thanks for your interest in this library. In cases like this, I typically calculate the topmost position of all available lines to determine where the top horizontal line *should* be, and then pass that positioning via the `explicit_horizontal_lines` setting. For instance, for your example:

[code]

(Here we use `p.edges` instead of `p.lines` because the things that look like li

[2021-01-23 12:10] arlyon commented on #91
I am trying to manipulate some pdfs and have moved over to asyncio for the networking side, so I decided to stick all of this in a threadpool which the library doesn't handle very well. Inconsistent exceptions leads me to think that there are data races going on, and the PDFs are being changed out while they are being manipulated.

Is there shared state or global data? Some examples of the various

[2021-01-23 23:32] jsvine commented on #91
Hi @arlyon, and thanks for chiming in! I'm curious to see whether there's something we can improve here with pdfplumber. Could you explain a little bit more about what you mean in this sentence?:

Even better would be a short piece of code that demonstrates it 🙏!

[2021-01-24 22:30] arlyon commented on #91
I'll see if I can whip up an example. My first thought is putting any of the shared parsing data structures behind a lock, but I'm not familiar with the code (maybe the issue could be coming from pdfminer ..?).

[2021-01-25 01:55] lijuanLin commented on #339
hi, jsvine, thanks for your help, your code works well for me,  i will close this issue, thank you.

[2021-01-25 01:55] #339 closed, assigned to nobody

[2021-01-26 21:17] Spiritus44 commented on #315
Hello,

I am in the same trouble as @bimmlerd .
It would be great to update the pdfminer.six to the last version (currently 20201018). In my case it's the pdftitle program which depends on a more recent version of pdfminer.six...

@jsvine Do you have progressed on this point ?

Thank you for your work !

[2021-01-27 22:32] jsvine commented on #315
Hi @Spiritus44. I'm still waiting for a pdfminer.six PR to be merged. In the meantime, however, you can manually upgrade the library to the latest version via `pip install pdfminer.six==20201018`.

[2021-01-27 23:20] jsvine commented on #321
Closing this issue due to inactivity. And @MarynaLongnickel, did @samkit-jain's suggestion help?

[2021-01-27 23:20] #321 closed, assigned to samkit-jain

[2021-01-27 23:21] jsvine commented on #225
Closing due to inactivity.

[2021-01-27 23:21] #225 closed

[2021-01-27 23:31] jsvine commented on #16
Hi @Kirkman, I'm catching up on a few old issues and came back across this one. I realize you probably have moved on from this particular challenge, but for the sake of responding:

I can't think of a simple, library-generalizable approach that would provide the functionality sought. I think the best approach for tables like these (which, in some respects, depend on human spatial reasoning skills

[2021-01-27 23:31] #16 closed

[2021-01-27 23:32] jsvine commented on #28
Closing this now-done issue. Per merged PR above, this feature was added last year! 🎉

[2021-01-27 23:32] #28 closed

[2021-01-27 23:34] jsvine commented on #60
Hi @oronanschel, just checking back on this. Do you have a PDF you can share that demonstrates the issue?

[2021-01-27 23:35] jsvine commented on #81
(Closing this issue, but keeping it pinned so that other people can benefit from it.)

[2021-01-27 23:35] #81 closed

[2021-02-01 08:17] jackstraws opened #343 "Rect edges can't be extracted correctly from some pdf"
## Describe the bug

*When i prepare to extract the tables in some pdf, i find that the tables rect edges or lines can't be extracted, but the tool ``camelot`` can find these lines in same pdf*

### the 1st pdf:
[err_test1.pdf](https://github.com/jsvine/pdfplumber/files/5902526/err_test1.pdf)

when i debug the code after pdfplumber.pdf.PDF(file_path), i find the edges' coordinates have nagetive va

[2021-02-04 04:40] jsvine commented on #343
Thanks for raising these issues, @jackstraws!

## On the 1st PDF

I'm not sure *why* the PDF objects with negative-value coordinates, but (a) it seems to be intrinsic to the PDF, and (b) I don't think the negative values are causing problems here.

What is odd and potentially problematic, however, are how the rectangles are specified. Running this code:

[code]

... produces this:

![err_test1](ht

[2021-02-04 08:29] jackstraws commented on #343
Thanks for your help, and it's a useful way to parse some pdfs which like the 2nd pdf.

I also noticed that ``pdfminer.six`` has a wrong result of the 1st pdf(negative coordinate values)

[2021-02-04 10:46] toby2 commented on #10
I am also interested in this. Did you give this a try @jsvine ?

[2021-02-04 13:56] jsvine commented on #10
I've sketched out some possible implementations, but haven't made the time yet to code/debug them. Thank you for noting your interest, however; it's useful information.

[2021-02-07 19:33] jsvine commented on #343
Great, glad to hear it! On this note:

Yes, `pdfplumber` depends entirely on `pdfminer.six` for extracting coordinate values. If you believe the extracted coordinates are wrong, it's worth raising an issue in that repository's issues.

[2021-02-09 00:24] gauravshegokar commented on #193
There is an issue with pdfminer or pdfplumber,

If you want to get around this - use the following code snippet. I have used the code from @rosswf and improved it for reading a batch of pages instead of a single page at a time, and hence is very fast.

[code]

[2021-02-10 04:42] jsvine commented on #193
Thanks for re-flagging this. Based on some testing, I think there's a more straightforward solution — one which does not require you to open and close the PDF multiple times:

[code]

If this approach works, I'll aim to get a more convenient page-closing method into the next release.

[2021-02-10 14:04] jsvine commented on #193
Update: Hah, I forgot that `pdfplumber` already has an (undocumented) way of doing this :)

[code]

[2021-02-13 23:59] jsvine commented on #91
I spent some time today looking into this, and have a partial answer. Commit https://github.com/jsvine/pdfplumber/commit/a019517346ff84b914fc20c399ba15767957f3f9 makes some small changes — assigning the `device` and `interpreter` at the page level, rather than PDF level — that eliminates the initial (and most common) exception @samkit-jain was seeing, based on the code he shared. However, it does

[2021-02-14 15:43] Shiwei-Du commented on #343
Thank you jsvine,
Thank you jackstraws.
Actually, I had the same issue like jackstraws.  Now it works !

[2021-02-20 07:30] ibrahimshuail opened #356 "explicit_strategy issue found for few PDF files"
while parsing the few pdf files I get the below issue while removing the tabular data  from the normal text

"ValueError: If explicit_strategy == 'explicit', explicit_vertical_lines must be specified as a list/tuple of two or more floats/ints."`

[2021-02-20 17:12] jsvine commented on #356
Please provide the relevant code used, as well as the `pdfplumber` version. Thanks.

[2021-02-20 23:27] MOHAMED-ENSA opened #357 "Is there a way to extract only text without tables ?"

[2021-02-21 22:33] au-82 commented on #86
I'm having similar issues with the table finder, I've check the page.object.items and I can see curve, char using this I have been able to extract some data from the table.

Looking at the data it is only processing the second bit of the table what you could say is the bottom half of the table.

[2021-02-22 06:28] sidaliu1014 opened #358 "is it capable to extract no-explicit-line table?"
Hello team,

I am trying to extract table, which doesnt have vertical line or horizontal line from attached pdf.

I tried table_settings = {
         "vertical_strategy": "text",
         "horizontal_strategy": "text",
     } but result wasn't good. could you kindly advise if any way to extract no-explicit-line table (highlighted in yellow)? thanks.
[p4 (3).pdf](https://github.com/jsvine/pdfplumbe

[2021-02-22 11:11] ibrahimshuail commented on #356
Please find the below code and the version used is 0.5.26.

[code]

[2021-02-22 21:04] ek-ok commented on #65
Is there any documentation to extract the color info using `pdfplumber`?

[2021-02-23 13:52] frascuchon opened #359 "Missing pdfminer layout related objects "textboxhorizontal" and "textlinehorizontal""
## Describe the bug

Hi. I'm not really sure if is a bug or an expected behaviour in newer versions, but the related pdfminer layout objects are missing under `page.objects` dict when passing `laparams` configuration.

## Code to reproduce the problem

[code]

## Expected behavior

Like previous versions, passing the `laparams` configuration on pdf creation, will make available layout objects.

##

[2021-02-23 14:03] jsvine commented on #359
Hi @frascuchon, and thanks for your interest in this library. I'll look into this.

[2021-02-23 14:08] jsvine commented on #358
Hello. I can think of two possible approaches you could try:

- Setting `explicit_horizontal_lines` and `explicit_vertical_lines` ([documentation here](https://github.com/jsvine/pdfplumber/#table-extraction-settings)), either hardcoded or based on calculations you devise.
- Using `page.crop(...)` to select only the table area, and then using your original `table_settings`.

You could also try anot

[2021-02-23 14:08] #358 closed, assigned to nobody

[2021-02-23 14:10] jsvine commented on #357
Hi @MOHAMED-ENSA, and thanks for your interest in this library. Please see issue #242 for a discussion of this topic.

[2021-02-23 14:10] #357 closed, assigned to nobody

[2021-02-23 14:16] jsvine commented on #356
Thanks. Try changing this:

[code]

... to this:

[code]

If that doesn't work, please attach the relevant PDF and I can take a closer look.

[2021-02-23 14:35] jsvine commented on #65
Currently there is not, but it is worth adding. In the meantime, color information should be available simply by examining the object dictionaries `pdfplumber` produces. For instance :`print(my_page.chars[0])`. (Look for `'stroking_color'` and `'non_stroking_color'`.)

[2021-02-23 14:59] ek-ok commented on #65
Thanks for your answer. Looks great, for my data `my_page.chars[0]['stroking_color']` shows `(0.31, 0.506, 0.741)`. I am guessing this is r,g,b? What is the difference between `stroking_color` and `non_stroking_color`? For my case, they show the same values for all characters.

[2021-02-25 13:37] jsvine commented on #65
PDFs have the ability to specify colors in many ways. RGB is common, and that does look like what you have here. But for a fuller understanding of the possibilities, see Section 4.5 of the [official PDF reference](https://www.adobe.com/content/dam/acom/en/devnet/acrobat/pdfs/pdf_reference_1-7.pdf). I'm not sure whether `pdfminer.six` provides access to enough detail for `pdfplumber` to determine t

[2021-02-25 17:17] ek-ok commented on #65
This is very helpful. Thank you!

[2021-02-26 13:38] ghost opened #362 "Error importing in ubuntu"
Hello! When i´m trying importing in ubuntu, this error is displayed:

[code]

[2021-02-26 13:40] jsvine commented on #362
My best guess is that your environment (or virtual environment) is using Python 2, rather than Python 3.

[2021-02-26 17:32] samkit-jain commented on #362
@betances It seems like you are using Python 3.5. The support for Python 3.5 was dropped in [version 0.5.23](https://github.com/jsvine/pdfplumber/blob/stable/CHANGELOG.md#0523--2020-08-15). Request you to upgrade to Python 3.6 or higher if you want to use pdfplumber 0.5.23 or higher else downgrade to pdfplumber 0.5.22 or lower.

[2021-02-26 17:32] #362 closed, assigned to nobody

[2021-02-26 17:33] jsvine commented on #362
Ah, good catch, @samkit-jain, and thanks for reading the traceback more carefully than I did! I concur.

[2021-02-27 10:31] ghost commented on #362
Thanks! :)

[2021-02-28 19:38] jsvine commented on #359
Thanks again for opening the issues, @frascuchon. Those objects should be accessible again in the latest release, `0.5.27`.

[2021-02-28 19:38] #359 closed, assigned to jsvine

[2021-03-06 05:40] sreeni5493 opened #368 "Font properties for word and characters"
Can we get all the font properties such as orientation of text, font bold or italics or underline, font color (Stroke color and fill color)?

[2021-03-06 15:52] jsvine commented on #368
## For characters

- Stroke color and fill color should already be available via the `stroking_color` and `non_stroking_color` properties (see https://github.com/jsvine/pdfplumber/issues/65#issuecomment-784246228)
- Italics should be detectable via the name listed in the `fontname` property
- Orientation is available via the `upright` property
- Underline is not a font property, technically speaki

[2021-03-06 15:52] #368 closed, assigned to jsvine

[2021-03-08 04:38] sreeni5493 commented on #368
[rotation2.pdf](https://github.com/jsvine/pdfplumber/files/6098930/rotation2.pdf)

Hi please check this PDF. What I want is to know which orientation each text is. For example: The word "Ninety" is 90 degrees in anti-clockwise. Where is this information stored. upright just gives True or False. Can we get orientation or angle of text (like 0 degree, 45 degree, 90 degree, etc)

[2021-03-08 06:25] sreeni5493 opened #369 "Can we have exclude box in Page.Crop functionality"
To exclude a list of boxes based on bounding box locations.

Also can Page Crop have capabilities to include multiple bbox to crop multiple areas. For including it is fine since we can run a for loop and get text inside mulitple crop box. But for excluding, this technique wont work.

[2021-03-10 12:25] mkl-public commented on #368
As an aside, the word "Ninety" is not only 90 degrees in anti-clockwise, it's also not drawn as text but as a series of vector graphics instructions. This complicates text extraction.

[2021-03-10 14:53] sreeni5493 commented on #368
so any non 0 oriented text, we cant get info on orientation of text? Or am I understanding this wrong? Is there any example where upright gives orientation apart from True?

[2021-03-11 06:51] sreeni5493 commented on #368
Also I re-checked. @mkl-public  "Ninety" is available as text. You can copy paste and also highlight in PDF. Issue is the text "Arbitrary" which I created in word as text and rotated by approximately 135 degree anti clockwise. I am unable to highlight this text in PDF. But ya "Ninety" is available as text.

[2021-03-13 23:53] jsvine commented on #369
Hi @sreeni5493, I agree: I think that could be a useful feature. Thanks for the suggestion. Adding it to my to-do list.

[2021-03-14 00:33] jsvine commented on #368
@sreeni5493: This is a tricky one, and may relate to the particular way Microsoft Word, which was used to create the PDF, generates rotated text. Let's take the "Ninety" as an example...

`pdfminer.six`, which `pdfplumber` uses to extract PDF information, defines `upright` in [this manner](https://github.com/pdfminer/pdfminer.six/blob/ef4787d8add35c84ed324e488a0683485b422f45/pdfminer/layout.py#L30

[2021-03-14 04:21] sreeni5493 commented on #368
@jsvine  There are some libraries such as TET from PDFLib which do that.

https://www.pdflib.com/fileadmin/pdflib/pdf/manuals/TET-5.2-manual.pdf

Maybe this could be of use as to how they do it. They have angle alpha which does this for them. Wondering how they capture this. For every character their trial version gives this data.

[2021-03-16 16:21] mkl-public commented on #368
@sreeni5493

I meanwhile found it in the content stream, yes, but Acrobat Reader here still doesn't allow me to select it. Weird.

But sorry for the incorrect aside...

[2021-03-18 10:43] sreeni5493 opened #382 "Can we get type of line,rect? (Dotted, Non Dotted, Empty box rects)"
I wish to differentiate a dotted line vs full line. attaching a sample here.
[Buprenorphine.pdf](https://github.com/jsvine/pdfplumber/files/6163296/Buprenorphine.pdf)
Here I want to ignore dotted lines but keep the non dotted lines. Is that possible.

Similarly in the below sample, there are empty rectangles in the below sample which leads to table extraction going bad. Very interesting as to how

[2021-03-18 13:03] jsvine commented on #382
Have you examined the way in which the dotted lines are represented in either (a) the raw PDF file, or (b) `page.objects`? That's usually my first step in trying to solve these sorts of questions for myself. Once you do that, report back here what you've found and we can discuss further.

[2021-03-18 19:05] alexreg opened #383 "`KeyError` raised when `laparams` set"
## Describe the bug

I get the following exception when calling `page.objects["char"]`. Note, this only occurs when I open the PDF with `laparams` set.

[code]

## Code to reproduce the problem

[code]

## PDF file

https://mathscinet.ams.org/msnhtml/serials.pdf

## Expected behavior

No error (exception) should be raised.

## Actual behavior

The above exception (`KeyError`) is raised.

## Screen

[2021-03-18 20:00] jsvine commented on #383
Thanks for flagging. I'll take a look.

[2021-03-19 02:15] sreeni5493 commented on #382
okay thanks. Let me check and work on it.

[2021-03-19 02:16] sreeni5493 commented on #382
I obtained both sets of lines from lines using page.lines. I will check page.objects and see if there is any possibility there. Thanks

[2021-03-19 04:50] sreeni5493 commented on #382
Dotted lines and other lines are all line objects. No differentiation. Also in second case, there are empty rectangles with no visual boxes.

So it's all under lines or rects but no differentiation to tell whether its dotted or non dotted lines and in the case of rects same since there is no type of rect.

[2021-03-19 13:43] jsvine commented on #382
Can you paste some examples of line objects that represent the dotted lines vs. line objects that represent the solid lines? The more explicit and detailed issues are, the easier they are to resolve and the more useful they will be to other users. Thanks!

[2021-03-19 14:18] samkit-jain commented on #382
@sreeni5493 I was able to distinguish between the dotted and non-dotted lines using the `stroking_color` property of an edge.

For dotted lines
[code]
the result is
![image](https://user-images.githubusercontent.com/15127115/111792694-80d37a80-88ea-11eb-8003-3e9b4bf55354.png)

So, if you want to filter out all the dotted lines, you may use the following code:
[code]

Output

Do note that I only te

[2021-03-19 14:24] samkit-jain commented on #382
@sreeni5493 I was able to distinguish between the dotted and non-dotted lines using the `stroking_color` property of an edge.

For dotted lines, the `stroking_color` is `[1]`
[code]
![image](https://user-images.githubusercontent.com/15127115/111792694-80d37a80-88ea-11eb-8003-3e9b4bf55354.png)

So, if you want to filter out all the dotted lines, you may use the following code:
[code]

Output
![imag

[2021-03-19 14:29] samkit-jain commented on #382
This should give you an idea of how to proceed with distinguishing between different types of lines. You may also try saving all the objects as a CSV using https://github.com/jsvine/pdfplumber#basic-example and then try to find any unique patterns and draw those objects on an image and debug.

[2021-03-19 18:28] alexreg opened #386 "Passing something other than list to `extract_text` results in error"
## Describe the bug

This exception is raised when calling `pdfplumber.utils.extract_text` and passing a `chars` object that is an iterator (with no `__len__` attribute).
[code]

## Code to reproduce the problem

[code]

## Expected behavior

No error; `chars_iterator_obj ` should get converted to list.

## Actual behavior

Error is raised.

## Environment

- pdfplumber version: 0.5.27
- Python ve

[2021-03-19 23:03] jsvine opened #387 "Add guidelines for submitting pull requests"
At the very least, should indicate:

- That PRs should be submitted against `develop`, not `stable`
- That PRs should contain tests
- How to write new tests
- How to run tests
- How to run linter and reformat code

Anything else I'm forgetting?

[2021-03-19 23:04] jsvine commented on #386
I believe #385 fixes this and is merged, so closing this issue. Thanks @alexreg!

[2021-03-19 23:04] #386 closed, assigned to nobody

[2021-03-19 23:06] alexreg commented on #387
This looks good to me as a new contributor.

[2021-03-19 23:20] jsvine commented on #383
Thanks for flagging this, @alexreg. Commit/PR above should handle this. I'll close this issue when when/if the PR is merged.

[2021-03-19 23:26] jsvine opened #389 "Explain `top`/`doctop`/`bottom` vs. `y0`/`y1` in README.md"
See here:

- https://github.com/jsvine/pdfplumber/issues/198
- https://github.com/jsvine/pdfplumber/discussions/384

[2021-03-20 00:00] jsvine commented on #382
Thanks, @samkit-jain! From reading the raw directives in the `Buprenorphine.pdf` file, it  appears that this PDF is setting the graphics state's "line dash pattern" (see p. 217 of [the PDF spec](https://www.adobe.com/content/dam/acom/en/devnet/acrobat/pdfs/pdf_reference_1-7.pdf)).

`pdfminer.six` does parse and store the full graphics state internally, but it is not accessible via the library's in

[2021-03-20 05:20] sreeni5493 commented on #382
@samkit-jain Yes, I did the same in this case. But if you notice in the same PDF, there are dotted lines in Black in second page. Color idea is what I thought too to solve for this case, but like @jsvine mentioned, getting line dash pattern rather than say single straight line would help in solving it in a generalized fashion. I deal with data like this (Text from Pack Inserts from tablets) which

[2021-03-20 05:28] sreeni5493 commented on #382
With respect to second use case, I am attaching the rect object output:

[ZYDALIS TABS - PI - Kenya, Uganda - 26 10 2017_rects_output.pdf](https://github.com/jsvine/pdfplumber/files/6174955/ZYDALIS.TABS.-.PI.-.Kenya.Uganda.-.26.10.2017_rects_output.pdf)

I used a different library to display the rects in PDF itself rather than image. But you can clearly see, it is marking rects when there is absol

[2021-03-20 06:45] LiutongZhou opened #390 "crop + extract_text() raises KeyError when laparams is not set to None in pdfplumber.open"
## How to reproduce the Error
[code]
[code]

## Expected Behavior
Return the text of the page

## Working Fix
[code]
https://github.com/jsvine/pdfplumber/blob/694f9193cc13c3757dbe21af9c817dca32d9d5fc/pdfplumber/utils.py#L423

[2021-03-20 06:55] LiutongZhou opened #391 "relative=True in page.extract_text() not working"
## The Bug

setting relative box coordinates in `crop` and then do `extract_text` is not working. page.crop(box_coordinates, relative=True)

## Code to reproduce the problem
[code]

## PDF file
https://s22.q4cdn.com/407748750/files/doc_financials/2020/ar/2020-Proxy-Card.pdf

## Expected behavior
Return the text of the page

## Actual behavior
Return nothing

## Environment
- pdfplumber version: 0.

[2021-03-20 09:50] sreeni5493 opened #392 "Word extraction for non 0 degree characters is extracting characters and not combining characters to word when "Size" parameter is used"
[rotation2.pdf](https://github.com/jsvine/pdfplumber/files/6175231/rotation2.pdf)
[444444 (2).pdf](https://github.com/jsvine/pdfplumber/files/6175232/444444.2.pdf)
Both these files have 90 degree oriented text. These are extracted as single characters each when we use page.extract_words(). Is this something fixable by modifying tolerance (doesnt seem to work for me)

[2021-03-20 09:54] sreeni5493 commented on #392
I checked and find that some options in extra_attrs are modifying how word separations work. before I find out what it is, I will close this for now. Apologies for not identifying the bug clearly

[2021-03-20 10:12] sreeni5493 commented on #392
Figured out the issue

For both these PDFs adding extra_attrs=["size"] causes character to split. The rotation2.pdf document was created in Word with no change in font size. Similarly font size for 444444 (2).pdf 90 degree characters are also same. Wondering why "size" attribute is dividing characters as words.

words = page.extract_words(use_text_flow=True, extra_attrs=["size"])

With this code,

[2021-03-21 13:03] samkit-jain commented on #387
Suggestions:
* Adding oneself to the [list of contributors](https://github.com/jsvine/pdfplumber#acknowledgments--contributors)
* Update [CHANGELOG.md](https://github.com/jsvine/pdfplumber/blob/stable/CHANGELOG.md)

[2021-03-21 13:10] samkit-jain commented on #390
Hi @LiutongZhou, thanks for raising this issue. I think the issue you are facing is a duplicate of https://github.com/jsvine/pdfplumber/issues/383 @jsvine, Shall the PDF and the code example shared in the issue be added as a test case in #388 ?

[2021-03-21 13:20] samkit-jain commented on #391
Hi @LiutongZhou The issue you are facing is not necessarily a bug. The reason you are getting `None` when extracting the text on the cropped page is because the cropped region has no text. The cropped region is just a single point as you can see from the image representation of the saved page below.
![image](https://user-images.githubusercontent.com/15127115/111906282-cbcdc900-8a75-11eb-9561-a1e30

[2021-03-21 13:20] #391 closed, assigned to samkit-jain

[2021-03-21 23:40] jsvine commented on #390
Thanks @samkit-jain. In this case, I don't think we need to add a new PDF or test case beyond what's already in #338. The issue isn't really specific to any particular PDF, but just stems from the fact that `pdfminer.six`'s `LTAnno` objects (extracted when users pass `laparams` to `pdfplumber.open(...)`)  do not have bounding boxes.

[2021-03-21 23:55] jsvine commented on #392
For whatever reason the letters in "Ninety" have these sizes:

[code]

My best guess (given that [the raw PDF directives don't appear to encode this difference](https://github.com/jsvine/pdfplumber/issues/368#issuecomment-798808061), is that this comes from how `pdfminer.six` calculates sizes on rotated text — and that it has something to do with the fact that [Word didn't quite make that rotation

[2021-03-21 23:55] #392 closed, assigned to nobody

[2021-03-22 02:06] sreeni5493 commented on #392
Understood, Thanks. I will open it up there.

[2021-03-22 09:51] sreeni5493 opened #395 "Page 1 text extracted in Page 2 too"
[Buprenorphine.pdf](https://github.com/jsvine/pdfplumber/files/6181079/Buprenorphine.pdf)

[code]

Hi,

With the following code, a lot of text from Page 1 are extracted in both Page 1 and Page 2. For example: "MEDICATION GUIDE". This text in capital is present in page 1 only. But pages[1].extract_text() is returning this and page[0].extract_text() also has this. But it is not there in page 2 at al

[2021-03-22 10:11] samkit-jain commented on #395
In the PDF, there are certain out of page objects. For example, the word `MEDICATION` has negative coordinates.
[code]

To filter out such objects, you may crop the page like
[code]

[2021-03-22 10:16] laizezhong opened #396 "readpdf table result is None and text is None"
## MY python3.75 code：
`pdf = pdfplumber.open(r'abcd.pdf')
p0 = pdf.pages[0]
text = p0.extract_text()
print(text)
tables= p0.extract_tables()
print(tables)
`

the text result is None
the tables result is None
p0.objects.chars is []
why all the result is empty?  can anybody help me, thank you very much~

## PDF file
https://github.com/laizezhong/public/blob/2d350791f15f5b84601d4ca6612b304b910dc5a3/

[2021-03-22 10:26] sreeni5493 commented on #395
Thanks.

This worked. Closing the issue.

[2021-03-22 10:26] #395 closed, assigned to nobody

[2021-03-22 10:32] samkit-jain commented on #396
Hi @laizezhong Thanks for raising this and providing the PDF. This issue seems to be a duplicate of #170, #332 and #335. Hence, I am closing this issue.

Request you to run pdfminer's `pdf2txt` as described in https://pdfminersix.readthedocs.io/en/latest/tutorial/commandline.html#pdf2txt-py and if no text is extracted, raise an issue over at https://github.com/pdfminer/pdfminer.six/issues. If it i

[2021-03-22 10:32] #396 closed, assigned to nobody

[2021-03-22 10:59] laizezhong commented on #396
samkit-jain, Thank you ~
It work done when I upgraded the version of pdfplnumber from 0.5.24 to 0.5.27.
Thanks,

[2021-03-22 16:45] samkit-jain commented on #265
Another option could also be to revert the change and introduce 2 new table settings parameters `snap_x_tolerance` and `snap_y_tolerance` and let the user use `snap_x_tolerance` to combine the horizontal lines. The same can also be said for the vertical lines.

[2021-03-22 20:52] LiutongZhou commented on #391
Hi @samkit-jain , is the above statement still true even if I set `relative=True`  in the crop method? If so, what differentiates `relative=True` from `relative=False`?

I was expecting that `page.crop((a, b, c, d), relative=True)` as equivalent to ``page.crop((a * width, b * height, c * width, d * height),)``

Please help me understand it.

Thanks

[2021-03-23 01:17] situchen opened #397 "How to extract objects in PDF？"
Please describe, in as much detailHow to extract objects in PDF, for example, need to extract selected characters in the picture?
[text.pdf](https://github.com/jsvine/pdfplumber/files/6186204/text.pdf)

[2021-03-23 01:21] jsvine commented on #397
Hello, and thank you for your interest in this library. Please read the documentation in this repository's [README.md file](https://github.com/jsvine/pdfplumber/blob/stable/README.md), which explains how to use the library. If you still have questions after that, please describe the specific problem or confusion.

[2021-03-23 01:21] #397 closed, assigned to nobody

[2021-03-23 01:25] jsvine commented on #391
Hi @LiutongZhou, I think you may be misunderstanding the units of a bounding box. `(0, 0, 1.,1.)`  sounds like you may be trying to get the *full width and height* (since in some domains, 1 is equivalent to 100%). If that's your goal, then you will want something like this: `(0, 0, page.width, page.height)`

[2021-03-23 01:34] LiutongZhou commented on #391
Hi @jsvine. Thank you for your explanation. But I was hoping that `crop( (0, 0, 1. , 1.), relative=True)` would give me the same result as that returned by `crop( ( 0, 0, page.width, page.height), relative=False) `.

I assume this is the intention for having this optional parameter `relative`.

Is my understanding wrong?

[2021-03-23 01:38] jsvine commented on #391
Ah, now I better understand your question. Thank you for clarifying. Here is an explanation of the `relative` parameter, from [the documentation](https://github.com/jsvine/pdfplumber#the-pdfplumberpage-class):

[2021-03-23 01:51] LiutongZhou commented on #391
Okay, this is confusing :D

I would not be able to understand it if I hadn’t read the whole issue #245.

So `relative=True` is equivalent to `relative=False` when the whole page is being cropped. `relative=True` makes a difference only when it is called from a cropped page, in which case coordinates are relative to the origin (top left corner ) of the cropped region of the original page.

[2021-03-23 01:54] jsvine commented on #391
Yep, exactly! That's a great summary.

[2021-03-24 10:39] HTransistor opened #398 "PSKeyword' object has no attribute 'decode"
## Describe the bug
Probably a bug after some refactoring or because of new python version.

## Code to reproduce the problem

[code]

## PDF file

*Please attach any PDFs necessary to reproduce the problem.*

*If you need to redact text in a sensitive PDF, you can run it through [JoshData/pdf-redactor](https://github.com/JoshData/pdf-redactor).*

## Expected behavior

Extracted text from file

##

[2021-03-25 03:00] jsvine commented on #398
Thanks for raising this issue. It's a bit hard to debug, however, without an example PDF. Are you able to provide one that helps to reproduce this error?

[2021-03-25 08:26] HTransistor commented on #398
I got three different files causing this issue:

[epoxyshield-sealer-msds.pdf](https://github.com/jsvine/pdfplumber/files/6203104/epoxyshield-sealer-msds.pdf)
[febra-Silk-Teat-Wipes-QUAT-Free-MSDS.pdf](https://github.com/jsvine/pdfplumber/files/6203105/febra-Silk-Teat-Wipes-QUAT-Free-MSDS.pdf)
[file_msds_39.pdf](https://github.com/jsvine/pdfplumber/files/6203106/file_msds_39.pdf)

[2021-03-25 12:35] jsvine commented on #398
Hi @HTransistor and thanks again. Here's what I've found after looking into this:

The error for `file_msds_39.pdf` is raised `pdfminer.six` (upon which `pdfplumber` is built). You can see this in the stacktrace you've pasted above, but also by running this test program:

[code]
... which throws the same error. But I don't think that `pdfminer.six` is the problem, since `file_msds_39.pdf` file app

[2021-03-25 13:22] samkit-jain commented on #398
Additionally, if you try repairing the PDF via Ghostscript, it works fine. Command to run
[code]

Attaching the file here. I ran on `file_msds_39.pdf`.
[output.pdf](https://github.com/jsvine/pdfplumber/files/6204938/output.pdf)

[2021-03-25 18:15] HTransistor commented on #398
@jsvine you are right, I just checked the other two files work, but `file_msds_39.pdf` not.
I just wonder why `file_msds_39.pdf` is malformed. The pdf by first glance looks okay...

@samkit-jain that works fine. Thanks!

[2021-03-26 11:47] #398 closed, assigned to nobody

[2021-03-26 16:26] mkl-public commented on #398
@HTransistor

Inspecting the PDF around 148533 from _Could not read object whilst reading file file_msds_39.pdf at position 148533_ one finds

[code]

As you see a line break is missing between `endobj` and `16 0 obj`. In my experience that is a seldom seen issue, I don't remember seeing such missing line breaks except between revisions, right after the `%%EOF` of the former revision..

The other

[2021-03-27 06:00] bharath-kumarn opened #399 "Why pdfplumber is giving table as a list [while we extracting table from the pdf file]"
## Why pdfplumber is giving table as a list [while we extracting table from the pdf file]

*A clear and concise description of what the bug is.*
Why pdfplumber is giving table as a list instead of that you can return as a dataframe or as a table at it

<pdfplumber.pdf.PDF object at 0x7fc440449750>

[['Mainland China', '', '', '292,812', '', '', '', '17,987', '', '', '', '303,789', '', '', '', '33,

[2021-03-31 00:20] jsvine commented on #399
That output is a list of lists, with each of the inner lists representing a row in the table. If you'd like to convert this plain-Python representation into a Pandas DataFrame, you can use `df = pd.DataFrame(page.extract_table())`.

[2021-03-31 00:20] #399 closed, assigned to nobody

[2021-03-31 00:28] jsvine commented on #265
Thanks, @samkit-jain! I think giving users the option to set `snap_x_tolerance` and `snap_y_tolerance` independently is a good idea, regardless. I'll add it to my todo list. I'm having trouble, though, visualizing how these options would apply to this particular issue. Could you expand the idea slightly?

[2021-03-31 05:01] sreeni5493 opened #400 "extract_words sometimes extracts chracters from multiple lines and forms them as words"
[Artwork_cokeA.pdf](https://github.com/jsvine/pdfplumber/files/6233840/Artwork_cokeA.pdf)
In this PDF, for the text block "50 CALORIES PER CAN". extract words returns the output as the following: 50CALORIESPER as single word, then PER as another word and CAN as another word.

page = page.crop((0, 0, page.width, page.height))
words = page.extract_words(use_text_flow=True)

Issue is if I add extra_a

[2021-03-31 07:46] samkit-jain commented on #400
Hi @sreeni5493 If you draw the characters' bounding boxes, you'll notice that the word 50, actually stretches to the bottom and intersects with the text below. Screenshot:
![image](https://user-images.githubusercontent.com/15127115/113104616-64a2d800-921e-11eb-9cea-501eccdf5173.png)
Because of this overlap, the word is getting extracted as `50CALORIESPER CAN` and not `50 CALORIES PER CAN`.

You ma

[2021-03-31 08:03] samkit-jain commented on #400
With
[code]
you'll get the text as
[code]
Now, you have 2 strings - one that has the horizontal characters separated by a space and one that has the vertical characters. Combining them together will yield the proper result.

A simpler alternative would have been to provide a custom attribute to the `extra_attrs` in which if the character is horizontal, we use the height and if vertical, use the wi

[2021-03-31 09:36] zhushiyuan-star commented on #182
Have you implemented this function? Make the text extracted from the table contain the following information:
text、fontname 、size、adv 、upright 、height 、width 、x0、x1、 y0 、y1、top 、bottom、doctop 、object_type

[2021-04-01 00:36] wind-chh commented on #182
“解决了没有” = "解决了没有?" = “Has this feature been implemented?”

[2021-04-01 00:46] wind-chh commented on #182
these informations (text, fontname, size, ...) associated with chars of page. Page.extract_table() returns only text information, you can make a slight modify to return chars which contains all these informations.

[2021-04-02 03:20] cmicek1 commented on #244
Is there no general solution to this problem though? I have a dataset of 100 or so scientific papers I'm trying to parse, and having text extraction just smush the columns together is a bit problematic when I'm trying to see certain parts in context.

[2021-04-02 09:29] joesmith0 opened #403 "Annotation coordinates mismatch on landscape-oriented pages"
## Describe the bug

(In the context of PDF documents with a mix of landscape and portrait-oriented pages).
On the landscape-oriented pages, the bounding boxes for highlight annotations (`x0, x1, top, bottom`) do not match the expected values for the words they should encapsulate. `x0` can be negative in these cases which suggests the annotation thinks the page is in a portrait orientation.

## Co

[2021-04-02 12:07] sreeni5493 commented on #400
Hi,

Isnt it a better algorithm to use distance between bottom of a character and bottom of subsequent character. For example:

in the above example '0' (from 50) and  'C' (from Calories) have their bottom of their character much far apart than "0" (from 50) and "5" (from 50).

So for upright, we should ideally use distance between both "bottom" and then threshold. For non upright characters we sh

[2021-04-05 08:31] sreeni5493 opened #404 "Handling curved characters and extracting words for curved characters"
[Artwork_bavaria.pdf](https://github.com/jsvine/pdfplumber/files/6257128/Artwork_bavaria.pdf)
For this example: There are curved text. The curved text have the upright flag as "True". Also when extracting words using extract_words, they split into characters or half broken words. Anyway this could be solved?

[2021-04-06 16:29] samkit-jain commented on #244
@cmicek1 Could you please share a sample PDF that you are dealing with and elaborate on the problem that you are facing along with a reproducible code and the result that you are getting?

[2021-04-06 16:38] samkit-jain commented on #404
Possibly a duplicate of #400

[2021-04-06 16:41] samkit-jain commented on #403
Hi @joesmith0 Appreciate you using the library and raising a bug report. In order to further investigate this, request you to share a PDF that demonstrates this issue as well. Please remove any sensitive information from the PDF before sharing it.

[2021-04-07 07:26] SasiAravind commented on #403
Hi @samkit-jain @jsvine   Is there any way to search keywords containing space e.x =['Team size','Company Name'].
while using **"page.extract_words()"**

[2021-04-08 03:28] jsvine commented on #404
Very interesting example PDF, thank you for sharing. Outside of the fact that `pdfminer.six` has a very narrow definition of "upright" — see prior discussion [here](https://github.com/jsvine/pdfplumber/issues/368#issuecomment-798808061) — I don't see a bug here. But — per that same discussion — I do think it's worth trying to get `pdfminer.six` to expose each character's `matrix` property, which w

[2021-04-08 03:28] #404 closed, assigned to nobody

[2021-04-08 03:34] jsvine commented on #244
This StackOverflow page provides some interesting insight into this very question: https://stackoverflow.com/questions/22675690/if-identifying-text-structure-in-pdf-documents-is-so-difficult-how-do-pdf-reade

[2021-04-08 10:51] joesmith0 commented on #403
Hey @samkit-jain, unfortunately I wasn't able to get the redaction tool to work on my PDFs... Do you have any PDFs at hand with a mix of portrait and landscape pages? The characters should all be upright (same direction) despite the orientation.

[2021-04-08 11:47] OK-JH commented on #81
I have the same problem, and my solution is: uninstall the lasted version of imageimagick and install the ImageMagick-6.9.12-6-Q16-x86-dll.exe (besides , my python is 32bit.)

[2021-04-08 13:51] aaronzhengwl opened #408 "wapped string in a cell cannot be read correctly"
## Describe the bug

*A clear and concise description of what the bug is.*

## Code to reproduce the problem

*Paste it here, or attach a Python file.*

## PDF file

*Please attach any PDFs necessary to reproduce the problem.*

*If you need to redact text in a sensitive PDF, you can run it through [JoshData/pdf-redactor](https://github.com/JoshData/pdf-redactor).*

## Expected behavior

*What did

[2021-04-08 13:52] aaronzhengwl commented on #408
this is the pdf https://pdf.dfcfw.com/pdf/H2_AN202010291424595445_1.pdf?1604005808000.pdf
You can check its first table

[2021-04-08 13:57] jsvine commented on #408
Hi @aaronzhengwl, and thanks for your interest in this library. So that we can efficiently examine your case and for the benefit of other people reading it, please complete the information requested in the issue template.

[2021-04-08 14:06] aaronzhengwl opened #409 "conflict with pdfmine3k in installing with pip3"
## Describe the bug

*A clear and concise description of what the bug is.*
It looks this tool needs packet pdfmine, if I have installed pdfmine3k which is named pdfmine in python lib.
Then pdfplumer cannot work. Vice Versa.

## Code to reproduce the problem

*Paste it here, or attach a Python file.*

## PDF file

*Please attach any PDFs necessary to reproduce the problem.*

*If you need to redact

[2021-04-09 02:07] jsvine commented on #409
This tool does not use `pdfminer3k`, but rather `pdfminer.six`. Installing `pdfplumber` automatically installs a compatible verison of `pdfminer.six`. If you have already installed `pdfminer3k`, you will need to uninstall it. I recommend:

[code]

[2021-04-09 02:07] #409 closed, assigned to nobody

[2021-04-12 05:47] situchen commented on #285
![image](https://user-images.githubusercontent.com/63528537/114346132-80e73300-9b95-11eb-9fbc-8df7e398cf74.png)
![image](https://user-images.githubusercontent.com/63528537/114346141-85135080-9b95-11eb-8143-bea08de9597f.png)

How to extract the merged text in the table is currently separated, for example: Base and Material, I hope these two are connected together, the expected result: Base Material